# must be ended with a new line "LF" (Unix) and not "CRLF" (Windows)
*/10 * * * * /code/admin_site/manage.py check_notifications
5 19 * * 7 /code/admin_site/manage.py clean_up_database
# An empty line is required at the end of this file for a valid cron file.
