{% load i18n %}

          <div class="site-btns me-2 btn-group">
            <a class="btn btn-md" href="{% url 'site' slug=site.url %}" >
              <span class="pe-4">
                <span class='material-icons'>home</span>
                {{site.name}}
              </span>
             <span class="material-icons" title="">computer</span>{{site.pcs.count}}
            </a>
            {% if site_membership.site.customer == site.customer and site_membership.site_user_type == site_membership.CUSTOMER_ADMIN and site.customer.sites.count > 1 %}
              <button class="btn btn-md dropdown-toggle" data-bs-toggle="dropdown">
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                {% if site.pcs.count < 5 %}
                  <li>
                    <a href="{% url "site_delete" site.uid %}" class="p-2 text-decoration-none">
                      <span class='material-icons'>delete</span>
                      {% translate "Delete site" %}
                  </a>
                  </li>
                {% else %}
                {% translate "This Site has 5 or more registered Computers and therefore can't be deleted" as no_delete %}
                  <li>
                    <span class='material-icons'>delete</span>
                    <span class="icon-remove" title="{{no_delete}}">{% translate "Delete Site" %}</span>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
