{% extends "sitebase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_type_class%}sites{% endblock %}

{% block header_title %}
  {% translate "Total number of BorgerPC's" as total_bpc_str %}
  {% translate "Total number of Kiosk PC's" as total_kiosk_str %}
  {% translate "Total number of" as total_release_before_str %}
  {% translate "Computers" as computers_str %}
  {% translate "Computers total" as computers_total_str %}
  {% translate "Administrate" %} <em>{% translate "Sites" %}</em>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Sites" %}: {{site_list|length}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{{computers_total_str}}: {{total_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Activated:" %} {{total_activated_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Online" %}: {{total_online_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark" title="{{total_bpc_str}}">{% translate "OS2borgerPC" %}: {{borgerpc_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark" title="{{total_kiosk_str}}">{% translate "OS2borgerPC Kiosk" %}: {{borgerpc_kiosk_count}}</span>
  {% for release, release_count in releases %}
    {% if release_count > 0 %}
      <span class="ms-3 badge bg-secondary text-dark" title="{{total_release_before_str}} {{release}} {{computers_str}}">{{release}}: {{release_count}}</span>
    {% endif %}
  {% endfor %}
  {% if user.is_superuser %}
  <div class="float-end">
    <span class="me-3 badge bg-secondary text-dark">{% translate "Admin site version" %}: {{version}}</span>
  </div>
  {% endif %}
{% endblock %}

{% block header_class %}container-fluid{% endblock %}

{% block specific_content %}
{% include 'notification.html' %}
<!-- Create site modal-->
<div class="modal fade" id="create_site_modal" tabindex="-1" aria-labelledby="create_site_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url "site_create" %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="create_site_modal_label">{% translate "Add new site" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form.non_field_errors }}

            <div>
              {{ form.name.errors }}
              {{ form.name|as_crispy_field }}
            </div>
            <div class="mt-3">
              {{ form.uid.errors }}
              {{ form.uid.label_tag }}*
              <p>
                <span class="text-danger" id="site_uid_available_check_response"></span>
              </p>
              {# Rendering the UID field itself manually to be able to set it up with some htmx logic #}
              <input type="text" name="uid" pattern="[\-a-z0-9]{2,40}" maxlength="40" class="textinput form-control" required="" id="id_uid" hx-get="{% url 'site_uid_available_check' %}" hx-trigger="keyup changed delay:1s" hx-target="#site_uid_available_check_response">
              <small id="hint_id_uid" class="form-text text-muted">

              <small id="hint_id_uid" class="form-text text-muted">
                {{ form.uid.help_text }}
                {% translate "Must be unique. Valid characters are a-z (lower-case only), 0-9 and dashes, and the length must be between 2-40 characters. We suggest values like 'organisation' or 'organisation-location' (without quotes)." %}
              </small>

            </div>
        </div>
        <div class="modal-footer">
          <button id="create_site_save_button" type="submit" class="btn btn-primary" disabled>{% translate "Create site" %}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <div class="container">
    <div class="text-center mt-3">
      {% include 'notification.html' %}
      {% if site_membership.site_user_type == site_membership.CUSTOMER_ADMIN %}
        <button type="button" class="btn btn-primary d-block mx-auto mt-4 mb-0" data-bs-toggle="modal" data-bs-target="#create_site_modal" id="create-site-button">
          <span class='material-icons'>add</span>
          {% translate "Add new site" %}
        </button>
      {% endif %}
      {% for country, all_customers_in_country in countries_dict.items %}
        {% if user.is_superuser %}
          <h1 class="mt-4 text-dark">{{country}}</h1>
        {% endif %}
        {% for customer in all_customers_in_country %}
          {% if customer.sites %} {# Don't display the customer if they have zero sites #}
              <div class="customer d-inline-block me-3 mt-4 {% if customer.is_test %}bg-info{% endif %}">
                <small class="d-block">{{customer.name}}</small>
                {% for site in customer.sites.all %}
                  {% include "system/sites/display.html" %}
                {% endfor %}
              </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
