{% extends "sitebase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header_title %}
  {% translate "Total number of BorgerPC's" as total_bpc_str %}
  {% translate "Total number of Kiosk PC's" as total_kiosk_str %}
  {% translate "Total number of" as total_release_before_str %}
  {% translate "Computers" as computers_str %}
  {% translate "Computers total" as computers_total_str %}
  {% translate "Administrate" %} <em>{% translate "Sites" %}</em>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Sites" %}: {{site_list|length}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{{computers_total_str}}: {{total_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Activated:" %} {{total_activated_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark">{% translate "Online" %}: {{total_online_pcs_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark" title="{{total_bpc_str}}">{% translate "OS2borgerPC" %}: {{borgerpc_count}}</span>
  <span class="ms-3 badge bg-secondary text-dark" title="{{total_kiosk_str}}">{% translate "OS2borgerPC Kiosk" %}: {{borgerpc_kiosk_count}}</span>
  {% for release, release_count in releases %}
    {% if release_count > 0 %}
      <span class="ms-3 badge bg-secondary text-dark" title="{{total_release_before_str}} {{release}} {{computers_str}}">{{release}}: {{release_count}}</span>
    {% endif %}
  {% endfor %}
  {% if user.is_superuser %}
  <div class="float-end">
    <span class="me-3 badge bg-secondary text-dark">{% translate "Admin site version" %}: {{version}}</span>
  </div>
  {% endif %}
{% endblock %}

{% block header_class %}container-fluid{% endblock %}

{% block specific_content %}
{% include 'notification.html' %}
<!-- Create site modal-->
<div class="modal fade" id="create_site_modal" tabindex="-1" aria-labelledby="create_site_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create_site_modal_label">{% translate "Create site" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button id="create_site_save_button" type="button" class="btn btn-primary">{% translate "Create site" %}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div>
      <button type="button" class="btn btn-primary mt-3 mb-0" data-bs-toggle="modal" data-bs-target="#create_site_modal" id="create-site-button">
        <span class='material-icons'>add</span>
        {% translate "Create site" %}
      </button>
      {% for country in countries %}
        {% if countries|length >= 2 and user.is_superuser %}
            <h2 class="mt-5 fw-bold">{{ country.name }}</h2>
        {% endif %}
        {% if country.normal_sites %}  
          {% for site in country.normal_sites %}
            {% include "system/sites/display.html" %}
          {% endfor %}
        {% endif %}
        {% if country.test_sites %}
          <h3 class="mt-3" style="color: #f5914d;">Test Sites</h3>
          {% for site in country.test_sites %}
            {% include "system/sites/display.html" %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
