{% load i18n %}
<div id="changelogDetails-{{ entry.pk }}" class="modal fade" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 70rem; max-width: 90vw; min-width: 10rem;">
        <div class="modal-content">
            <div class="changelog-detail" id="entry-{{ entry.pk }}">
                <div class="modal-header">
                    <h2 class="card-title">{{ entry.title }}</h2>
                    <strong class="timestamp-created text-muted">{{ entry.created }}</strong>
                </div>
                <p>{{ entry.render_content | safe }}</p>
                <hr class="meta-data-separator">
                <div class="meta-info">
                    <p class="meta-header">
                        <small><strong class="text-muted">
                            {% translate "News catagories" %}
                        </strong></small>
                    </p>
                    <p class="meta-tags">
                    {% for tag in entry.get_tags %}
                    <a class="btn btn-md tag-filter-btn bg-primary text-white me-2" href="?tag={{ tag.pk }}">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                    </p>
                    <p class="meta-header">
                        <small>
                            <strong class="text-muted">{% translate "Related to version" %}</strong><br/>
                        </small>
                        <a href="?search={{ entry.version }}">
                            <span class="badge bg-primary">{{ entry.version }}</span>
                        </a>
                    </p>
                    <p class="meta-header">
                        <small>
                            <strong class="text-muted">{% translate "Written by" %}</strong><br/>
                        </small>
                        <a href="?search={{ entry.author }}">
                            <span class="badge bg-primary">{{ entry.author }}</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="comment-container">
                <h3 class="text-muted">{% translate "Comments" %}</h3>
                    {% include 'system/changelog/comments/form.html' with parent=None %}

                {% include 'system/changelog/comments/list.html' with comments=comments %}
            </div>
        </div>
    </div>
</div>
