{% load i18n %}
{% if cnf_id %}
<div id="{{ cnf_id }}">
  <table class="table">
    <thead>
      <tr>
        <th>{% translate "Key" %}</th>
        <th>{% translate "Value" %}</th>
        <th>{% translate "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        {% include 'system/configs/item.html' with pk=entry.pk key=entry.key value=entry.value submit_name=cnf_id %}
      {% endfor %}
      <tr>
        <td colspan="3">
          <input type="hidden" name="{{ cnf_id }}_new_entries" id="{{ cnf_id }}_new_entries" value="0">
          <a class="btn table-config-add" href="javascript:void(0)" onclick="BibOS.ConfigList.startAdd('{{ cnf_id }}')" title="{% translate "Add new configuration" %}">
            <span class="d-flex align-items-center ">
              <span class="material-icons me-1">add</span>
              {% translate "Add configuration" %}
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% else %}
{# Is this to be translated? #}
<p>You must specify a <em>cnf_id</em> when inserting a configuration list</p>
<p>{% translate "You must specify a" %}You must specify a <em>cnf_id</em> {% translate "when inserting a configuration list" %}when inserting a configuration list</p>
{% endif %}
