{% load i18n %}
<div id="configlist-templates">
  <table class="table">
    <tbody id="configuration-item-template" class="template-container">
      {% include 'system/configs/item.html' with pk='#PK#' key='#KEY#' value='#VALUE#' submit_name='#SUBMIT_NAME#' %}
    </tbody>
  </table>
</div>

<div id="editconfigdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{% translate "Handle configuration" %}</h3>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form name="addnewconfigdialog" id="addnewconfigdialog" action="" method="post">

          <input type="hidden" name="editconfig_pk" id="editconfig_pk" value="new">
          <input type="hidden" name="editconfig_id" id="editconfig_id" value="">

          <fieldset>

            <p>
              <label for="editconfig_name" class="form-label">{% translate "Name" %}:</label>
              <input id="editconfig_name" maxlength="30" name="editconfig_name" type="text" value="" class="form-control">
            </p>
            <p>
              <label for="editconfig_value" class="form-label">{% translate "Value" %}:</label>
              <input id="editconfig_value" maxlength="255" name="editconfig_value" type="text" value="" class="form-control">
            </p>

          </fieldset>

        </form>
      </div>
      <div class="modal-footer">
        <button onclick="BibOS.ConfigList.submitEditDialog()" class="btn btn-primary">{% translate "Save" %}</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>
