/* Changelog */
.changelog-item {
  min-width: 10rem;
  border-top: solid 1px #aaa;
  padding: 1.5rem;
}

.changelog-detail {
  padding: 1.5rem;
}

#changelog-container {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.meta-info {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.meta-data-separator {
  border-color: #ccc;
  width: 20%;
}

nav.pagination-wrapper {
  margin-top: 35px!important;
  background: transparent;
}

.meta-spacing {
  padding: 12px;
}

.news-icon {
  font-size: 2.0rem;
}

.comment-container {
  padding: 1.5rem;
}

.comment-card {
  min-height: 4rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.comment-children {
  display: none;
}

/* Search */
#changelog-container > header {
  padding-top: 2rem;
}

.changelog-tags {
  float: left;
}

.changelog-tags h3 {
  font-size: 1.400rem;
  padding-top: 1.3rem;
  padding-bottom: 0.5rem;
}

.changelog-tags ul {
  list-style-type: none;
}

.badge {
  font-size: 0.9em;
}

.tag:not(:first-of-type) {
  margin-left: 5px;
}

.timestamp-created, #tags-title {
  text-transform: uppercase;
}

.timestamp-created {
  text-align: right;
  padding-bottom: 1.5rem;
}

#changelog-search-filterform {
  padding-top: 1.0rem;
}

.meta-header {
  margin-bottom: 0.2rem;
}

.meta-tags {
  margin-bottom: 0.5rem;
}

.page-item.active > .page-link{
  background-color: rgb(0,0,0,0.3);
}

#filter-search {
  float: left;
}
#filter-tags {
  float: right;
}

#changelog-container .card {
  cursor: pointer;
  padding: 2rem;
}

.changelog-comment-info {
  text-align: right;
  font-size:  1.8em;
  float: right;
  position: relative;
  bottom: -50px;
}

h2.card-title {
  padding-bottom: 0.5em;
  color: black;
}

.card header {
  display: flex;
}

.changelog-item-title {
  flex-grow: 5;
}

.changelog-item-timestamp {
  flex-grow: 1;
  text-align: right;
}

#adm-body {
  background: #f1f1f1; /* AKA $gray-100 */
}
