/*
 * Legacy custom styles for OS2BorgerPC
 *
 * REFER TO /nodejs/CSS_CUSTOMIZATION.md FOR CSS CUSTOMIZATION GUIDELINES
 */


/* TODO: The contents of this file should be merged to the custom Bootstrap build 
 or their related templates */


/* Headers */
div.runscriptdialogheader {display: none;}


/* Navigation */
.nav.utils>li>a {text-shadow: none;}
.nav.utils>li>a:hover, .nav.utils>li>a:focus {background: var(--bs-gray-dark); border-radius: 5px;}
.nav.utils .nav-header {text-shadow: none; color: var(--bs-white); text-transform: uppercase; font-weight: bold;}
/* Delete button on lists */
.inertnav {background: var(--bs-gray-dark); border-radius: 5px; padding: 15px 20px;}
.inertnav li {padding: 2px 0; color: var(--bs-gray-dark);}
.inertnav li:hover {background: var(--bs-gray);}
[data-bs-toggle="collapse"] {margin-bottom: 10px; display: block; text-align: left; height: auto}

ul.nav li ul { color: var(--bs-white); list-style: none; padding: 0; margin: 0 0 0 1em; }
ul.nav li ul a, ul.nav li ul a:hover, ul.nav li ul a:focus { color: var(--bs-white); text-decoration: none; }
ul.nav li ul li.active { font-style: italic; }


/* Misc */

.profile {font-size: 14px; margin-right: 20px;}
.profile a.dropdown-toggle {color: var(--bs-white);}
.dark a.dropdown-toggle {color: var(--bs-dark);}
.accordion {margin-top: 20px;}
.accordion-group {border: none; padding: 0;}
.accordion-toggle {text-align: left;}
.searchfilter .btn {display: block; text-align: left;}
.popover {max-width: 40em;}
.popover.bottom .arrow {left: auto; right: 30px;}
.popover.bottom {margin: 5px 20px 0 0;}
.popover.top .arrow {left: auto; right: 30px;}
.popover.top {margin: 0 20px 5px 0;}

#jobinfo-popover {position: absolute; display: none; z-index: 10000; width: auto; min-width: 20em; max-width: 60em;}
#group_configuration, #pc_config {margin-bottom: 0;}
.script-list {
  list-style-type:none;
  margin-left:0;
}
.script-list li:hover {
  cursor:pointer;
  background-color: var(--bs-gray);
}

/* Forms */

input.phantom { display: none; }
input.invalid { border: 1px solid var(--bs-danger); }
#job-list .btn-secondary { border: none; background: none; }
#job-list tr { vertical-align: middle; }

/* Lists */

.itemlist .btn-group {margin: 0 10px 10px 0;}
.actionlist {padding: 5px;}
.actionlist a {border-top: solid 1px var(--bs-gray); padding: 10px; display: block;}
.actionlist > li:first-child a {border: none;}
.actionlist .btn-group {display: block;}
.actionlist a:hover {background: var(--bs-primary); color: var(--bs-white); text-decoration: none; border-radius: 5px;}
.actionlist .profile {margin-right: 0;}
ul.addlist {min-width: 80%; box-shadow: 0 10px 10px var(--bs-gray-dark); padding: 0; z-index: 100;}
ul.addgrouplist {display: none; max-height: 300px; overflow-y: auto; position: absolute; background-color: var(--bs-white);}
ul.addgrouplist li {cursor: pointer;}
ul.addlist li a {border-top: solid 1px var(--bs-gray) !important;}
li.addgrouptrigger {position: relative;}
li.addgrouptrigger:hover ul.addgrouplist {display: block}
ul.adduserlist {display: none; max-height: 300px; overflow-y: auto; position: absolute; background-color: var(--bs-white);}
ul.adduserlist li {cursor: pointer;}
li.addusertrigger {position: relative;}
li.addusertrigger:hover ul.adduserlist {display: block}
li.selected {background-color: var(--bs-gray);}


/* Documentation */

div.docscontainer {padding-bottom: 20px;}
div.docscontainer * {max-width: 600px;}
div.docscontainer p, div.docscontainer h1, div.docscontainer h2, div.docscontainer h3, div.docscontainer h4 {margin-top: 0.75em; margin-bottom: 0.25em;}
div.docscontainer h1 {font-size: 1.75em; line-height: inherit;}
div.docscontainer h2 {font-size: 1.25em; line-height: inherit;}
div.docscontainer h3 {font-size: 1.1em; line-height: inherit;}
div.docscontainer h4 {font-size: 1em; line-height: inherit;}
div.docscontainer pre {max-width: 100%;}
div.docscontainer .nav-list {list-style: none; padding: 0; margin: 20px 0;}
div.docscontainer .nav-list>li>a {margin: 0; display: inline-block; padding: 3px 6px; border-radius: 5px;}
div.docscontainer .nav-list>li>a:hover {background: var(--bs-gray-dark); text-decoration: none; color: var(--bs-white); text-shadow: none;}


/* Loading animation */
.overlay {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.5);}
.windows8 {position:absolute; top: 50%; left: 50%; width:90px; height:90px; margin: -45px 0 0 -45px;}
.windows8 .wBall {position:absolute;width:86px;height:86px;opacity:0;-moz-transform:rotate(225deg);-moz-animation:orbit 7.15s infinite;-webkit-transform:rotate(225deg);-webkit-animation:orbit 7.15s infinite;-ms-transform:rotate(225deg);-ms-animation:orbit 7.15s infinite;-o-transform:rotate(225deg);-o-animation:orbit 7.15s infinite;transform:rotate(225deg);animation:orbit 7.15s infinite}.windows8 .wBall .wInnerBall{position:absolute;width:11px;height:11px;background:var(--bs-white);left:0;top:0;-moz-border-radius:11px;-webkit-border-radius:11px;-ms-border-radius:11px;-o-border-radius:11px;border-radius:11px}.windows8 #wBall_1{-moz-animation-delay:1.56s;-webkit-animation-delay:1.56s;-ms-animation-delay:1.56s;-o-animation-delay:1.56s;animation-delay:1.56s}.windows8 #wBall_2{-moz-animation-delay:.31s;-webkit-animation-delay:.31s;-ms-animation-delay:.31s;-o-animation-delay:.31s;animation-delay:.31s}.windows8 #wBall_3{-moz-animation-delay:.62s;-webkit-animation-delay:.62s;-ms-animation-delay:.62s;-o-animation-delay:.62s;animation-delay:.62s}.windows8 #wBall_4{-moz-animation-delay:.94s;-webkit-animation-delay:.94s;-ms-animation-delay:.94s;-o-animation-delay:.94s;animation-delay:.94s}.windows8 #wBall_5{-moz-animation-delay:1.25s;-webkit-animation-delay:1.25s;-ms-animation-delay:1.25s;-o-animation-delay:1.25s;animation-delay:1.25s}@-moz-keyframes orbit{0%{opacity:1;z-index:99;-moz-transform:rotate(180deg);-moz-animation-timing-function:ease-out}7%{opacity:1;-moz-transform:rotate(300deg);-moz-animation-timing-function:linear;-moz-origin:0}30%{opacity:1;-moz-transform:rotate(410deg);-moz-animation-timing-function:ease-in-out;-moz-origin:7%}39%{opacity:1;-moz-transform:rotate(645deg);-moz-animation-timing-function:linear;-moz-origin:30%}70%{opacity:1;-moz-transform:rotate(770deg);-moz-animation-timing-function:ease-out;-moz-origin:39%}75%{opacity:1;-moz-transform:rotate(900deg);-moz-animation-timing-function:ease-out;-moz-origin:70%}100%,76%{opacity:0;-moz-transform:rotate(900deg)}}@-webkit-keyframes orbit{0%{opacity:1;z-index:99;-webkit-transform:rotate(180deg);-webkit-animation-timing-function:ease-out}7%{opacity:1;-webkit-transform:rotate(300deg);-webkit-animation-timing-function:linear;-webkit-origin:0}30%{opacity:1;-webkit-transform:rotate(410deg);-webkit-animation-timing-function:ease-in-out;-webkit-origin:7%}39%{opacity:1;-webkit-transform:rotate(645deg);-webkit-animation-timing-function:linear;-webkit-origin:30%}70%{opacity:1;-webkit-transform:rotate(770deg);-webkit-animation-timing-function:ease-out;-webkit-origin:39%}75%{opacity:1;-webkit-transform:rotate(900deg);-webkit-animation-timing-function:ease-out;-webkit-origin:70%}100%,76%{opacity:0;-webkit-transform:rotate(900deg)}}@-ms-keyframes orbit{0%{opacity:1;z-index:99;-ms-transform:rotate(180deg);-ms-animation-timing-function:ease-out}7%{opacity:1;-ms-transform:rotate(300deg);-ms-animation-timing-function:linear;-ms-origin:0}30%{opacity:1;-ms-transform:rotate(410deg);-ms-animation-timing-function:ease-in-out;-ms-origin:7%}39%{opacity:1;-ms-transform:rotate(645deg);-ms-animation-timing-function:linear;-ms-origin:30%}70%{opacity:1;-ms-transform:rotate(770deg);-ms-animation-timing-function:ease-out;-ms-origin:39%}75%{opacity:1;-ms-transform:rotate(900deg);-ms-animation-timing-function:ease-out;-ms-origin:70%}100%,76%{opacity:0;-ms-transform:rotate(900deg)}}@-o-keyframes orbit{0%{opacity:1;z-index:99;-o-transform:rotate(180deg);-o-animation-timing-function:ease-out}7%{opacity:1;-o-transform:rotate(300deg);-o-animation-timing-function:linear;-o-origin:0}30%{opacity:1;-o-transform:rotate(410deg);-o-animation-timing-function:ease-in-out;-o-origin:7%}39%{opacity:1;-o-transform:rotate(645deg);-o-animation-timing-function:linear;-o-origin:30%}70%{opacity:1;-o-transform:rotate(770deg);-o-animation-timing-function:ease-out;-o-origin:39%}75%{opacity:1;-o-transform:rotate(900deg);-o-animation-timing-function:ease-out;-o-origin:70%}100%,76%{opacity:0;-o-transform:rotate(900deg)}}@keyframes orbit{0%{opacity:1;z-index:99;transform:rotate(180deg);animation-timing-function:ease-out}7%{opacity:1;transform:rotate(300deg);animation-timing-function:linear;origin:0}30%{opacity:1;transform:rotate(410deg);animation-timing-function:ease-in-out;origin:7%}39%{opacity:1;transform:rotate(645deg);animation-timing-function:linear;origin:30%}70%{opacity:1;transform:rotate(770deg);animation-timing-function:ease-out;origin:39%}75%{opacity:1;transform:rotate(900deg);animation-timing-function:ease-out;origin:70%}100%,76%{opacity:0;transform:rotate(900deg)}}

/* Layout helpers */
.inline {display: inline}
