.form-switch .form-check-input {
  margin-left: 0;
}

.form-switch {
  padding-left: 0px;
}

.dash {
  width: 0;
  padding-left: 0!important;
  padding-right: 0!important;
}

.table {
  --bs-table-bg: transparent;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
}

td.before-dash {
  padding-right: 0;
}

td.after-dash {
  padding-left: 0;
}

.form-check-label {
  user-select: none;
  margin-left: 5px;
  padding-top: 0.5rem;
  float:left;
}

.checkbox-switch {
  padding: 0.75rem 0rem 0.75rem 2rem!important;
}

.checkbox-text {
  padding: 0.75rem 2rem 0.75rem 0rem;
}

article {
  min-width: 480px;
}

