{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Datorer: Huvudinformation och grupper</h1>
  <p>
    När du klickar på en dator visas du som standard
    datormasterdata och grupptillhörighet. Här kan du ändra datorns
    namn och beskrivning och aktivera det om det inte är det
    aktiverats efter installationen. Du kan också lägga till och ta bort grupper,
    som datorn är associerad med. Du måste klicka på knappen "Spara ändringar" innan
    ändringarna träder i kraft.
  </p>
  <p>
    Om du vill lägga till grupper håller du muspekaren över "Lägg till ny grupp".
    Om det finns grupper som datorn ännu inte är medlem i så visas de i en lista under muspekaren.
    Klicka på en grupp för att koppla datorn till gruppen.
    Tänk på att ändringarna inte blir permanenta förrän du har klickat på
    "Spara ändringar" högst upp på skärmen.
  </p>
  <p>
    Observera att gruppmedlemskap kan påverka datorns
    konfiguration. 
  </p>
{% endblock %}
