{% load i18n %}

{% if job.failed %}
  <a class="btn btn-primary mb-3" href="{% url 'restart_job' site.uid job.pk %}">
      <span>
          <span class="material-icons">
              refresh
          </span>
          {% translate "Restart job" %}
      </span>
  </a>
  <br/>
{% endif %}

{% if job.log_output %}
  <span id="clipboard-button" class="btn btn-primary">
      <span class="material-icons">content_copy</span>
      <span class="copy-btn-text-orig" >{% translate "Copy log to the clipboard" %}</span>
      <span class="d-none">{% translate "Log copied!" %}</span>
  </span>
  <div class="job-output">
    <p class="mt-3">{% translate "Log output" %}</p>
    <pre id="job-log" class='bg-light job-output-pre'>{{job.log_output|escape}}</pre>
  </div>
{% endif %}
