{% if job.failed %}
    <div>
        <a class="btn btn-primary" href="{% url 'restart_job' site.uid job.pk %}">
            <span class="d-flex align-items-center">
                <span class="material-icons">
                    refresh
                </span>
                Genstart job
            </span>
        </a>
    </div>
{% endif %}
{% if job.log_output %}
  <div class="job-output">
    <p class="mt-3">Log output</p>
    <pre class='bg-light job-output-pre'>{{job.log_output|escape}}</pre>
  </div>
{% endif %}
