{% extends "site_with_navigation.html" %}

{% load i18n %}

{% block specific_title %}
{% translate "Jobs" %}
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
    var bibos_job_search_url = "{% url 'jobsearch' site.uid %}"
  </script>
  <script type="text/javascript" src="/static/js/jobs_list.js"></script>
{% endblock %}

{% block subnav %}
<div id="jobsearchnav" class="sublevelnav">

  <div class="d-flex justify-content-between align-items-center px-3 py-1">
    <h3 class="nav-header">{% translate "Filters" %}</h3>
    <button class="btn btn-link" type="button" onclick="BibOS.JobList.reset()">{% translate "Reset filters" %}</button>
  </div>

  <hr class="mt-0">

  <form id="jobsearch-filterform" name="filterform" action="./" method="post">

    <input type="hidden" name="batch" value="{{ selected_batch }}">
    <input type="hidden" name="pc" value="{{ selected_pc }}">
    <input type="hidden" name="group" value="{{ selected_group }}">
    <input type="hidden" name="orderby" value="-pk">
    <input type="hidden" name="page" value="1">

    <div id="jobsearch-status-selectors" class="px-3 pt-2">
      <h3 class="mb-3">{% translate "Status" %}</h3>
      {% for s in status_choices%}
        <div class="form-check mb-3">
          <input class="form-check-input" 
            id="id_{{ s.value }}_chkbx"
            type="checkbox" 
            value="{{ s.value }}" 
            name="status" 
            {{ s.checked }}>
          <label for="id_{{ s.value }}_chkbx" class="form-check-label">
            <span class="badge {{ s.label }}">{{ s.name }}</span>
          </label>
        </div>
      {% endfor %}
    </div>

    <hr class="mb-0">

    <div class="list-collapsible">

      <a data-bs-toggle="collapse" href="#batches" role="button" aria-expanded="false" aria-controls="batches">
        <span class="material-icons">folder</span>
        <span class="collapse-label">
          {% translate "Batches" %}
        </span>
        <span class="material-icons collapse-arrow">arrow_drop_down</span>
      </a>

      <div id="batches" class="collapse collapse-content {% if selected_batch %}show{% endif %}">
        <ul class="item-list">
          {% for batch in batches %}
          <li>
            <button 
              type="button" 
              class="btn btn-link item-list-link {% ifequal batch.pk selected_batch %}active{% endifequal %}" 
              onclick="BibOS.JobList.selectBatch(this, '{{ batch.pk }}')">
              {{ batch.name }}
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <a data-bs-toggle="collapse" href="#computers" role="button" aria-expanded="false" aria-controls="computers">
        <span class="material-icons">folder</span>
        <span class="collapse-label">
          {% translate "Computers" %}
        </span>
        <span class="material-icons collapse-arrow">arrow_drop_down</span>
      </a>

      <div id="computers" class="collapse collapse-content {% if selected_pc %}show{% endif %}">
        <ul class="item-list">
          {% for pc in pcs %}
            <li>
              <button 
                type="button" 
                class="btn btn-link item-list-link {% ifequal pc.pk selected_pc %}active{% endifequal %}" 
                onclick="BibOS.JobList.selectPC(this, '{{ pc.pk }}')">
                {{ pc.name }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>

      <a data-bs-toggle="collapse" href="#groups" role="button" aria-expanded="false" aria-controls="groups">
        <span class="material-icons">folder</span>
        <span class="collapse-label">
          {% translate "Groups" %}
        </span>
        <span class="material-icons collapse-arrow">arrow_drop_down</span>
      </a>

      <div id="groups" class="collapse collapse-content {% if selected_group %}show{% endif %}">
        <ul class="item-list">
          {% for group in groups %}
            <li>
              <button 
                type="button" 
                class="btn btn-link item-list-link {% ifequal group.pk selected_group %}active{% endifequal %}" 
                onclick="BibOS.JobList.selectGroup(this, '{{ group.pk }}')">
                {{ group.name }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </form>
</div>
{% endblock %}

{% block specific_content %}
  {# Note: This is the table body, and the table header is below. Please rewrite to HTMX in the future. #}
  <div class="template-container">
   <table class="table">
    <tbody id="jobitem-template">
      <tr>
        <td><strong>#SCRIPT_LINK# <span class="batch">#BATCH_NAME#</span></strong></td>
        <td>#USER_LINK#</td>
        <td>#CREATED#</td>
        <td>#STARTED#</td>
        <td>#FINISHED#</td>
        <td><span class="badge #LABEL#">#STATUS#</span></td>
        <td><strong>#PC_LINK#</strong></td>
        
        <td>#JOBINFOBUTTON#</td>
      </tr>
    </tbody>
   </table>
  </div>

  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    {% include 'notification.html' %}
    <table class="table jobtable table-extendable">
      <thead>
        <tr>
          {% translate "Script" as script_label %}
          {% translate "User" as user_label %}
          {% translate "Created" as create_label %}
          {% translate "Started" as start_label %}
          {% translate "Finished" as finish_label %}
          {% translate "Status" as status_label %}
          {% translate "Computer" as computer_label %}
          {% include 'widgets/orderby_th_ajax.html' with label=script_label action="BibOS.JobList.orderby('batch__script__name')" slug='script' %}
          {% include 'widgets/orderby_th_ajax.html' with label=user_label action="BibOS.JobList.orderby('user__username')" slug='user' %}
          {% include 'widgets/orderby_th_ajax.html' with label=create_label action="BibOS.JobList.orderby('created')" slug='created' %}
          {% include 'widgets/orderby_th_ajax.html' with label=start_label action="BibOS.JobList.orderby('started')" slug='started' %}
          {% include 'widgets/orderby_th_ajax.html' with label=finish_label action="BibOS.JobList.orderby('finished')" slug='finished' %}
          {% include 'widgets/orderby_th_ajax.html' with label=status_label action="BibOS.JobList.orderby('status')" slug='status' %}
          {% include 'widgets/orderby_th_ajax.html' with label=computer_label action="BibOS.JobList.orderby('pc__name')" slug='computer' %}
          <th></th> {# Job-info-button #}
        </tr>
      </thead>
      <tbody id="job-list">
        <tr class="muted">
          <td colspan="8">{% translate "Loading data..." %}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9">
            <nav class="pagination-wrapper" aria-label="Job list page">
              {% include 'widgets/pagination.html' %}
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  
{% endblock %}
