{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block specific_title %}
{% translate "Delete" %}
{% if is_security %}
{% translate "Security Scripts" %}
{% else %}
{% translate "Script" %}
{% endif %}: {{ script.name }}
{% endblock %}


{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      <ul>
        {% if not is_security %}
        <li>
          {# Her er jeg nået til. Mvh Troels #}
          
          {% translate "Security Scripts" as security_scripts %}

          {% translate "the Script" as the_script %}

          {% translate "Jobs" as jobs %}

          {# Ikke testet endnu #}
          {% blocktranslate with jobs=jobs|bold the_script=the_script|bold %}
          Old {{jobs}} with {{the_script}} will be deleted
          {% endblocktranslate %} 

          Gamle <strong>Jobs</strong> med <strong>Scriptet</strong> vil blive slettet.
        </li>
        <li>
          Hvis <strong>Scriptet</strong> er sat som <strong>Tilknyttet Script</strong> vil listen af de
          <strong>Tilknyttede Scripts</strong> blive opdateret med <strong>Scriptet</strong> fjernet.
        </li>
        {% else %}
        <li>
          Hvis <strong>Sikkerhedsscriptet</strong> bruges i en <strong>Sikkerhedsregel</strong>, vil
          <strong>Sikkerhedsreglen</strong> også blive slettet.
        </li>
        {% endif %}
      </ul>
    </div>
    
    <p>    
      {% translate "Are you sure you want to delete" %}
      {% if is_security %}
        {% translate "the Security Script" %}
      {% else %}
        {% translate "the Script" %}
      {% endif %}
      <strong style="font-size: 1.25em;">{{ script.name }}</strong>?
    </p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger" type="submit" value="{% translate "Confirm deletion" %}Bekræft sletning">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">{% translate "Cancel" %}Annullér</a>
    </form>
  </div>
{% endblock %}
