{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% block specific_title %}
Slet script: {{script.name}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <p>Ønsker du virkelig at slette scriptet:</p>
    <p><strong>{{ script.name }}</strong>?</p>
    <p>Scriptet kan hvis det behøves gendannes fra admin.</p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger" type="submit" value="Bekræft sletning">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">Annullér</a>
    </form>
  </div>
{% endblock %}
