{% extends "system/scripts/header.html" %}
<!-- Note: This isn't the modal for creating a script, this is only seen, when you have zero scripts in the list. -->

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">
    <a class="btn btn-link"
      {% if is_security %}
        href="{% url 'new_security_script' site.uid %}" 
      {% else %}
        href="{% url 'new_script' site.uid %}" 
      {% endif %}
        title="Tilføj nyt script">
      <span class="material-icons">add</span>
      Tilføj nyt script
    </a>
  </div>
  {% include 'system/scripts/navigation.html' %}
</div>
{% endblock %}

{% block specific_content %}

  {% include 'system/scripts/templates.html' %}

  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">
      Opret script
    </h2>

    <form method="post"
      name="scriptform" id="scriptform"
      {% if is_security %}
      action="{% url 'new_security_script' site.uid %}"
      {% else %}
      action="{% url 'new_script' site.uid %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}

      <div>
        {% include 'notification.html' %}
      </div>

      <input type="submit" class="btn btn-primary" value="Opret script">
      {% if is_security %}
        <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'security_scripts' site.uid %}'; return false">Annuller</button>
      {% else %}
        <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'scripts' site.uid %}'; return false">Annuller</button>
      {% endif %}
      
      {% include 'system/scripts/form.html' %}
    </form>
  </div>  

{% endblock %}


{% block script_form_heading %}
{% endblock %}

{% block script_edit_controls %}
{% endblock %}
