{% extends "system/scripts/header.html" %}
<!-- Note: This isn't the modal for creating a script, this is only seen, when you have zero scripts in the list. -->

{% load i18n %}

{% block subnav %}
{% endblock %}

{% block specific_content %}

  {% include 'system/scripts/templates.html' %}

  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">
      {% translate "Create" %}
      {% if is_security %}
        {% translate "Security Script" %}
      {% else %}
        {% translate "Script" %}
      {% endif %}
    </h2>

    <form method="post"
      name="scriptform" id="scriptform"
      {% if is_security %}
      action="{% url 'new_security_script' site.uid %}"
      {% else %}
      action="{% url 'new_script' site.uid %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}

      <div>
        {% include 'notification.html' %}
      </div>

      <input type="submit" class="btn btn-primary" value="{% translate 'Create' %}{% if is_security %} {% translate 'Security Script' %}{% else %} {% translate 'Script' %}{% endif %}">
      {% if is_security %}
        <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'security_scripts' site.uid %}'; return false">{% translate "Cancel" %}</button>
      {% else %}
        <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'scripts' site.uid %}'; return false">{% translate "Cancel" %}</button>
      {% endif %}

      {% include 'system/scripts/form.html' %}
    </form>
  </div>

{% endblock %}


{% block script_form_heading %}
{% endblock %}

{% block script_edit_controls %}
{% endblock %}
