{% if disable_inputs != "yes" %}
  <!-- The three tabs on the page: -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="details-tab" href="#details" data-bs-toggle="tab" role="tab" aria-controls="details" aria-selected="true">Detaljer</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="preview-tab" href="#preview" data-bs-toggle="tab" role="tab" aria-controls="preview" aria-selected="false">Kode</a>
    </li>
    {% if not is_security %}
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="parameters-tab" role="tab" href="#parameters" data-bs-toggle="tab" role="tab" aria-controls="parameters" aria-selected="false">Indstillinger (Inputparametre)</a>
    </li>
    {% endif %}
  </ul>

  <!-- The content for the three tabs you can choose from above, one after one: -->
  <div class="tab-content">
    <div id="details" class="tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">
{% endif %}

      <fieldset>
      
        {% if form.instance.created %}
          <p>
            Oprettet: {{ form.instance.created }} ({{ form.instance.user_created }})
          </p>
        {% endif %}
        {% if form.instance.modified %}
          <p>
            Ændret: {{ form.instance.modified }} ({{ form.instance.user_modified }})
          </p>
        {% endif %}
        <p>
          {{ form.name.errors }}
          <label class="form-label" for="{{ form.name.id_for_label }}">Navn:</label>
          {{ form.name }}
        </p>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="id_{% if form.prefix %}{{ form.prefix }}-{% endif %}site"
            name="{% if form.prefix %}{{ form.prefix }}-{% endif %}site"
            value="{{ site.id }}"
            {% if not global_script %}checked="checked"{% endif %}>
          <label class="form-label checkbox" for="id_{% if form.prefix %}{{ form.prefix }}-{% endif %}site">
            Lokalt script for {{ site.uid|capfirst }}
          </label>
          <input 
            id="id_is_security_script" 
            name="is_security_script"
            value="{{ is_security }}" 
            type="hidden">
        </div>

        <div class="form-check form-switch">
          {{ form.maintained_by_magenta }}
          <label class="form-check-label" for="{{ form.maintained_by_magenta.id_for_label }}">
            {{ form.maintained_by_magenta.label }}
          </label>
        </div>
        
        <p class="scriptDescription">
          {{ form.description.errors }}
          <label class="form-label" for="{{ form.description.id_for_label }}">Beskrivelse:</label>
          {{ form.description }}
        </p>

        <p>
          <label class="form-label" for="{{ form.author.id_for_label }}">{{ form.author.label }}:</label>
          {{ form.author }}
        </p>

        <p>
          <label class="form-label" for="{{ form.author_email.id_for_label }}">{{ form.author_email.label }}:</label>
          {{ form.author_email }}
        </p>

      </fieldset>
        
{% if disable_inputs != "yes" %}
    </div>
    <div id="preview" class="tab-pane fade" role="tabpanel" aria-labelledby="preview-tab">
{% endif %}
  
      <fieldset>

        <div style="margin-bottom: 1rem;">
          {{ form.executable_code.errors }}
          <label class="form-label" for="{{ form.executable_code.id_for_label }}">Upload scriptkode:</label>
          {{ form.executable_code }}
        </div>

        {% if show_code_preview %}
          <p>Kode:</p>
          <pre><code id="script-code" class="bash">{{script_preview |escape}}</code></pre>
        {% endif %}

      </fieldset>
        
{% if disable_inputs != "yes" %}
    </div>
    <div id="parameters" class="tab-pane fade" role="tabpanel" aria-labelledby="parameters-tab">
{% endif %}
  
    {% if disable_inputs or is_security %}
      <input type="hidden" name="script-number-of-inputs" class="script-number-of-inputs" value="0">
    {% else %}
      <fieldset id="script-inputs">
        <input type="hidden" name="script-number-of-inputs" class="script-number-of-inputs" value="0">
        <p>Input-parametre:</p>
        <div class="well">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Navn</th>
                <th>Type</th>
                <th>Slet</th>
              </tr>
            </thead>
            <tbody id="script-input-container">
              <tr class="script-input-add">
                <td colspan="3">
                  <a href="javascript:void(0)" onclick="BibOS.ScriptEdit.addInput('#script-inputs', {})" title="Tilføj ny konfiguration"><i class="icon-plus"></i> Tilføj parameter</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
    {% endif %}
  
{% if disable_inputs != "yes" %}
  </div>
{% endif %}
