{% load crispy_forms_tags %}

<div class="d-flex justify-content-end">
  {% if form.instance.created %}
    <p class="mb-3 mt-3">
      Oprettet: {{ form.instance.created }}
      {% if form.instance.user_created %}
        <span class="text-muted">({{ form.instance.user_created }})</span>
      {% endif %}
    </p>
  {% endif %}

  {% if form.instance.modified %}
    <p class="mb-3 ms-3 mt-3">
      Ændret: {{ form.instance.modified }} 
      {% if form.instance.user_modified %}
        <span class="text-muted">({{ form.instance.user_modified }})</span>
      {% endif %}
    </p>
  {% endif %}
</div>

{% if disable_inputs != "yes" %}
  <!-- The three tabs on the page: -->
  <ul class="nav nav-tabs mt-2" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="details-tab" href="#details" data-bs-toggle="tab" role="tab" aria-controls="details" aria-selected="true">Detaljer</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="preview-tab" href="#preview" data-bs-toggle="tab" role="tab" aria-controls="preview" aria-selected="false">Kode</a>
    </li>
    {% if not is_security %}
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="parameters-tab" role="tab" href="#parameters" data-bs-toggle="tab" role="tab" aria-controls="parameters" aria-selected="false">Inputparametre</a>
    </li>
    {% endif %}
  </ul>

  <!-- The content for the three tabs you can choose from above, one after one: -->
  <div class="tab-content" style="border-radius: .33rem .33rem 0 0;">
    <div id="details" class="tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">
{% endif %}

      <fieldset>
        {{ form.name|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {% if not global_script %}
          {{ form.maintained_by_magenta|as_crispy_field }}
        {% endif %}

          <input
            type="hidden"
            id="id_{% if form.prefix %}{{ form.prefix }}-{% endif %}site"
            name="{% if form.prefix %}{{ form.prefix }}-{% endif %}site"
            value="{{ site.id }}">
          <input 
            id="id_is_security_script" 
            name="is_security_script"
            value="{{ is_security }}" 
            type="hidden">
          <input
            id="id_is_hidden"
            name="is_hidden"
            value="{{ is_hidden }}"
            type="hidden">
          <input
            id="id_uid"
            name="uid"
            value="{{ uid }}"
            type="hidden">
      </fieldset>
        
{% if disable_inputs != "yes" %}
    </div>
    <div id="preview" class="tab-pane fade" role="tabpanel" aria-labelledby="preview-tab">
{% endif %}
  
      <fieldset {% if disable_inputs == "yes" %}class="mt-3"{% endif %}>
        {{ form.executable_code|as_crispy_field }}

        {% if show_code_preview %}
          <p>Kode:</p>
          <pre class="mb-0"><code id="script-code" class="bash">{{script_preview |escape}}</code></pre>
        {% endif %}

      </fieldset>
        
{% if disable_inputs != "yes" %}
    </div>
    <div id="parameters" class="tab-pane fade" role="tabpanel" aria-labelledby="parameters-tab">
{% endif %}
  
      {% if disable_inputs or is_security %}
        <input type="hidden" name="script-number-of-inputs" class="script-number-of-inputs" value="0">
      {% else %}
        <fieldset id="script-inputs">
          <input type="hidden" name="script-number-of-inputs" class="script-number-of-inputs" value="0">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Navn</th>
                  <th>Type</th>
                  <th>Standardværdi</th>
                  <th>Påkrævet</th>
                  <th>Slet</th>
                </tr>
              </thead>
              <tbody id="script-input-container">
                <tr class="script-input-add">
                  <td colspan="5">
                    <a class="btn table-config-add" href="javascript:void(0)" onclick="BibOS.ScriptEdit.addInput('#script-inputs', {})" title="Tilføj ny konfiguration">
                      <span class="d-flex align-items-center">
                        <span class="material-icons me-1">add</span>
                        Tilføj parametre
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      {% endif %}
  
{% if disable_inputs != "yes" %}
    </div>
  </div>
{% endif %}
