{% extends "site_with_navigation.html" %}
{% load i18n %}

{% block specific_title %}
{% if is_security %} {% translate "Security Scripts" %} {% else %} {% translate "Scripts" %} {% endif %}
{% endblock %}

<!-- Syntax highlighting -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/foundation.min.css">
{% endblock %}

{% block javascripts %}
<!-- Syntax highlighting -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/script_edit.js"></script>

<script type="text/javascript">
    $(function() {
        var inputs = {{ script_inputs_json|safe }}
        $.each(inputs, function() {BibOS.ScriptEdit.addInput('#script-inputs', this)})
    })
</script>
{% endblock %}
