  <ul class="nav nav-tabs scripttabs">
    {% if global_selected %}
    <li class="nav-item"><a class='nav-link' href="#localscripts" data-toggle="tab">Lokale scripts</a></li>
    <li class="active nav-item"><a class='nav-link' href="#globalscripts" data-toggle="tab">Globale scripts</a></li>
    {% else %}
    <li class="active nav-item"><a class='nav-link' href="#localscripts" data-toggle="tab">Lokale scripts</a></li>
    <li class="nav-item"><a class='nav-link' href="#globalscripts" data-toggle="tab">Globale scripts</a></li>
    {% endif %}
  </ul>
  <div class="tab-content">
    {% if global_selected %}
    <div class="tab-pane" id="localscripts">
    {% else %}
    <div class="tab-pane active" id="localscripts">
    {% endif %}
      <ul class="unstyled nav" >
      {% for script in local_scripts %}
        {% ifequal script selected_script %}
        <li class="nav-item"><a class='nav-link list-item active' href="{% url script_url site.uid script.pk %}"><i class="icon-list"></i> {{ script.name }}</a></li>
        {% else %}
        <li class="nav-item"><a class='nav-link list-item' href="{% url script_url site.uid script.pk %}"><i class="icon-list"></i> {{ script.name }}</a></li>
        {% endifequal %}
      {% endfor %}
      </ul>
    </div>
    {% if global_selected %}
    <div class="active" id="globalscripts">
    {% else %}
    <div class="tab-pane" id="globalscripts">
    {% endif %}
      <ul class="unstyled nav">
      {% for script in global_scripts %}
        {% ifequal script selected_script %}
        <li class="active nav-item"><a href="{% url script_url site.uid script.pk %}" class="list-item nav-link"><i class="icon-list"></i> {{ script.name }}</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url script_url site.uid script.pk %}" class="list-item nav-link"><i class="icon-list"></i> {{ script.name }}</a></li>
        {% endifequal %}
      {% endfor %}
      </ul>
    </div>
  </div>