{% extends 'system/scripts/run_base.html' %}

{% block run_dialog_heading %}
  <h3>
    <span class="text-muted">Kør script:</span><br>
    Vælg computer eller grupper
  </h3>
{% endblock %}

{% block run_dialog_content %}
    <p>Bemærk: Der kan kun køres scripts på computere, der er aktiverede, og på grupper, der har tilknyttet minimum 1
    computer.</p>
  
    <div class="row">
      <div class="col-6">
        <h4>Computere</h4>
        <ul class="list-unstyled">
            <li class="mb-3">
              <input type="checkbox" onclick="toggle_checks(this, 'pcs')" id="pick-all-pcs"/>
              <label for="pick-all-pcs"><strong>Vælg alle Computere</strong></label>
              <br/>
            </li>
            {% for pc in pcs %}
            {% if pc.is_activated %}
              <li>
                <input type="checkbox" name="pcs" id="check-pc-{{pc.pk}}" value="{{pc.pk}}">
                <label for="check-pc-{{pc.pk}}">{{pc.name}}</label>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <h4>Grupper</h4>
        <ul class="list-unstyled">
            <li class="mb-3">
              <input type="checkbox" onclick="toggle_checks(this, 'groups')" id="pick-all-groups"/>
              <label for="pick-all-groups"><strong>Vælg alle Grupper</strong></label>
              <br/>
            </li>
          {% for group in groups %}
            <li>
              <input type="checkbox" name="groups" id="check-group-{{group.pk}}" value="{{group.pk}}">
              <label for="check-group-{{group.pk}}">{{group.name}}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Function for selecting all checkboxes: -->
    <script>
      function toggle_checks(source, checkboxes_name) {
        checkboxes = document.getElementsByName(checkboxes_name);
        for(var i=0, n=checkboxes.length;i<n; i++) {
          checkboxes[i].checked = source.checked;
        }
      }
    </script>
  
{% endblock %}

{% block run_dialog_footer %}
  <button onclick="scriptStep1Submit()" role="button" class="btn btn-secondary">
    <span class="d-flex align-items-center">
      Næste 
      <span class="material-icons ms-1">
        chevron_right
      </span>
    </span>
  </button>
  <script>
    window.scriptStep1Submit = function() {
      document.getElementById('run_script_form').submit()
    }
  </script>
{% endblock %}
