{% extends 'system/scripts/run_base.html' %}
{% load i18n %}
{% load custom_tags %}

{% block run_dialog_heading %}
  <h3 class="modal-title" id="myModalLabel3">{% translate "Job started" %}!</h3>
{% endblock %}

{% block run_dialog_content %}
  <p>{% blocktranslate trimmed with sname=script.name|italic num_pcs=num_pcs|italic %}
      Job based on script {{sname}} has been started on {{num_pcs}} computer(s){% endblocktranslate %}
  </p>
  <p><a href="{% url 'jobs' site.uid %}?batch={{batch.pk}}" onclick="this.target='_top'">{% translate "You can follow the created jobs here" %}</a></p>
{% endblock %}

{% block run_dialog_footer %}
  <button class="btn btn-primary" type="button" onclick="dismissDialog()">{% translate "Close" %}</button>
{% endblock %}
