{% extends 'system/scripts/run_base.html' %}

{% block run_dialog_heading %}
  <h3>
    <span class="text-muted">Kør script:</span><br>
    Vælg computer eller grupper
  </h3>
{% endblock %}

{% block run_dialog_content %}
<div class="row">
  <div class="col-6">
    <label>Computere</label>
    <ul class="unstyled">
        {% for pc in pcs %}
        {% if pc.is_active %}
      <li onclick="BibOS.ScriptEdit.selectGroupOrPC(this)">
        <input type="checkbox" name="pcs" style="display: none" value="{{pc.pk}}">
        <a href="javascript:void(0)">{{pc.name}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-6">
    <label>Grupper</label>
    <ul class="unstyled">
      {% for group in groups %}
      <li onclick="BibOS.ScriptEdit.selectGroupOrPC(this)">
        <input type="checkbox" name="groups" style="display: none" value="{{group.pk}}">
        <a href="javascript:void(0)">{{group.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block run_dialog_footer %}
  <button onclick="BibOS.ScriptEdit.submitForm()" role="button" class="btn btn-secondary">
    <span class="d-flex align-items-center">
      Næste 
      <span class="material-icons ms-1">
        chevron_right
      </span>
    </span>
  </button>
{% endblock %}
