{% extends 'base.html' %}

{% block stylesheets %}
  <style>
    html,
    body,
    #adm-wrapper,
    #adm-bodywrapper {
      width: 100%;
      height: 100%;
    }
    body { 
      padding: 0;
      margin: 0;
      background-color: transparent;
      min-width: auto;
      display: flex;
      flex-flow: column nowrap;
    }
    #adm-wrapper {
      display: block;
      min-width: auto;
    }
    #adm-globalnav {
      display: none;
    }
    #adm-content {
      display: flex;
      flex-flow: column nowrap;
    }
    #run_script_form {
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
    }
  </style>
{% endblock %}

{% block specific_content %}
  <div class="modal-header">
    {% block run_dialog_heading %}{% endblock %}
    <button type="button" class="btn btn-close" onclick="dismissDialog()"></button>
  </div>
  
  <form name="run_script_form" 
    id="run_script_form"
    action="{% url 'run_script' site.uid script.pk %}"
    method="post" 
    enctype="multipart/form-data">
    
    <div class="modal-body">
      {% csrf_token %}
      <input type="hidden" name="action" value="{{ action }}">
      {% if message %}
        <p class="message text-danger">{{message}}</p>
      {% endif %}
      {% block run_dialog_content %}
        Loading...
      {% endblock %}
    </div>

    <div class="modal-footer">
      {% block run_dialog_footer %}{% endblock %}
    </div>

  </form>

  <script>
    const dismissDialog = function() {
      window.parent.dismissModal()
    }
  </script>
{% endblock %}
