{% extends 'system/scripts/run_base.html' %}

{% block run_dialog_heading %}
  <h3>
    <span class="text-muted">Kør script:</span><br>
    Vælg computer eller grupper
  </h3>
{% endblock %}

{% block run_dialog_content %}
  
    <div class="row">
      <div class="col-6">
        <label>Computere</label>
        <ul class="unstyled">
            {% for pc in pcs %}
            {% if pc.is_active %}
              <li>
                <input type="checkbox" name="pcs" id="check-pc-{{pc.pk}}" value="{{pc.pk}}">
                <label for="check-pc-{{pc.pk}}">{{pc.name}}</label>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <label>Grupper</label>
        <ul class="unstyled">
          {% for group in groups %}
            <li>
              <input type="checkbox" name="groups" id="check-group-{{group.pk}}" value="{{group.pk}}">
              <label for="check-group-{{group.pk}}">{{group.name}}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  
{% endblock %}

{% block run_dialog_footer %}
  <button onclick="scriptStep1Submit()" role="button" class="btn btn-secondary">
    <span class="d-flex align-items-center">
      Næste 
      <span class="material-icons ms-1">
        chevron_right
      </span>
    </span>
  </button>
  <script>
    window.scriptStep1Submit = function() {
      document.getElementById('run_script_form').submit()
    }
  </script>
{% endblock %}
