{% extends 'system/scripts/run_base.html' %}
{% load i18n %}

{% block run_dialog_heading %}
  <h3>
    <span class="text-muted">{% translate "Run script" %}:</span><br>
    {% translate "Specify parameters" %}
  </h3>
{% endblock %}

{% block run_dialog_content %}
  
    {% for pk in pcs %}
      <input type="hidden" name="pcs" value="{{ pk }}">
    {% endfor %}
    {% for field in form %}
      <div class="row">
        <label class="form-label col-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-8">
          {{ field }}
          {{ field.errors }}
        </div>
      </div>
    {%empty%}
      <p>{% translate "The script takes no parameters." %}</p>
    {%endfor%}
  
{% endblock %}

{% block run_dialog_footer %}
  <button onclick="scriptStep2Submit()" type="button" class="btn btn-warning">
    <span class="d-flex align-items-center">
      {% translate "Run" %}
      <span class="material-icons ms-1" style="font-size: 1.25rem;">
        arrow_forward
      </span>
    </span>
  </button>
  <script>
    window.scriptStep2Submit = function() {
      
      //Checking if any of the parameters are passwords
      for (const elem of document.getElementsByClassName("password-input")) {
        /*
        Cloning the input element is a workaround to prevent the browser to not
        prompt to save a password input. As far as I can see if an input element 
        has ever been type: password the prompt appears
        -ENA 
        */
        elem.setAttribute("style", "display: none;")
        elem.setAttribute("type", "text")
        const clonedElem = elem.cloneNode()

        //Appending the newly cloned input to the form 
        elem.parentNode.appendChild(clonedElem)
        
        //Remove the original input element entirely
        elem.remove()
      }

      document.getElementById('run_script_form').submit()
    }
  </script>
{% endblock %}
