<div class="template-container">

  <table class="table">
    <tbody id="script-input-template">
      <tr class="script-input">
        <td>
          <input type="hidden" name="script-input-pk" value="#PK#" class="pk-input">
          <input type="text" name="script-input-name" value="#NAME#" class="name-input form-control">
        </td>
        <td>
          <select name="script-input-type" class="type-input form-select">
            {% for value, name in type_choices %}
              <option value="{{value}}">{{name}}</option>
            {% endfor %}
          </select>
        </td>
        <td style="vertical-align: middle;">
          <a class="btn btn-sm" href="javascript:void(0)" onclick="BibOS.ScriptEdit.removeInput($(this).parent().parent())">
            Fjern
          </a>
        </td>
      </tr>
    </tbody>
  </table>  
</div>
