{% extends "system/scripts/header.html" %}

{% block specific_content %}
  <div class="sublevelnav">
    <div class="listutils">
      <button 
        class="btn btn-link" 
        data-bs-target="#addNewScript" 
        type="button" 
        data-bs-toggle="modal" 
        title="Tilføj nyt script">
        <span class="material-icons">add</span>
        Tilføj nyt script
      </button>
      <!-- Search box -->
      <div class="input-group" style="padding: .5rem 1rem;">
        <input id="search_form" type="search" id="form1" class="form-control" placeholder="Find ...">
      </div>
    </div>
    {% include 'system/scripts/navigation.html' %}
    {% include 'system/scripts/search_result.html' %}
  </div>

  {% include 'system/scripts/templates.html' %}

  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">
      Redigér script: <em>{{ selected_script.name }}</em>
    </h2>

    <form method="post" 
          name="scriptform" 
          id="scriptform"
          action="{% url script_url site.uid selected_script.pk %}"
          enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'notification.html' %}

      {% if not is_security %}
        <div style="float: left; margin-top: .5rem;">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#runscriptmodal">Kør script</button>
        </div>
      {% endif %}

      {% include 'system/scripts/form.html' with show_code_preview=1 global_script=script.is_global %}

      <fieldset class="gray-box mt-0 pt-0" style="border-radius: 0 0 .33rem .33rem;">
        {% comment %}If it's a global script only allow saving if the user is of sufficiently high rank {% endcomment %}
        {% if selected_script.is_global is False or user.is_superuser %}
          <input type="submit" class="btn btn-primary me-3" value="Gem ændringer">
        {% endif %}
        <button type="reset" class="btn btn-secondary">Annuller</button>
      </fieldset>

    </form>

    {% if not is_security %}
    <div id="runscriptmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <iframe id="runscriptmodaliframe" src="{% url 'run_script' site.uid script.pk %}" style="border: 0; width: 100%; height: 80vh;"></iframe>
        </div>
      </div>
    </div>
    <script>
      window.dismissModal = function() {
        const runModalEl = document.getElementById('runscriptmodal')
        bootstrap.Modal.getInstance(runModalEl).hide()
      }
    </script>
    {% endif %}

  </div>  

  <!-- MODAL WINDOW FOR NEW SCRIPT REGISTRATION: -->
  
  <div id="addNewScript" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 650px">
    <div class="modal-dialog">
      <div class="modal-content">
        <form 
          {% if is_security %}
          action="{% url 'new_security_script' site.uid %}"
          {% else %}
          action="{% url 'new_script' site.uid %}"
          {% endif %}
          name="create_script_form"
          id="create_script_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h3>Tilføj nyt script</h3>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            {% include 'system/scripts/form.html' with form=create_form disable_inputs="yes" %}
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Gem">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuller</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
