{% extends "system/scripts/header.html" %}
{% load i18n %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">
    <button
      class="btn btn-link"
      data-bs-target="#addNewScript"
      type="button"
      data-bs-toggle="modal"
      title="Tilføj nyt script">
      <span class="material-icons">add</span>
      {% translate "Add new" %}
      {% if is_security %}
      {% translate "security script" %}
      {% else %}
      {% translate "script" %}
      {% endif %}
    </button>

      {% translate "Find ..." as ph %}
    <!-- Search box -->
    <div class="mx-3 my-2">
      <div class="input-group">
        <input id="search_form" type="search" class="form-control" placeholder="{{ph}}">
        <span class="input-group-text bg-white">
          <button type="button" class="btn btn-close btn-lg" id="search-clear-btn">
            <span class="visually-hidden">{% translate "Clear the filter" %}</span>
          </button>
        </span>
      </div>
    </div>

    {% include 'system/scripts/navigation.html' %}
    {% include 'system/scripts/search_result.html' %}

  </div>
</div>
{% endblock %}

{% block specific_content %}

  {% include 'system/scripts/templates.html' %}

  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">
      {% translate "Edit" %}
      {% if is_security %}
      {% translate "Security Script" %}
      {% else %}
      {% translate "Script" %}
      {% endif %}
      <em>{{ selected_script.name }}</em>
    </h2>

    <form method="post"
          name="scriptform"
          id="scriptform"
          action="{% url script_url site.uid selected_script.pk %}"
          enctype="multipart/form-data">
      {% csrf_token %}

      {% include 'notification.html' %}

      {% if not is_security %}
        <div class="float-start" style="margin-top: .5rem;">
          {% comment %}
          {% if supported_products %}
            <p>
              {% translate "Supported platforms" %}:
              {{supported_products|join:", "}}
            </p>
          {% endif %}
          {% endcomment %}

          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#runscriptmodal">{% translate "Run script" %}</button>
        </div>
      {% endif %}

      <div class="d-flex justify-content-end">
        {% if form.instance.created %}
          <p class="mb-3 mt-3">
            {% translate "Created" %}: {{ form.instance.created }}
            {% if form.instance.user_created %}
              <span class="text-muted">({{ form.instance.user_created }})</span>
            {% endif %}
          </p>
        {% endif %}

        {% if form.instance.modified %}
          <p class="mb-3 ms-3 mt-3">
            {% translate "Modified" %}: {{ form.instance.modified }}
            {% if form.instance.user_modified %}
              <span class="text-muted">({{ form.instance.user_modified }})</span>
            {% endif %}
          </p>
        {% endif %}
      </div>

      <div class="clearfix"></div>

      {% include 'system/scripts/form.html' with show_code_preview=1 global_script=script.is_global %}

      <fieldset class="gray-box mt-0 pt-0" style="border-radius: 0 0 .33rem .33rem;">
        {% comment %}If it's a global script only allow saving if the user is of sufficiently high rank {% endcomment %}
        {% if selected_script.is_global is False or user.is_superuser %}
          <input type="submit" class="btn btn-primary me-3" value="{% translate 'Save changes' %}">
        {% endif %}
        <button type="button" onclick="script_refresh({{script_inputs_json}})" class="btn btn-secondary">{% translate "Cancel" %}</button>
      </fieldset>

    </form>

    <!-- MODAL WINDOW FOR SCRIPT EXECUTION: -->
    {% if not is_security %}
    <div id="runscriptmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 650px; max-width: 90vw;">
        <div class="modal-content">
          <iframe id="runscriptmodaliframe" src="{% url 'run_script' site.uid script.pk %}" style="border: 0; width: 100%; height: 80vh;"></iframe>
        </div>
      </div>
    </div>
    <script>
      window.dismissModal = function() {
        const runModalEl = document.getElementById('runscriptmodal')
        bootstrap.Modal.getInstance(runModalEl).hide()
      }
    </script>
    {% endif %}

  </div>

  <!-- MODAL WINDOW FOR NEW SCRIPT REGISTRATION: -->

  <div id="addNewScript" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form
          {% if is_security %}
          action="{% url 'new_security_script' site.uid %}"
          {% else %}
          action="{% url 'new_script' site.uid %}"
          {% endif %}
          name="create_script_form"
          id="create_script_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h3>{% translate "Add new" %} {% if is_security %}{% translate "Security Script" %}{% else %}{% translate "Script" %}{% endif %}</h3>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            {% include 'system/scripts/form.html' with form=create_form disable_inputs="yes" %}
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="{% translate 'Create' %} {% if is_security %}{% translate 'Security Script' %}{% else %}{% translate 'Script' %}{% endif %}">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
