{% extends "site_with_navigation.html" %}

{% block specific_title %}
Scripts
{% endblock %}

{% block scripts_active %}
{% if not is_security %}class="active"{% endif %}
{% endblock %}

{% block security_scripts_active %}
{% if is_security %}class="active"{% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/script_edit.js"></script>
<script type="text/javascript">
$(function() {
var inputs = {{ script_inputs_json|safe }}
$.each(inputs, function() {BibOS.ScriptEdit.addInput('#update-script-inputs', this)})
})
</script>
{% endblock %}

{% block specific_documentation_links %}
{% if is_security %}
  <li><a href="{% url 'doc' 'scripts/securitywarnings' %}"><i class="icon-question-sign icon-white"></i>Hjælp til sikkerhed</a></li>
{% else %}
  <li><a href="{% url 'doc' 'scripts' %}"><i class="icon-question-sign icon-white"></i> Administration af scripts</a></li>
  <li><a href="{% url 'doc' 'scripts/running' %}"><i class="icon-question-sign icon-white"></i> Afvikling af scripts</a></li>
  {% endif %}
{% endblock %}

{% block specific_content %}
  <div class="sublevelnav">
    <div class="listutils">
      <button class="btn btn-link" data-bs-target="#addNewScript" type="button" data-bs-toggle="modal" title="Tilføj nyt script">
        <i class="icon-plus icon-white"></i> Tilføj nyt script
      </button>
    </div>
    {% include 'system/scripts/navigation.html' %}
  </div>

  {% include 'system/scripts/templates.html' %}

  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">
      Redigér script: <em>{{ selected_script.name }}</em>
    </h2>

    <form method="post" name="scriptform" id="scriptform"
        action="{% url script_url site.uid selected_script.pk %}"
        enctype="multipart/form-data">
      {% csrf_token %}

      <div>
      {% include 'notification.html' %}
      </div>
      {% if not is_security %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#runscriptmodal">Kør script</button>
      {% endif %}
    {% comment %}If it's a global script only allow saving if the user is of sufficiently high rank {% endcomment %}
    {% if selected_script.is_global %}
    {% if user.is_superuser %}
    <input type="submit" class="btn btn-primary" value="Gem ændringer" />
    {% endif %}
    {% else %}
    <input type="submit" class="btn btn-primary" value="Gem ændringer" />
    {% endif %}

<!--      <button class="btn" onclick="location.href='{% url script_url site.uid selected_script.pk %}'; return false;">Fortryd ændringer</button>-->

      {% include 'system/scripts/form.html' with show_code_preview=1 global_script=script.is_global %}
    </form>
     {% if not is_security %}
    <div id="runscriptmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div id="runscriptmodalheader"><h3 class="modal-title">Kør script</h3></div>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
                    <iframe id="runscriptmodaliframe" src="{% url 'run_script' site.uid script.pk %}" style="border: 0; width: 100%; height: 250px;"></iframe>
          </div>
          <div id="runscriptmodalfooter" class="modal-footer">
                    <button class="btn" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>  

  <!-- MODAL WINDOW FOR NEW SCRIPT REGISTRATION: -->
  
  <div id="addNewScript" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 650px">
    <div class="modal-dialog">
      <div class="modal-content">
        <form 
          {% if is_security %}
          action="{% url 'new_security_script' site.uid %}"
          {% else %}
          action="{% url 'new_script' site.uid %}"
          {% endif %}
                                                                                                                name="create_script_form"
          id="create_script_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal">×</button>
            <h3>Tilføj nyt script</h3>
          </div>
          <div class="modal-body">
            {% include 'system/scripts/form.html' with form=create_form disable_inputs="yes" %}
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Gem" />
            <button class="btn" data-bs-dismiss="modal">Annuller</button>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
