{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Hantera undantag</h1>
  <p>
    På sidan för hantering av schemaundantag, till höger om
    Den vänstra menyn visar en lista över schemaundantag för den webbplats du befinner dig under. Man 
    kan klicka på namnet på varje undantag för att redigera undantaget.
  </p>
  <p>
    Det finns två typer av undantag: ändrade öppettider och stängningsdagar.
    De två typerna har olika ikoner i listan över undantag. Ett undantag
    Med ändrade öppettider ändras på- och avstängningstiderna för det valda datumet
    eller punkt. Ikonen är en öppen dörr. Ett undantag med stängningsdagar de sätter
    Tillhörande maskiner ska ständigt stängas av det valda datumet eller perioden.
    Ikonen är en stängd dörr.
  </p>
  <p>
    Till höger visas redigeringsgränssnittet för det valda undantaget. Om inte där
    Om några undantag har skapats för den webbplats du befinner dig under visas gränssnittet för att
    Skapa ett undantag med ändrade öppettider.
  </p>
  <p>
    Som standard, när du klickar på ett undantag, ser du
    Inställningar för undantag. Här kan du ändra namnet på undantaget och den period under vilken det är i kraft.
    Ett enda datum väljs genom att välja samma från- och datum. Om undantaget är av typen
    ändrade öppettider, kommer du även att kunna ändra de på- och avstängningstider som gäller
    för undantaget. Ändringar som görs på webbplatsen träder inte i kraft förrän du
    klicka på knappen "Spara ändringar" längst ner på skärmen.
  </p>
  <p>
    Observera att om du ändrar inställningarna för ett undantag som används av flera aktiva
    scheman, kommer scheman också att uppdateras när du trycker på "Spara ändringar."
  </p>
  <p>
    Om du vill skapa ett nytt undantag klickar du på "Lägg till ändrade öppettider"
    eller "Lägg till stängning" ovanför schemalistan. Detta öppnar ett gränssnitt där
    Man måste fylla i namn och inställningar för den valda typen av undantag. När du klickar på
    spara, kommer en att omdirigeras till redigeringssidan för den nyskapade
    undantag där du kan fortsätta att ändra inställningarna.
  </p>

{% endblock %}
