{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block specific_title %}
{% translate "Events" %}
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
       var security_event_search_url = "{% url 'security_event_search' site.uid %}"
       var security_events_update_url = "{% url 'security_events_update' site.uid %}"
       /* This cookie is used to get the correct language for event severity
       and event status */
       var lang = "{{request.user.bibos_profile.language}}"
       document.cookie = "django_language="+lang;
  </script>
  <script type="text/javascript" src="/static/js/security_events_list.js"></script>
{% endblock %}

{% block subnav %}
  <div id="securityeventsearchnav" class="sublevelnav">

    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <h3 class="nav-header">{% translate "Filters" %}</h3>
      <button class="btn btn-link" type="button" onclick="BibOS.SecurityEventList.reset()">
        {% translate "Reset filters" %}
      </button>
    </div>

    <hr class="mt-0">

    <form id="securityeventsearch-filterform" name="filterform" action="./" method="post">

      <input type="hidden" name="orderby" value="-pk">
      <input type="hidden" name="page" value="1">

      <div id="securityeventsearch-level-selectors" class="px-3 pt-2">
        <h4 class="mb-3">{% translate "Level" %}</h4>
        {% for l in level_choices %}
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="chkbx-{{ l.value }}" value="{{ l.value }}" name="level" {{ l.checked }}>
            <label class="form-check-label" for="chkbx-{{ l.value }}">
              <span class="badge badge-{{ l.label }}">{{ l.name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>

      <hr>

      <div id="securityeventsearch-status-selectors" class="px-3 pt-2">
        <h4 class="mb-3">{% translate "Status" %}</h4>
          {% for s in status_choices %}
          <div class="form-check mb-3">
            <input class="form-check-input" id="chkbx-{{ s.value }}" type="checkbox" value="{{ s.value }}" name="status" {{ s.checked }}>
            <label class="form-check-label" for="chkbx-{{ s.value }}">
              <span class="badge {{ s.label }}">{{ s.name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>

      <hr>

    </form>
  </div>
{% endblock %}

{% block specific_content %}
<!-- Security Event Template -->
  <div class="template-container">
   <table class="table">
    <tbody id="securityeventitem-template">
      <tr class="click-list--item">
        <td><input type="checkbox" onchange="selectEvent(this)"/></td>
        <td><span class="badge badge-#LEVEL_LABEL#">#LEVEL#</span></td>
        <td><strong>#PROBLEM_LINK#</strong></td>
        <td>#INFO_BUTTON#</td>
        <td><strong>#PC_LINK#</strong></td>
        <td>#OCCURRED#</td>
        <td>#REPORTED#</td>
        <td><span class="badge #STATUS_LABEL#">#STATUS#</span></td>
        <td>#ASSIGNED_USER_LINK#</td>
      </tr>
    </tbody>
   </table>
  </div>

<!-- Handle Events Modal -->
<div class="modal fade" id="handle_events_modal" tabindex="-1" aria-labelledby="handle_events_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="handle_events_modal_label">{% translate "Edit Security Events" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button id="handle_events_save_button" type="button" class="btn btn-primary">{% translate "Handle event" %}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    {% include 'notification.html' %}
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#handle_events_modal" id="handle-event-button" disabled="true">{% translate "Handle events" %}</button>
    <table class="table table-extendable" id="site_securityevents_table">
      <thead>
        <tr>
          <th><input type="checkbox" id="all_events_toggle" autocomplete="off"/></th>
          <th>{% translate "Level" %}</th>
          {% translate "Rule" as rule %}
          {% include 'widgets/orderby_th_ajax.html' with label=rule action="BibOS.SecurityEventList.orderby('pk')" slug='warning' %}
          <th>{% translate "Info" %}</th>
          <th>{% translate "Device" %}</th>
          <th>{% translate "Incident time" %}</th>
          <th>{% translate "Time of receipt" %}</th>
          <th>{% translate "Status" %}</th>
          {% translate "Handled by" as handled %}
          {% include 'widgets/orderby_th_ajax.html' with label=handled action="BibOS.SecurityEventList.orderby('assigned_user__username')" slug='handleby' %}
        </tr>
      </thead>
      <tbody id="securityevent-list">
        <tr class="muted">
          <td colspan="5">{% translate "Loading data..." %}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9">
            <nav class="pagination-wrapper" aria-label="Security event list page">
              {% include 'widgets/pagination.html' %}
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
