{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Administration av användare</h1>
  <p>
    När du klickar på "Användare" i den vänstra menyn ser du en lista över
    användare till höger om den vänstra menyn. Till höger om listan visas
    redigeringsgränssnittet för den valda användaren. Om det inte finns någon
    användare på det valda site visas en dialogruta för att skapa användare i
    stället.
  </p>
  <h2>Redigering</h2>
  <p>
    Om du vill redigera en användare klickar du på användaren i listan
    över användare. Du har nu möjlighet att ändra användarens användarnamn,
    lösenord, e-postadress och användartyp. Fälten förklaras nedan:
  </p>
  <p>
    <ul>
      <li>
        <strong>Användarnamn</strong>:
        Detta är den inloggning som användaren kommer att använda vid inloggning
        i Sambruk MedborgarPC-admin. Det kan vara högst 30 tecken och innehåller endast siffror,
        Bokstäver och specialtecken <strong>@</strong>, <strong>.</strong>,
        <strong>+</strong>, <strong>-</strong> och <strong>_</strong>.
      </li>
      <li>
        <strong>Lösenord</strong>:
        Här kan du ändra användarens lösenord. För att säkerställa att lösenordet skrivs in korrekt måste det skrivas in två gånger. Om fälten inte är ifyllda förblir lösenordet oförändrat. När du skapar en ny användare måste du ange ett lösenord.
      </li>
      <li>
        <strong>E-mail adresse</strong>:
        Här måste anges användarens e-postadress.
      </li>
      <li>
        <strong>Typ av användare</strong>:
        Alternativen i det här fältet beror på vilken typ av användare du använder
        är inloggad som:<br>
        Endast webbplatsadministratörer har möjlighet att redigera <em>användartyper</em>.
        <br/>
        Se information om de olika <em>Användartyper</em> längre ner.
      </li>
    </ul>
  </p>
  <p>
    Ändringarna börjar inte gälla förrän du klickar på knappen "Spara ändringar"
    nederst på sidan.
  </p>
  <h2>Skapa en ny användare</h2>
  <p>
    Om du vill skapa en användare klickar du på ikonen
    "Lägg till ny användare" ovanför listan över användare. Detta kommer att visa en dialogruta där du kan fylla i samma information som vid redigering av användare.
    Genom att klicka på "Skapa" kommer användaren att skapas och en kommer att bli
    omdirigeras till redigeringssidan för den nyskapade användaren.
  </p>
  <h2>Borttagning av användare</h2>
  <p>
    Om du vill ta bort en användare klickar du på
    knappen "Ta bort användare" i det övre högra hörnet. En kommer därefter att vara
    ombedd att bekräfta raderingen och om en gör det kommer användaren att vara
    borttagen.
  </p>
  <h2>Användartyp</h2>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <td>Typ av användare</td>
        <td>Användare</td>
        <td>Scripts</td>
        <td>Säkerhetsregler</td>
        <td>Grupper</td>
        <td>Datorer</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Site-Admin</td>
        <td>Alla rättigheter</td>
        <td>Alla rättigheter</td>
        <td>Alla rättigheter</td>
        <td>Alla rättigheter</td>
        <td>Alla rättigheter</td>
      </tr>
      <tr>
        <td>Användare av webbplatsen</td>
        <td>Kan redigera egen användare, förutom att ändra användartyp. Det går inte att skapa, redigera eller ta bort andra användare.</td>
        <td>Kan köra, skapa och redigera skript. Kan inte ta bort dem.</td>
        <td>Kan skapa och redigera säkerhetsregler. Kan inte ta bort dem.</td>
        <td>Alla rättigheter</td>
        <td>Alla rättigheter</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
