<ul class="docsubnav">
    <li {% if submenu_active == 'edit' %}class="active"{% endif %}>
      <a href="{% url 'doc' 'security_scripts/edit' %}"> Redigering av Säkerhetsskript</a>
    </li>
     <li {% if submenu_active == 'securityevents' %}class="active"{% endif %}>
      <a href="{% url 'doc' 'security_scripts/securityevents' %}"> Säkerhetsincidenter</a>
    </li>
     <li {% if submenu_active == 'securityproblems' %}class="active"{% endif %}>
      <a href="{% url 'doc' 'security_scripts/securityproblems' %}"> Säkerhetsregler</a>
    </li>
</ul>
