{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Redigera säkerhetsskript</h1>
  <p>
    Om du vill redigera ett säkerhetsskript klickar du på "Säkerhetsskript" i menyn till vänster och
    och välj sedan skriptet Säkerhet i listan till höger om
    vänster meny. Observera att du kan behöva växla mellan
    flikar "Lokala skript" och "Globala skript" för att hitta säkerhetsskriptet.
  </p>
  <p>
    När du redigerar ett säkerhetsskript har du möjlighet att ändra dess namn och
    beskrivning. Du kan också ladda upp en ny version av säkerhetsskriptet genom att
    fyll i fältet under "Ladda upp skriptkod". Ändringar du har gjort
    börjar inte gälla förrän du klickar på "Spara ändringar" högst upp på sidan.
  </p>
  <p>
    Tänk på följande för säkerhetsskript:
    <br>
    Ett säkerhetsskript är ett skript som samlar in <a href="{% url 'doc' 'security_scripts/securityevents' %}"> sikkerhedshændelser</a>.
    <br>
    <br>
    Ett säkerhetsskript tar inga indataparametrar,
    Och det måste följa ett visst format.<br>
    Strukturen för ett säkerhetsskript kommer vanligtvis att vara att läsa en mängd data från en loggfil, söka efter en händelse via ett eller flera nyckelord och sedan spara informationen i ett specifikt format. Ett säkerhetsskript kan vara ett skalskript eller ett pythonskript.
    <br>
    <br>
    Formatet ser ut så här: "[Säkerhetsregel-ID, tekniska protokoll, rådata]".<br>
  </p>
  <ul>
    <li>
      Säkerhetsregel-ID:t finns på sidan Säkerhetsregler. Ditt säkerhetsskript
      tillhör en säkerhetsregel och det är dess ID du behöver.
    </li>
    <li>
      Den tekniska sammanfattningen kan antingen vara något du definierar eller en bit av den insamlade datan.
    </li>
    <li>
      Rådata är all insamlad data om säkerhetsincidenten.
    </li>
  </ul>
  <p>
    Skicka formatet som en matris till modulen csv_writer genom att anropa write-metoden.
  </p>
{% endblock %}
