/*
    Example deletable implementation:

    <li class="deletable">
        <a href="#">
            Thing that can be deleted
        </a>
        <a href="#">
            <span class="material-icons">clear</span>
        </a>
    </li>
 */

.deletable {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    a:first-child {
        flex-grow: 1;
    }

    a:last-child {
        display: none;
        color: $white;
        font-size: 1rem;
        vertical-align: middle;

        &:hover,
        &:focus {
            opacity: .75;
        }

        .material-icons {
            padding: $spacer*.25 $spacer*.75 $spacer*.25 $spacer*.5;
        }
    }

    &:hover,
    &:focus {
        background-color: $primary;

        a:last-child {
            display: block;
        }
    }    
}