body {
    min-width: 60rem;
    overflow: auto;
}


// Headers

header {
    background: $gray-800; 
    padding: $spacer;
    color: $gray-400;

    &.detailpage {
        margin-left: $navigation-width;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        em {
            color: $white;
            font-style: normal; 
        }
    }

}

.divideheader {
    background: $gray-800; 
    padding: $spacer*.5 $spacer;
    margin: 0 0 $spacer;
    font-size: 1.25rem;
    color: $gray-400;

    em {
        color: $white;
        font-style: normal; 
    }

    label {
        margin-left: 20px; 
        position: relative; 
        bottom: 2px;
    }
}


// Containers

.main {
    position: absolute; 
    top: $spacer*3.5;
    bottom: 0;
    padding: $spacer*2;
    left: $navigation-width;
    right: 0; 
    overflow-x: hidden; 
    overflow-y: auto; 
    width: auto;
    background-color: $white;

    & > table {
        margin: 0;
        border-radius: .33rem .33rem 0 0;
    }
}

.sublevelmain {
    left: $navigation-width * 2;
}

.template-container {
    display: none;
}
