body {
    min-width: 60rem;
    overflow: auto;
    background-color: $white;
}


// Headers

header {
    background: $gray-800; 
    padding: $spacer;
    color: $gray-300;

    &.detailpage {
        margin-left: $navigation-width;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        em {
            color: $white;
            font-style: normal; 
        }
    }

}

.divideheader {
    background: $gray-800; 
    padding: $spacer*.5 $spacer;
    margin: 0 0 $spacer;
    font-size: 1.25rem;
    color: $gray-300;

    em {
        color: $white;
        font-style: normal; 
    }
}


// Containers

.main {
    position: absolute; 
    top: $spacer*3.5;
    bottom: 0;
    padding: $spacer*1.75 $spacer*2;
    left: $navigation-width;
    right: 0; 
    overflow-x: hidden; 
    overflow-y: auto; 
    width: auto;
    background-color: $white;

    & > table {
        margin: 0;
    }
}

.sublevelmain {
    left: $navigation-width * 2;
}

.template-container {
    display: none;
}

.gray-box {
    background-color: $gray-100;
    border-radius: .33rem;
    padding: $spacer*2;
    margin-top: $spacer*2;
}

.gray-box-border {
    background-color: $gray-200;
    border-radius: .33rem;
    padding: $spacer;
    border: solid 1px $gray-400;
}

// Popup page
.popup-page { 
    padding: $spacer*2; 
    min-height: 100%;
    margin: $spacer auto;
}

@media (min-width: 1200px) {

    .popup-page {
        max-width: $spacer*60;
    }

}