// Nav tab customizations
.nav-tabs {
    margin-top: $spacer*1.75;
    padding-left: $spacer*2;
    border-bottom: none;
}

.nav-item > .nav-link:not(.active):hover,
.nav-item > .nav-link:not(.active):focus {
    background-color: $warning;
    color: $white;
}

.tab-content {
    background-color: $gray-100;
    padding: $spacer*2.5 $spacer*2.25;
    border-radius: .33rem;
}

// Global navigation
#left-menu {
    width: $navigation-width; 
    margin: 0; 
    border-radius: 0; 
    box-shadow: -5px -5px 20px $gray-900 inset;
    overflow-x: hidden; 
    overflow-y: auto;
    background-color: $gray-800;
    display: block;
    padding: 1.25rem .5rem 2rem .5rem;
    height: 100%;

    h2 {
        padding: 0 1rem;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: normal;
    }

    hr {
        margin: 1rem;
    }

    .nav-link {
        color: $gray-400;
        font-size: 1rem;

        &.active,
        &:hover,
        &:focus {
            background-color: $warning;
            color: $white;
        }
    }

    .badge { 
        width: auto; 
    }
}

// Sublevel navigation
.sublevelnav {
    width: $navigation-width; 
    background-color: $gray-200;
    overflow-x: hidden; 
    overflow-y: auto;
    margin: 0;
    list-style-type: none; 
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    hr {
        border-color: $white;
    }

    h2, h3, h4 {
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 0.05em; 
        font-weight: normal;
        margin: 0; 
        padding: 0;
    }

    a.remove:hover, 
    a.remove:active, 
    a.remove:focus {
        background: $danger;
        border: none;
    }
    .btn-close { 
        font-size: 10px;
    }

    .listutils {
        border-top: solid 1px $gray-700;
        background-color: $gray-800;
        padding-top: $spacer*.25;

        button.btn-link,
        a.btn-link,
        a.btn-link:visited {
            color: $white;
            text-decoration: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .material-icons {
                margin-right: $spacer*.25;
            }
        }
        button.btn-link:hover,
        button.btn-link:focus,
        a.btn-link:hover,
        a.btn-link:focus {
            color: $gray-400;
        }
    }

    .nav-tabs {
        flex-wrap: nowrap;
        border: none;
        background-color: $gray-800;
        margin-top: 0;
        padding-top: $spacer;
        padding-left: 0;

        & > .nav-item {
            overflow: hidden;
            min-width: $spacer*7;

            .nav-link {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .nav-link:not(.active),
            .nav-link:not(.active):link,
            .nav-link:not(.active):visited {
                color: $white;
            }
            .nav-link.active {
                background-color: $gray-200;
                border-color: $gray-200;
            }
        }
    }

    .tab-content {
        padding: 0;
        border-radius: 0;
        background-color: $gray-200;
    }
}

// Documentation navigation
.documentationpage #left-menu .docsubnav {
    list-style: none;
    background-color: $gray-900;
    margin: $spacer*.5 $spacer*-.5;
    padding: 0;

    a,
    a:link,
    a:visited {
        color: $gray-400;
        padding: $spacer*.5 $spacer*1.5;
        display: block;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: $white;
        background-color: $gray-800;
    }

    .active a {
        background-color: $orange;
        color: $white;
    }
}