.pagination-wrapper {
    background-color: $gray-100;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0 0 2.5rem !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 .33rem .33rem;

    .pagination {
        margin: 0;
    }
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pagination .page-item:first-child .page-link::before,
.pagination .page-item:last-child .page-link::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin: 0 .25rem;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -456px -72px;
}

.pagination .page-item:first-child .page-link::before {
    background-position: -432px -72px;
}

.pagination .page-item.disabled:first-child .page-link::before,
.pagination .page-item.disabled:last-child .page-link::after {
    opacity: .125;
}