.pagination-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 .33rem .33rem;

    .pagination {
        margin: 0;
    }
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pagination a {
    cursor: pointer;
}

.page-link {
    background: $gray-400!important;
    color: $black!important;
}
