table {
 
    th {
        background-color: $gray-200 !important;
        box-shadow: none !important;
        vertical-align: middle;

        &:first-child {
            border-radius: .33rem 0 0 0;
        }

        &:last-child {
            border-radius: 0 .33rem 0 0;
        }

        &.orderby {
            cursor: pointer;

            &.active {
                background-color: $gray-400 !important;
            }

            &:hover {
                background-color: $orange !important; 
                color: $white;
            }
        }
    }

    tbody tr {
        border-top: solid 1px $gray-200;

        &:last-child td:first-child {
            border-radius: 0 0 0 .33rem;
        }

        &:last-child td:last-child {
            border-radius: 0 0 .33rem 0;
        }
    }

    &.table-extendable {
        tbody tr:last-child td {
            border-radius: 0;
        }
    }

    &.table-configs {

        th {
            padding-left: 0;
            width: 50%;
        }

        td {
            box-shadow: none !important;
            background-color: transparent !important;
            border-top: solid 1px $gray-100;
            color: $gray-600;
            padding-left: 0;

            a,
            a:link,
            a:visited {
                text-decoration: none;
                display: inline-block;
                text-align: left;
            }

            a:hover,
            a:focus {
                background-color: $gray-400;
            }
        }

        .table-config-add {
            margin-left: $spacer*-1;
        }
    }

    &.table-hover {
        tr:hover {
            background-color: $gray-100;
        }
        td:hover {
            cursor: pointer;

        }
    }
}

/* Custom table CSS */

.active-col { width: 15px!important; }
