// Boostrap v5 custom.scss

// Include any default variable overrides here (though functions won't be available)
@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "layout";
@import "collapsible";
@import "navigation";
@import "table";
@import "pagination";
@import "icons";
@import "deletable";


/*
    UI elements    

    - main nav
    - main header
    - itemlist (subnav) 
    -- itemlist btn (+)
    -- itemlist tabs
    -- itemlist collapsible
    - filters (subnav)
    - content header
    - table
    - form
    - tabs
    - button, primary (save)
    - button, secondary (cancel)
    - button, highlighted (kør script)
    - modal dialog
    - code view (pre)
    - contentlist (dark table)
    - giant popover
    - pagination
    - collapsible list group / _collapsible.scss
    - deletable list element / _deletable.scss
*/

body {
    background-color: $white;
}

header {
    background-color: $gray-800; 
    color: $gray-400;
    color: $white;
    h1 em {
        color: $gray-400;
    }
}

hr {
    border-top: 1px solid $gray-700;
    opacity: 1;
}