// Boostrap v5 custom.scss

// Include any default variable overrides here (though functions won't be available)
@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "layout";
@import "form";
@import "itemlist";
@import "picklist";
@import "collapsible";
@import "navigation";
@import "table";
@import "pagination";
@import "icons";
@import "code";
@import "modal";
@import "warning";
@import "errors";
@import "dropdown";
@import "bootstrap_table_overrides";

hr {
    border-top: 1px solid $gray-700;
    background-color: transparent;
    opacity: 1;
}

.btn-warning {
    color: $white;
}

.severity-critical {
    color: $danger;
}

.severity-high {
    color: $warning;
}

.pick-list-counter-badge  {
  font-size: 1.0rem;
}

.pick-list .list-group-item:active {
    background-color: transparent;
}

.pick-list .btn:focus {
  box-shadow: none;
}

#pc_update_form .basic-info {
  font-size: 1.20em;
}

#monitor-period input {
  display: inline;
  width: 100px;
}
