{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Security Rules" %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/userlist.js"></script>
{% endblock %}

{% block subnav %}
    <div id="security-problems-nav" class="sublevelnav">
        <div class="listutils">
            <button class="btn btn-link" data-bs-target="#addNewSecProblem" type="button" data-bs-toggle="modal">
                <span class="material-icons">add</span>
                {% translate "Define new security rule" %}
            </button>
        </div>
        <ul class="item-list">
            {% for sp in site.security_problems.all %}
                <li {% ifequal sp selected_security_problem %}class="active"{% endifequal %}>
                    <a class="item-list-link" href="/site/{{ site.url }}/security_problems/{{ sp.uid }}/">
                        {{ sp.name }}
                    </a>
                    {% ifequal sp selected_security_problem %}
                        {% if user.is_superuser or site_membership.site_user_type == site_membership.SITE_ADMIN %}
                            <a class="item-list-deletable material-icons"
                               href="/site/{{ site.url }}/security_problems/{{ selected_security_problem.uid }}/delete/"
                               title="{% translate 'Delete security rule' %}">
                                clear
                            </a>
                        {% endif %}
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block specific_content %}
{% translate "Add group to surveillance" as g_add %}
{% translate "Remove monitored group" as g_remove %}
{% translate "Add email recipient" as e_add %}
{% translate "Remove recipient" as e_remove %}
<div class="container-fluid main sublevelmain">

    {% if selected_security_problem %}
    <h2 class="divideheader">
        {% translate "Details about" %} <em>{{ selected_security_problem.name }}</em>
        {% comment %}
        TODO later?
        <a class="float-end" href="{% url 'security_problem' site_uid=site.url uid=selected_security_problem.id %}" title="{% translate 'See all events for this Security Rule' %}"><span class="badge badge-important"><icon class="icon-fire icon-white"></icon></span></a>
        {% endcomment %}
    </h2>
    {% include 'notification.html' %}

    <form name="updategroupform"
        id="updategroupform"
        method="post"
        class="gray-box">
        {% csrf_token %}

        <div class="alert alert-info">
            <strong>{% translate "Note" %}</strong>
            <ul>
                {% translate "all"|bold as all %}
                {% translate "empty"|italic as empty %}
                <li>{% blocktranslate trimmed %}
                    If the Security Rule does not have a Group added, the rule will apply to {{all}} Computers.
                    {% endblocktranslate %}</li>
                <li>{% blocktranslate trimmed %}
                    If you want to temporarily disable a rule, you can create an {{empty}} Group (i.e. a Group with no Computers)
                    and set this Group as the monitored Group.
                    {% endblocktranslate %}</li>
            </ul>
        </div>
        <div class="row gx-5">
            <fieldset class="col-12 col-lg-6">

                <!-- Site field -->
                <input type="hidden" id="id_site" name="site" value="{{ site.id }}">

                {{ form.name|as_crispy_field }}
                {{ form.uid|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.level|as_crispy_field }}

            </fieldset>

            <fieldset class="col-12 col-lg-6">
                {{ form.security_script|as_crispy_field }}

                <p>
                    <label>{% translate "Monitored groups" %}</label>
                    {% include 'widgets/picklist.html' with submit_name='alert_groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text=g_add remove_text=g_remove site_url=site.uid target_section='groups' %}
                </p>
                <p>
                    <label>{% translate "Recipient(s) of email warning" %}</label>
                    {% include 'widgets/picklist.html' with submit_name='alert_users' selected_list=selected_users available_list=available_users identifier='modtager' add_text=e_add remove_text=e_remove site_url=site.uid target_section='users' %}
                </p>

            </fieldset>

        </div>

        <fieldset class="mt-3">
            <button class="btn btn-primary me-3" type="submit">{% translate "Save changes" %}</button>
            <button class="btn btn-secondary" type="button" onclick="return BibOS.SecurityProblemList.cancelEditing()">{% translate "Cancel" %}</button>
        </fieldset>

    </form>
    {% endif %}

    <div id="addNewSecProblem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'security_problem_new' site.uid %}"
                        name="new_security_problem_form"
                        id="new_security_problem_form"
                        method="post">
                    <div class="modal-header">
                        <h3 class="modal-title">{% translate "Define new security rule" %}</h3>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        <fieldset>

                            <!-- Site field -->
                            <input type="hidden" id="id_site" name="site" value="{{ site.id }}">

                            <!-- And now the rest -->
                            {{ newform.name|as_crispy_field }}
                            {{ newform.uid|as_crispy_field }}
                            {{ newform.description|as_crispy_field }}
                            {{ newform.level|as_crispy_field }}
                            {{ newform.security_script|as_crispy_field }}

                            <p>
                                <label>{% translate "Monitored groups" %}</label>
                                {% include 'widgets/picklist.html' with submit_name='alert_groups' available_list=alert_groups identifier='gruppe' unique_id='ag2' add_text=g_add %}
                            </p>
                            <p>
                                <label>{% translate "Recipient(s) of email warning" %}</label>
                                {% include 'widgets/picklist.html' with submit_name='alert_users' available_list=alert_users identifier='modtager' unique_id='au2' add_text=e_add %}
                            </p>
                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="{% translate 'Create security rule' %}">
                        <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="{% translate 'Cancel' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
