{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Delete security rule" %}: {{ securityproblem.name }}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      <ul>
        <li>
          {% translate "Security Rule"|bold as security_rule %}
          {% translate "Events"|bold as events %}
          {% blocktranslate trimmed %}
          If a {{security_rule}} is deleted, the related {{events}} will also be deleted.
          {% endblocktranslate %}
        </li>
        <li>
          {% translate "Groups"|bold as groups %}
          {% translate "Security Script"|bold as security_script %}
          {% translate "Email recipients"|bold as email_recipients %}
          {% translate "the Security Rule"|bold as the_security_rule %}
          {% blocktranslate trimmed %}
          Associated {{groups}}, {{security_script}} and {{email_recipients}} will be removed from {{the_security_rule}}.
          {% endblocktranslate %}
        </li>
        <li>
          {% translate "The Groups"|bold as the_groups %}
          {% translate "the Security Script"|bold as the_security_script %}
          {% translate "the Email recipients"|bold as the_email_recipients %}
          {% translate "NOT" as NOT %}
          {% blocktranslate trimmed %}
          {{the_groups}}, {{the_security_script}} and {{the_email_recipients}} themselves will {{NOT}} be deleted.
          {% endblocktranslate %}
        </li>
      </ul>
    </div>
    <p>{% translate "Are you sure you wish to delete the Security Rule" %}
    <strong style="font-size: 1.25em;">{{ securityproblem.name }}</strong>?</p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger" type="submit" value="{% translate 'Confirm deletion' %}">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">{% translate "Cancel" %}</a>
    </form>
  </div>
{% endblock %}