{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block specific_title %}
{% translate "Computers" %}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/static/js/configlist.js"></script>
{% endblock %}

{% block subnav %}
<ul class="sublevelnav item-list">
  {% if not pc_list.all%}
    <li>{% translate "There are no computers" %}</li>
  {% endif %}
  {% for pc in pc_list %}
    <li class="{% if pc == selected_pc %}active{% endif %}">
      {% comment %} Add deletion to every row: <a href="/site/{{ site.url }}/computers/{{ pc.uid }}/delete/" title="{% translate 'Delete computer' %}"></a>{% endcomment %}
      <a class="item-list-link" id="{{pc.uid}}" href="/site/{{ site.url }}/computers/{{ pc.uid }}">
        {{ pc.name }}
      </a>
        {% if not pc.is_activated %}
          <span class="badge bg-danger">{% translate "Not activated" %}</span>
        {% endif %}
      {% if pc == selected_pc %}
        <a class="item-list-deletable material-icons" href="/site/{{ site.url }}/computers/{{ pc.uid }}/delete/" title="{% translate 'Delete computer' %}">
          clear
        </a>
      {% endif%}
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">

    <h2 class="divideheader">
      {% translate "Details about" %} <em>{{ selected_pc.name }}</em>
      {% if selected_pc.security_events.count > 0 %}
      <a href="{% url 'security_event_pc' slug=site.url pc_uid=pc.uid %}" title=" {% translate 'See events for this computer' %}">
        <span class="badge badge-important">
          <icon class="{% if has_security_events %}icon-fire{% else %}icon-ok{% endif %} icon-white"></icon>
        </span>
      </a>
      {% endif %}
    </h2>

    {% include 'notification.html' %}

    <form name="pc_update_form" id="pc_update_form" action="{% url 'computer' site.uid selected_pc.uid %}" method="post">
      <div class="basic-info">
        <span class="badge bg-secondary">
          {% translate "Registered" %}: {{ pc.created }}
        </span>
        <span class="badge bg-secondary ms-3">
          {% translate "Last check-in" %}:
          {% if selected_pc.last_seen %}
            {{ selected_pc.last_seen|timesince }} {% translate "ago" %}
          {% else %}
            {% translate "Never" %}
          {% endif %}
        </span>
        <span class="badge bg-secondary ms-3">
          {% translate "Last event received" %}:
          {% if security_event %}
            {{ security_event.reported_time|timesince }} {% translate "ago" %}
          {% else %}
            {% translate "Never" %}
          {% endif %}
        </span>
      </div>

      {% csrf_token %}

      <!-- The three tabs on the page: -->
      <ul class="nav nav-tabs" role="tablist" id="pc-tabs">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="details-tab" href="#details" role="tab" data-bs-toggle="tab" aria-controls="details" aria-selected="true">{% translate "Details" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="jobs-tab" href="#jobs" role="tab" data-bs-toggle="tab" aria-controls="jobs" aria-selected="false">{% translate "Job history" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="configs-tabs" href="#configs" role="tab" data-bs-toggle="tab" aria-controls="configs" aria-selected="false">{% translate "Configurations" %}</a>
        </li>
      </ul>

      <!-- The content for the three tabs you can choose from above, one after one: -->
      <div class="tab-content">

        <div id="details" class="tabcontent tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">

          <div class="row gx-5">

            <fieldset class="col-12 col-lg-6">
                {{ form.mac|as_crispy_field }}
                {{ form.uid|as_crispy_field }}
                {{ form.name|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.location|as_crispy_field }}

                <div mb-5>
                    {{ form.is_activated|as_crispy_field }}
                </div>

              </fieldset>

            <fieldset class="col-12 col-lg-6">

              {{ form.pc_groups.errors }}
              <div class="clearfix">
                <label class="mb-2">{% translate "Groups the computer is a member of" %}</label>
                <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                  <span class="material-icons px-1">queue</span>
                  <span id="total-pc_groups"></span>
                </span>
              </div>
              {% translate "Add computer to group" as add_c %}
              {% translate "Remove computer from group" as remove_c %}
              {% translate "None chosen" as empty_t %}
              {% include 'widgets/picklist.html' with submit_name='pc_groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text=add_c remove_text=remove_c empty_text=empty_t site_url=site.uid target_section='groups' %}

            </fieldset>
          </div>

        <fieldset class="mt-5">
          <button class="btn btn-primary me-3" type="submit">{% translate "Save changes" %}</button>
          <button class="btn btn-secondary" type="reset">{% translate "Cancel" %}</button>
        </fieldset>
        </div>

        <div id="configs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="configs-tab">
          <fieldset>
            {% include 'system/configs/list.html' with entries=selected_pc.configuration.entries.all  cnf_id='pc_config' %}
          </fieldset>
          <fieldset class="mt-5">
            <button class="btn btn-primary me-3" type="submit">{% translate "Save changes" %}</button>
            <button class="btn btn-secondary" type="reset">{% translate "Cancel" %}</button>
        </fieldset>
        </div>

        <div id="jobs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="jobs-tab">
          <table id="computer_jobs_table" class="table jobtable">
            <thead>
              <tr>
                <th>{% translate "Script" %}</th>
                <th>{% translate "Created" %}</th>
                <th>{% translate "Started" %}</th>
                <th>{% translate "Finished" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Info" %}</th> {# Job-info-button #}
              </tr>
            </thead>
            {% for job in joblist %}
            <tr class="muted">
              <td>
                  <a href="{% url 'script' site.uid job.batch.script.pk %}"><strong>{{job.batch.script.name}}</strong></a>
                  <span class="batch">{{job.batch.name}}</span>
              </td>
              <td>{{job.created|default:'-'}}</td>
              <td>{{job.started|default:'-'}}</td>
              <td>{{job.finished|default:'-'}}</td>
              <td><span class="badge {{job.status_label}}">{{job.status_translated}}</span></td>
              <td>
                {% if job.has_info %}
                  <button type="button" class="btn jobinfobutton p-0" data-pk="{{ job.pk }}" data-bs-toggle="popover" data-bs-content="Loading..." data-bs-html="true" data-bs-placement="left" data-bs-trigger="click" data-bs-animation="true">
                    <span class="material-icons fs-3">info</span>
                  </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>

        </div>

      </div>

      <script>
        window.addEventListener('load', function() {
          // Initialize job info buttons on load.
          BibOS.setupJobInfoButtons($(".jobtable"))
        })
      </script>
    </form>

    {% include 'system/configs/templates.html' %}
  </div>
{% endblock %}
