{% extends "site_with_navigation.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block specific_title %}
{% translate "Delete group: " %} {{ pcgroup.name }}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      <ul>
        <li>
          {% translate "Associated" %} <strong>{% translate "Computers" %}</strong> {% translate "and" %} <strong>{% translate "Associated Scripts" %}</strong> {% translate "will be removed from" %} <strong>{% translate "the Group" %}</strong>.
        </li>
        <li>
          <strong>{% translate "The Computers" %}</strong> {% translate "and" %} <strong>{% translate "the Scripts" %}</strong> {% translate "will" %} <strong>{% translate "NOT" %}</strong> {% translate "be deleted" %}.  
        </li>
      </ul>
    </div>
    <p>
      {% translate "Are you sure you want to delete this group " %}
      <strong style="font-size: 1.25em;">{{ pcgroup.name }}</strong>?
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger me-3" type="submit" value="{% translate "Confirm deletion" %}">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">{% translate "Cancel" %}</a>
    </form>
  </div>
{% endblock %}
