{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% block specific_title %}
Grupper
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/configlist.js"></script>
<script type="text/javascript" src="/static/js/policy_list.js"></script>
{% endblock %}

{% block groups_active %}
active
{% endblock %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">
    <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#addNewGroup">
      <span class="material-icons">add</span>
      Tilføj ny gruppe
    </button>
  </div>
  <ul class="item-list">
    {% for group in site.groups.all %}
      <li class="{% ifequal group selected_group %}active{% endifequal %}">
        <a class="item-list-link" href="/site/{{ site.url }}/groups/{{ group.url }}/">
          {{ group.name }}
        </a>
        {% ifequal group selected_group %}
            <a class="item-list-deletable material-icons" href="/site/{{ site.url }}/groups/{{ selected_group.url }}/delete/" title="Slet gruppe">
              clear
            </a>
        {% endifequal %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">

    <h2 class="divideheader">Detaljer om <em>{{ selected_group.name }}</em></h2>
    {% include 'notification.html' %}

    <form name="updategroupform" 
      id="updategroupform"
      action="{% url 'group' site.uid selected_group.url %}"
      method="post" 
      enctype="multipart/form-data" 
      class="row-fluid"
      onsubmit="updateScriptPositions()">

      <!-- The three tabs on the page: -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="details-tab" href="#details" data-bs-toggle="tab" role="tab" aria-controls="details" aria-selected="true">Detaljer</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="policies-tab" href="#policies" data-bs-toggle="tab" role="tab" aria-controls="policies" aria-selected="false">Tilknyttede Scripts</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="configs-tab" href="#configs" data-bs-toggle="tab" role="tab" aria-controls="configs" aria-selected="false">Konfigurationer</a>
        </li>
      </ul>

      <!-- The content for the three tabs you can choose from above, one after one: -->
      <div class="tab-content pb-4" style="border-radius: .33rem .33rem 0 0;">

        <div id="details" class="tabcontent tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">
          <div class="row gx-5">
            <fieldset class="col-12 col-lg-6">
              {% csrf_token %}

              {{ form.name|as_crispy_field }}
              {{ form.description|as_crispy_field }}
            </fieldset>

            {# PC picklist #}
            <fieldset id="pcfieldset" class="col-12 col-lg-6">

              {{ form.pcs.errors }}
              <div class="clearfix">
              <label class="mb-2">Computere i denne gruppe</label>
                <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                  <span class="material-icons px-1">computer</span>
                    <span id="total-pcs"></span>
                </span>
              </div>
              {% include 'widgets/picklist.html' with submit_name='pcs' selected_list=selected_pcs available_list=available_pcs identifier='computer' add_text='Tilmeld en computer til gruppen' remove_text='Fjern computer fra gruppen' site_url=site.uid target_section='computers' %}

            {# SecurityProblem #}
            {% if selected_group.security_problems.all %}
              <div class="mt-3">
                <p>Tilknyttede Sikkerhedsregler</p>
                {% for problem in selected_group.security_problems.all %}
                  <p class="mt-2">
                    <a href="{% url 'security_problem' site.uid problem.uid %}">{{ problem }}</a>
                  </p>
                {% endfor %}
              </div>
            {% endif %}

            {# WakeWeekPlan #}
            {% if selected_group.wake_week_plan %}
              <div class="mt-3">
                <p>Tilknyttet Tænd/sluk tidsplan</p>
                <p class="mt-2">
                  <a href="{% url 'wake_week_plan' site.uid selected_group.wake_week_plan.id %}">{{ selected_group.wake_week_plan }}</a>
                </p>
              </div>
            {% endif %}

            </fieldset>
          </div>
        </div>

        <div id="policies" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="policies-tab">
          <p class="alert alert-info"><strong>Bemærk</strong><br/>
            Tilføjes et nyt script til listen, der tager parametre, skal disse parametre sættes først, ved tryk på
            "Rediger", før man kan "Gemme ændringerne".<br/>
            Redigering af inputparametre medfører ikke, at et script køres på ny.<br/>
            Eksisterende Computere i Gruppen kører kun ny-tilføjede scripts, mens ny-tilføjede Computere til Gruppen kører hele listen af scripts.
          </p>
          {% include 'system/pcgroups/policy_list/list.html' with entries=selected_group.ordered_policy policy_id='group_policies' %}
        </div>

        <div id="configs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="configs-tab">
          {% include 'system/configs/list.html' with entries=selected_group.configuration.entries.all cnf_id='group_configuration' %}
        </div>

      </div>

      <div class="gray-box mt-0 pt-0" style="border-radius: 0 0 .33rem .33rem;">
        <button class="btn btn-primary me-3" type="submit">Gem ændringer</button>
        <button class="btn btn-secondary" type="reset">Annuller</button>
        <!--<button class="btn btn-secondary" onclick="return BibOS.PackageList.cancelEditing()">Annuller</button>-->
      </div>

    </form>

    <script>
      function totalpcs(){
        if (document.getElementById("empty-list") == undefined){
          document.getElementById("totalpcs").innerHTML = document.getElementById("picked-pcs").childElementCount - 1
        } else {
          document.getElementById("totalpcs").innerHTML = 0
        }
      }
      function updateScriptPositions(){
        fields = document.getElementsByClassName("position-field")

        let i = 0
        for (let item of fields) {
          item.value = i
          i++
        }
      }
    </script>

    <div id="addNewGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'new_group' site.uid %}" name="new_group_form" id="new_group_form" method="post">
            <div class="modal-header">
              <h3 class="modal-title">Tilføj ny gruppe</h3>
              <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ newform|crispy }}
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Gem">
              <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Annuller">
            </div>
          </form>
        </div>
      </div>
    </div>

    {% include 'system/configs/templates.html' %}
    {% include 'system/pcgroups/policy_list/templates.html' with policy_id='group_policies' %}

  </div>
{% endblock %}
