{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block specific_title %}
{% translate "Groups" %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/configlist.js"></script>
<script type="text/javascript" src="/static/js/policy_list.js"></script>
{% endblock %}

{% block groups_active %}
active
{% endblock %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">
    <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#addNewGroup">
      <span class="material-icons">add</span>
        {% translate "Add new group" %}
    </button>
  </div>
  <ul class="item-list">
    {% for group in site.groups.all %}
      <li class="{% if group == selected_group %}active{% endif %}">
        <a class="item-list-link" href="/site/{{ site.url }}/groups/{{ group.url }}/">
          {{ group.name }}
        </a>
        {% if group == selected_group %}
            <a class="item-list-deletable material-icons" href="/site/{{ site.url }}/groups/{{ selected_group.url }}/delete/" title="{% translate 'Delete group' %}">
              clear
            </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">

    <h2 class="divideheader">{% translate "Details about" %} <em>{{ selected_group.name }}</em></h2>
    {% include 'notification.html' %}

    <form name="updategroupform"
      id="updategroupform"
      method="post"
      enctype="multipart/form-data"
      class="row-fluid"
      onsubmit="updateScriptPositions()">

      <!-- The three tabs on the page: -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="details-tab" href="#details" data-bs-toggle="tab" role="tab" aria-controls="details" aria-selected="true">{% translate "Details" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="policies-tab" href="#policies" data-bs-toggle="tab" role="tab" aria-controls="policies" aria-selected="false">{% translate "Associated Scripts" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="configs-tab" href="#configs" data-bs-toggle="tab" role="tab" aria-controls="configs" aria-selected="false">{% translate "Configurations" %}</a>
        </li>
      </ul>

      <!-- The content for the three tabs you can choose from above, one after one: -->
      <div class="tab-content pb-4" style="border-radius: .33rem .33rem 0 0;">

        <div id="details" class="tabcontent tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">
          <div class="row gx-5">
            <fieldset class="col-12 col-lg-6">
              {% csrf_token %}

              {{ form.name|as_crispy_field }}
              {{ form.description|as_crispy_field }}
            </fieldset>

            {# PC picklist #}
            <fieldset id="pcfieldset" class="col-12 col-lg-6">

              {{ form.pcs.errors }}
              <div class="clearfix">
              <label class="mb-2">{% translate "Computers in this group" %}</label>
                <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                  <span class="material-icons px-1">computer</span>
                    <span id="total-pcs"></span>
                </span>
              </div>
              {% translate "Add a computer to the group" as add_c %}
              {% translate "Remove computer from the group" as remove_c %}
              {% translate "None chosen" as empty_t %}
              {% include 'widgets/picklist.html' with submit_name='pcs' selected_list=selected_pcs available_list=available_pcs identifier='computer' add_text=add_c remove_text=remove_c empty_text=empty_t site_url=site.uid target_section='computers' %}

            {# supervisor picklist #}
            <div class="mt-3">
            <p>
              {% translate "Add a supervisor for the group" as add_s %}
              {% translate "Remove a supervisor for the group" as remove_s %}
              <label class="mt-2">{% translate "Supervisors for this group" %}</label>
              {% translate 'This is used to control who receives the e-mails for Events, ie. Security Events or Offline Events. If one or more Supervisors are set for a given Group, these people will receive the e-mails instead of those set in the Monitoring Rule' as help_text %}
              <button type="button" class="material-icons btn align-middle" data-container="body" title='{{help_text}}' data-toggle="popover" data-placement="right">
                help_outline
              </button>
              {% include 'widgets/picklist.html' with submit_name='supervisors' selected_list=selected_users available_list=available_users identifier='supervisor' add_text=add_s remove_text=remove_s empty_text=empty_t site_url=site.uid target_section='users' %}
            </p>
            </div>

            {# SecurityProblem #}
            {% if event_rules_incl_site %}
              <div class="mt-3">
                <p>{% translate "Associated monitoring rules" %}</p>
                <ul class="mt-2 list-group">
                  {% for e in event_rules_incl_site %}
                    <li class="list-group-item py-3">
                      {% if e|get_model_name == "EventRuleServer" %}
                        <span class='material-icons me-2' title="{% translate "Offline Rule" %}">desktop_access_disabled</span>
                        <a class="text-decoration-none" href="{% url 'event_rule_server' site.uid e.id %}">{{ e }}</a>
                        </span>
                      {% else %}
                        <span class='material-icons me-2' title="{% translate "Security Problem" %}">gpp_maybe</span>
                        <a class="text-decoration-none" href="{% url 'event_rule_security_problem' site.uid e.id %}">{{ e }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {# WakeWeekPlan #}
            {% if selected_group.wake_week_plan %}
              <div class="mt-3">
                <p>{% translate "Associated On/Off schedule" %}</p>
                <p class="mt-2">
                  <a href="{% url 'wake_plan' site.uid selected_group.wake_week_plan.id %}">{{ selected_group.wake_week_plan }}</a>
                </p>
              </div>
            {% endif %}

            </fieldset>
          </div>
        </div>

        <div id="policies" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="policies-tab">
          <div class="alert alert-info">
            <strong>{% translate "Note" %}</strong>
            <ul>
            <li>{% translate 'If a script that takes arguments is added to the list, then these arguments are to be entered first by clicking "Edit", before you can click "Save changes"' %}.</li>
            {% if site.rerun_asc %}
              <li>{% translate "Editing the script arguments will make the script run again on all Computers in the Group. This can be toggled off under Site settings" %}.</li>
            {% else %}
              <li>{% translate "Editing the script arguments will not make the script run again. This can be changed under Site settings" %}.</li>
            {% endif %}
            <li>{% translate "Computers already in the group only run newly added scripts, but Computers newly added to the Group run all the scripts on the list" %}.</li>
            </ul>
          </div>
          {% include 'system/pcgroups/policy_list/list.html' with entries=selected_group.ordered_policy policy_id='group_policies' %}
        </div>

        <div id="configs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="configs-tab">
          {% include 'system/configs/list.html' with entries=selected_group.configuration.entries.all cnf_id='group_configuration' %}
        </div>

      </div>

      <div class="gray-box mt-0 pt-0" style="border-radius: 0 0 .33rem .33rem;">
        <button class="btn btn-primary me-3" type="submit">{% translate "Save changes" %}</button>
        <button class="btn btn-secondary" type="reset">{% translate "Cancel" %}</button>
        <!--<button class="btn btn-secondary" onclick="return BibOS.PackageList.cancelEditing()">Annuller</button>-->
      </div>

    </form>

    <script>
      function totalpcs(){
        if (document.getElementById("empty-list") == undefined){
          document.getElementById("totalpcs").innerHTML = document.getElementById("picked-pcs").childElementCount - 1
        } else {
          document.getElementById("totalpcs").innerHTML = 0
        }
      }
      function updateScriptPositions(){
        fields = document.getElementsByClassName("position-field")

        let i = 0
        for (let item of fields) {
          item.value = i
          i++
        }
      }
    </script>

    <div id="addNewGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'new_group' site.uid %}" name="new_group_form" id="new_group_form" method="post">
            <div class="modal-header">
              <h3 class="modal-title">{% translate "Add new group" %}</h3>
              <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ newform|crispy }}
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="{% translate 'Create group' %}">
              <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="{% translate 'Cancel' %}">
            </div>
          </form>
        </div>
      </div>
    </div>

    {% include 'system/configs/templates.html' %}
    {% include 'system/pcgroups/policy_list/templates.html' with policy_id='group_policies' %}

  </div>
{% endblock %}
