{% extends "site_with_navigation.html" %}
{% load i18n %}

{% block specific_title %}
{% translate "Delete user" %}
{% endblock %}

{% block specific_content %}

  <div class="container-fluid main sublevelmain">
      <h2 class="divideheader">{% translate "Delete user" %}: <em>{{ selected_user.username }}</em></h2>
      <div>
        <form action="{% url 'user_delete' site.uid selected_user.username %}" name="update_user_form" id="update_user_form" method="post">
          {% csrf_token %}
          <p>
            {% translate "Are you sure you want to delete the user" %}<br>
            <strong>{{ selected_user.username }}{% if selected_user.email %} &lt;{{ selected_user.email }}&gt;{% endif %}</strong>?
          </p>
          <input class="btn btn-danger me-3" type="submit" value="{% translate 'Confirm deletion' %}">
          <input class="btn btn-secondary" type="button" onclick="location.href='{% url 'user' site.uid selected_user.username %}'" value="{% translate 'Cancel' %}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
