{% extends "site_with_navigation.html" %}

{% block specific_title %}
Brugere
{% endblock %}

{% block subnav %}
  <div class="sublevelnav">
    <div class="listutils">
      <a class="btn btn-link" href="{% url 'new_user' site.uid %}" title="Tilføj ny bruger">
        <span class="material-icons">add</span>
        Tilføj ny bruger
      </a>
    </div>
    <ul class="item-list">
      {% for user in user_list %}
        <li class="{% ifequal user selected_user %}active{% endifequal %}">
          <a class="item-list-link" href="/site/{{ site.url }}/users/{{ user.username }}">
            {{ user.username }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">
      <h2 class="divideheader">Opret ny bruger</em></h2>
      <div>
        <form action="{% url 'new_user' site.uid %}" name="create_user_form" id="create_user_form" method="post">
          {% csrf_token %}
          {% include 'system/users/form.html' with form_id='create_user_form' %}
          <p>
            <input type="submit" class="btn btn-primary me-3" value="Gem">
            <button class="btn btn-secondary" type="button">Annuller</button>
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
