{% extends "site_with_navigation.html" %}

{% block specific_title %}
Brugere
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">
      <h2 class="divideheader">Opret ny bruger</em></h2>
      <div>
        <form action="{% url 'new_user' site.uid %}" name="create_user_form" id="create_user_form" method="post">
          {% csrf_token %}
          {% include 'system/users/form.html' with form_id='create_user_form' %}
          <p>
            <input type="submit" class="btn btn-primary me-3" value="Opret bruger">
            <button class="btn btn-secondary" type="button">Annuller</button>
          </p>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
