{% if policy_id %}
  <div id="{{ policy_id }}">
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Script</th>
          <th>Inputparametre</th>
          <th>Handlinger</th>
        </tr>
      </thead>
      <tbody>
        {% for ps in entries %}
          {% include 'system/policy_list/item.html' with ps_pk=ps.pk script_pk=ps.script.pk script_id=ps.script.id name=ps.script.name params=ps.ordered_parameters submit_name=policy_id %}
        {% endfor %}
        <tr>
          <td colspan="3">
            <input type="hidden" name="{{ policy_id }}_new_entries" id="{{ policy_id }}_new_entries" value="0">
            {% include 'widgets/scriptsearch.html' with id=policy_id list=all_scripts placeholder="Tilføj script" %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% else %}
  <p>You must specify a <em>policy_id</em> when inserting a policy list</p>
{% endif %}

<script>
  // Catch bubbling click event from scriptsearch.html include
  document.getElementById('{{ policy_id }}').addEventListener('click', function(ev) {
    if (ev.target.dataset.script) {
      var script_data = JSON.parse(ev.target.dataset.script)
      BibOS.PolicyList.addToPolicy('{{ policy_id }}', script_data.id, script_data.name, script_data.pk, script_data.inputs)
    }
  })
</script>
