{% extends "system/wake_plan/wake_change_events/wake_change_event_base.html" %}
{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Delete exception" %}?: {{selected_event.name}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      <ul>
        {% translate "the Exception"|bold as the_exception" %}
        <li>{% blocktranslate trimmed %}
          If {{the_exception}} is deleted, it will be removed from all schedules and the Computers using those schedules
          will have their schedules updated with this exception removed.
          {% endblocktranslate %}</li>
      </ul>
    </div>
    <p>
      {% translate "Are you sure you wish to delete the Exception" %}:
      <strong style="font-size: 1.25em;">{{ selected_event.name }}</strong>
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input class="btn btn-danger me-3" type="submit" value="{% translate 'Confirm deletion' %}">
      <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)">{% translate "Cancel" %}</button>
    </form>
  </div>
{% endblock %}
