{% extends "system/wake_plan/wake_change_events/wake_change_event_base.html" %}

{% block specific_title %}
Slet Undtagelse?: {{selected_event.name}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>Bemærk</h3>
      <ul>
        <li>Slettes <strong>Undtagelsen</strong> vil undtagelsen blive fjernet fra alle tidsplaner, og alle Computere tilmeldt til planen vil få opdateret deres tidsplan med denne undtagelse fjernet.</li>
      </ul>
    </div>
    <p>
      Er du sikker på, du ønsker at slette Undtagelsen:
      <strong style="font-size: 1.25em;">{{ selected_event.name }}</strong>
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-danger me-3" type="submit" value="Bekræft sletning">
      <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)">Annuller</button>
    </form>
  </div>
{% endblock %}
