{% extends 'system/wake_plan/wake_change_events/wake_change_event_base.html' %}
{% load crispy_forms_tags %}

{% block specific_content %}

        <button class="btn" type="button"><span class="material-icons">date_range</span></span>Tilføj periode</button>
        <button class="btn" type="button"><span class="material-icons">today</span>Tilføj dato</button>

        <form method="post" accept-charset="utf-8">

          {% csrf_token %}

          <aside class="col-lg-9">
            <p class="mt-4"><strong>Lukkedage og undtagelser</strong></p>
            <p>Planlæg kommende lukkedage eller opret undtagelser fra den faste ugeplan</p>

            {# Wake events #}

            <table id="wake-change-events" class="table form-switch">
              <tbody>
                  <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.date_start}}</td>

                    <td>
                    {% if not selected_event.date_start == selected_event.date_end %} {# Used if it's a "period" #}
                      {{form.date_end}}
                    {% endif %}
                    </td>

                    <td class="checkbox-switch"><input class="form-check-input fs-5 checkbox" type="checkbox" role="switch" id="event-{{ev.id}}" {% if ev.time_start %}checked{% endif %}></td>
                    <td class="checkbox-text"><label class="form-check-label" for="event-{{ev.id}}">Tændt</label></td>

                    <td class="before-dash">
                      {{form.time_start}}
                    </td>
                    <td class="dash">—</td>
                    <td class="after-dash">
                      {{form.time_end}}
                    </td>

                    <td>
                      <span class="material-icons delete">delete_outline</span>
                    </td>
                  </tr>
              </tbody>
            </table>

          </aside>

          <input class="btn btn-primary me-3" type="submit" name="submit" value="Gem ændringer">
          <input class="btn btn-secondary me-3" type="reset" name="cancel" value="Nulstil ændringer">
          
        </form>

{% endblock %}
