{% extends "site_with_navigation.html" %}
{% load static %}
{% load i18n %}

{% block specific_title %}
{% translate "On/Off schedule: Exceptions" %}
{% endblock %}

{% block stylesheets %}
  <link href="{% static 'css/wake_plan.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">

    <a class="btn btn-link" href="{% url 'wake_change_event_new_altered_hours' site.uid %}">
        <span class="material-icons">meeting_room</span>
        {% translate "Add altered opening hours" %}
    </a>
    <a class="btn btn-link" href="{% url 'wake_change_event_new_closed' site.uid %}">
        <span class="material-icons">
       door_front
        </span>
        {% translate "Add closed days" %}
    </a>
  </div>

  <ul class="item-list">
      {% for event in wake_change_events_list %}
        <li class="{% if event == selected_event %}active{% endif %}">
          <a class="item-list-link" id="{{event.id}}" href="{% url 'wake_change_event' site.uid event.id %}">
            {% if event.type == "ALTERED_HOURS" %}
              <span class="material-icons">meeting_room</span>
            {% else %}
              <span class="material-icons">door_front</span>
            {% endif %}
            {{event}}
          </a>
          {% if event == selected_event %}
            <a class="item-list-deletable material-icons" {% if wake_plan_access %} href="{% url 'wake_change_event_delete' site.uid event.id %}" {% endif %} title="{% translate 'Delete exception' %}">
              clear
            </a>
          {% endif %}
        </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/wake_change_event.js' %}"></script>
  {# Function to check for permission to access wake plans #}
  {# It's in here instead of the js file above to have access to djangos context #}
  <script type="text/javascript">
  $(function() {
      /* If the site does not have permission to use wake_plans,
      disable all wake_plan inputs*/
      var permission = "{{wake_plan_access|safe}}"
      if ( permission != 'True') {
        inputs = document.querySelectorAll("input, button, select")
        /* The starting index is 1 to avoid disabling the logout button*/
        for (index = 1; index < inputs.length; index++) {
          inputs[index].disabled = true
        }
      }
  })
  </script>
{% endblock %}
