{% extends "site_with_navigation.html" %}
{% load static %}

{% block specific_title %}
Tænd- / Sluk-tidsplan: Undtagelser
{% endblock %}

{% block stylesheets %}
  <link href="{% static 'css/wake_plan.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">

    <a class="btn btn-link" href="{% url 'wake_change_event_new_altered_hours' site.uid %}">
        <span class="material-icons">schedule</span>
        Tilføj ændrede åbningstider
    </a>
    <a class="btn btn-link" href="{% url 'wake_change_event_new_closed' site.uid %}">
        <span class="material-icons">
       lock
        </span>
        Tilføj lukning
    </a>
  </div>

  <ul class="item-list">
      {% for event in wake_change_events_list %}
        <li class="{% ifequal event selected_event %}active{% endifequal %}">
          <a class="item-list-link" id="{{event.id}}" href="{% url 'wake_change_event' site.uid event.id %}">
            {% if event.type == "ALTERED_HOURS" %}
              <span class="material-icons">schedule</span>
            {% else %}
              <span class="material-icons">lock</span>
            {% endif %}
            {{event}}
          </a>
          {% ifequal event selected_event %}
            <a class="item-list-deletable material-icons"href="{% url 'wake_change_event_delete' site.uid event.id %}" title="Slet undtagelse">
              clear
            </a>
          {% endifequal %}
        </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/wake_plan.js' %}"></script>
{% endblock %}
