{% extends 'system/wake_plan/wake_change_events/wake_change_event_base.html' %}
{% load crispy_forms_tags %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">

      <form method="post" accept-charset="utf-8">

        {% csrf_token %}

        <aside class="col-lg-9">
          <h2 class="mt-4 divideheader"><strong>{{selected_event.name|default:"Ny undtagelse"}}</strong></h2>

          {{form.name|as_crispy_field}}

          <table>
            <thead>
              <tr>
                <td></td>
                <td>Fra</td>
                <td>Til</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dato</td>
                <td> {{form.date_start}}—</td>
                <td> {{form.date_end}}</td>
              </tr>
            </tbody>
          </table>

          {# The second case is for handling the form for creating new altered hours, which doesn't yet have a type #}
          {% if selected_event.type == "ALTERED_HOURS" or "altered" in request.resolver_match.url_name %}
          <table>
            <thead>
              <tr>
                <td></td>
                <td>Fra</td>
                <td>Til</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tidspunkt</td>
                <td> {{form.time_start}}—</td>
                <td> {{form.time_end}}</td>
              </tr>
            </tbody>
          </table>
          {% endif %}

        </aside>

        <input class="btn btn-primary me-3" type="submit" name="submit" value="Gem ændringer">
        <input class="btn btn-secondary me-3" type="reset" name="cancel" value="Annuller">
        
      </form>

  </div>

{% endblock %}
