{% extends 'system/wake_plan/wake_change_events/wake_change_event_base.html' %}
{% load crispy_forms_tags %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">

          {% if selected_event.type == "ALTERED_HOURS" or "altered" in request.resolver_match.url_name %}
            Ændrede åbningstider:
          {% else %}
            Lukket:
          {% endif %}
      {{selected_event.name|default:"Ny undtagelse"}}
    </h2>

        <form method="post" accept-charset="utf-8">

        {% csrf_token %}


          {# Probably change to not be crispy either, but use for reference to make nicer input fields manually #}
          {{form.name|as_crispy_field}}

          <table>
            <thead>
              <tr>
                <td></td>
                <td>Fra</td>
                <td>Til</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dato</td>
                <td> {{form.date_start}}—</td>
                <td> {{form.date_end}}</td>
              </tr>

          {# The second case is for handling the form for creating new altered hours, which doesn't yet have a type #}
          {% if selected_event.type == "ALTERED_HOURS" or "altered" in request.resolver_match.url_name %}
              <tr>
                <td>Tidspunkt</td>
                <td> {{form.time_start}}—</td>
                <td> {{form.time_end}}</td>
              </tr>
          {% endif %}
            </tbody>
          </table>

          <fieldset class="mt-3">
            <input class="btn btn-primary me-3" type="submit" name="submit" value="Gem ændringer">
            <input class="btn btn-secondary me-3" type="reset" name="cancel" value="Annuller">
          </fieldset>
        
      </form>

  </div>

{% endblock %}
