{% extends "site_with_navigation.html" %}
{% load static %}

{% block specific_title %}
Tænd- / Sluk-tidsplan
{% endblock %}

{% block stylesheets %}
  <link href="{% static 'css/wake_plan.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block subnav %}
<div class="sublevelnav">
  <div class="listutils">

    <a class="btn btn-link" href="{% url 'wake_change_event_new' site.uid %}">
        <span class="material-icons">add</span>
        Tilføj ny undtagelse
    </a>
  </div>

  <ul class="item-list">
      {% for event in wake_change_events_list %}
        <li class="{% ifequal event selected_event %}active{% endifequal %}">
          <a class="item-list-link" id="{{event.id}}" href="{% url 'wake_change_event' site.uid event.id %}">
            {{ event.name }}
          </a>
        </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/wake_plan.js' %}"></script>
{% endblock %}
