{% load i18n %}

{% if policy_id %}
  <div id="{{ policy_id }}">
    <table class="table">
      <thead>
        <tr>
          <th>{% translate "Position" %}</th>
          <th>{% translate "Script" %}</th>
          <th>{% translate "Arguments" %}</th>
          <th>{% translate "Actions" %}</th>
        </tr>
      </thead>
      <tbody class="sortable">
        {% for ps in entries %}
          {% include 'system/pcgroups/policy_list/item.html' with ps_pk=ps.pk script_pk=ps.script.pk script_id=ps.script.id name=ps.script.name params=ps.ordered_parameters submit_name=policy_id %}
        {% endfor %}
        <input type="hidden" name="{{ policy_id }}_new_entries" id="{{ policy_id }}_new_entries" value="0">
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            {# "Tilføj script" oversættes her? #}
            {% include 'widgets/scriptsearch.html' with id=policy_id list=all_scripts placeholder="Tilføj script" %}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{% else %}
  <p>{% translate "You must specify a" %} <em>policy_id</em> {% translate "when inserting a policy list" %}</p>
{% endif %}

<script>

  $( function() {
    $( ".sortable" ).sortable({
      containment: document.getElementById("updategroupform"),
      handle: ".sortable-handle",
      forcePlaceholderSize: true,
      cursor: "move",
    })
  })

  // Catch bubbling click event from scriptsearch.html include
  document.getElementById('{{ policy_id }}').addEventListener('click', function(ev) {
    /* Did they click on the li or the child element badge? */
    if (ev.target.dataset.script) {
      var tg = ev.target
    }
    else if (ev.target.parentElement.dataset.script) {
      var tg = ev.target.parentElement
    }

    if (tg && tg.dataset.script) {
      var script_data = JSON.parse(tg.dataset.script)
      BibOS.PolicyList.addToPolicy('{{ policy_id }}', script_data.id, script_data.name, script_data.pk, script_data.inputs)
    }
  })
</script>
