{# Seemingly used for adding a new policy script via JS, whereas list.html generates the list of already added policy scripts? #}
<div id="policylist-templates">
  <table class="table">
    <tbody id="policy-item-template" class="template-container">
      {% include 'system/pcgroups/policy_list/item.html' with ps_pk='#PS_PK#' script_pk='#SCRIPT_PK#' name='#NAME#' params='#PARAMS#' submit_name='#SUBMIT_NAME#' %}
    </tbody>
  </table>
</div>

<div id="editpolicyscriptdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Redigér script</h3>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button onclick="BibOS.PolicyList.submitEditDialog('{{ policy_id }}')" class="btn btn-primary">Gem</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
      </div>
    </div>
  </div>
</div>

<div id="addpolicyscriptdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-label="Tilføj script til gruppe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Tilføj script</h3>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% for script in all_scripts %}
            <li class="list-group-item list-group-item-action" 
              style="cursor: pointer;" 
              onclick="BibOS.PolicyList.addToPolicy('{{ policy_id }}', '{{ script.id }}', '{{ script.name }}', '{{ script.pk }}', [{% for input in script.ordered_inputs %}
                {
                  name: '{{ input.name }}',
                  type: '{{ input.value_type }}',
                  position: '{{ input.position }}',
                  required: '{{ input.mandatory }}'
                },
              {% endfor %}])">
              <strong>{{ script.name }}</strong> 
              {% if script.ordered_inputs %}({% endif %}
                {% for input in script.ordered_inputs %}
                  <span>{% if forloop.counter0 != 0 %}, {% endif %}{{ input.name }}</span>
                {% endfor %}
              {% if script.ordered_inputs %}){% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
