{% extends "system/wake_plan/wake_plan_base.html" %}
{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Delete on/off schedule" %}?: {{selected_plan.name}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      <ul>
        {% translate "The schedule" as plan %}
        {% translate "Groups" as groups %}
        {% translate "Computers" as computers %}
        <li>{% blocktranslate with p=plan|bold gs=groups|bold cs=computers|bold %}Deleting {{p}} will remove all {{gs}} and the associated {{cs}} from it, and they will no longer turn off or on automatically.{% endblocktranslate %}</li>
      </ul>
    </div>
    <p>
      {% translate "Are you sure you wish to delete the On/Off schedule" %}:
      <strong style="font-size: 1.25em;">{{ selected_plan.name }}</strong>
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-danger me-3" type="submit" value="{% translate 'Confirm deletion' %}">
      <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)">{% translate "Cancel" %}</button>
    </form>
  </div>
{% endblock %}
