{% extends "system/wake_plan/wake_plan_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}

{% block specific_content %}

<div class="container-fluid main sublevelmain">
  {% translate "New on/off schedule" as new_text %}
  <h1 class="divideheader">{{selected_plan.name|default:new_text}}</h1>
  {% include 'notification.html' %}

  <form method="post" class="gray-box">

    {% csrf_token %}
    <div class="container-fluid">

      <div class="alert alert-info">
        <p><strong>{% translate "Note" %}</strong></p>
        <ul>
          <li>
            {% translate "If you are unfamiliar with the functionality of on/off schedules, we recommend first reading our" %}
            <a href="{{ wake_plan_user_guide }}" target="_blank">{% translate "User guide to power saving functions in OS2borgerPC" %}</a>.
          </li>
          <li>
            {% translate "Groups"|bold as groups %}
            {% translate "Group"|bold as group %}
            {% blocktranslate trimmed %}
            Schedules must have {{groups}} added before they take effect, and a {{group}} can only belong to a single schedule.
            {% endblocktranslate %}
          </li>
          <li>
            {% translate "Computers"|bold as computers %}
            {% blocktranslate trimmed %}
            A schedule applies to all the {{computers}} in the {{groups}} that have been added to the schedule.
            {% endblocktranslate %}
          </li>
          <li>
            {% translate "Computer"|bold as computer %}
            {% blocktranslate trimmed %}
            A {{computer}} can only receive a new or updated schedule if it is on.
            {% endblocktranslate %}
          </li>
          <li>
            {% translate "the individual Computers"|bold as the_individual_computers %}
            {% blocktranslate trimmed %}
            The schedule uses the time settings on {{the_individual_computers}}.
            {% endblocktranslate %}
          </li>
          <li>
            {% translate "the Computers"|bold as the_computers %}
            {% blocktranslate trimmed %}
            Whether some of {{the_computers}} should also enter sleep mode when inactive is not determined here, but by running
            {% endblocktranslate %}
            <a href="{% url 'script_redirect_uid' 'suspend_after_time' %}">{% translate "the suspend script." %}</a>
          </li>
        </ul>
      </div>

      <div class="row" style="margin-left: 0;">

        {# TODO: Make it work with the form errors #}
        {{form.errors}}

        <article class="col-lg-4 form-switch" id="week-plan-container">

          <label class="mb-2">{% translate "Schedule status" %}*</label><br/>
          <div class="d-table-cell">
            {{form.enabled}}
            <label id="id_enabled_label" style="vertical-align: middle;padding-top:0.25rem;">{% if selected_plan.enabled or not selected_plan %}{% translate "Active" %}{% else %}{% translate "Inactive" %}{% endif %}</label>
          </div>
          <br/>

          {{form.name|as_crispy_field}}

          {{form.sleep_state|as_crispy_field}}
          {% translate 'Some sleep states save more power than others, but some hardware does not support the most power saving states. We recommend starting with "Off" (which saves the most power), and if that does not work then try them in the order: mem, freeze, standby' as help_text %}
          <button type="button" class="material-icons btn d-table-cell align-middle" data-container="body" title='{{help_text}}' data-toggle="popover" data-placement="right">
            help_outline
          </button>

          <h2 class="mt-4"><strong>{% translate "Week plan" %}</strong></h2>
          <p>{% translate "Configure on and off for the recurring week plan" %}</p>
          <table id="week-plan" class="form-switch table">
            <thead>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="before-dash">{% translate "On at" %}</td>
                <td class="dash"></td>
                <td class="after-dash">{% translate "Off at" %}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% translate "On" as On %}
                  {% translate "Off" as Off %}
                  <strong>{% translate "Monday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input  fs-5 checkbox" name="monday_open" type="checkbox" role="switch" id="id_monday_open" {% if selected_plan.monday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_monday_open">{% if selected_plan.monday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.monday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.monday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Tuesday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="tuesday_open" type="checkbox" role="switch" id="id_tuesday_open" {% if selected_plan.tuesday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_tuesday_open">{% if selected_plan.tuesday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.tuesday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.tuesday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Wednesday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="wednesday_open" type="checkbox" role="switch" id="id_wednesday_open" {% if selected_plan.wednesday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_wednesday_open">{% if selected_plan.wednesday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.wednesday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.wednesday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Thursday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="thursday_open"  type="checkbox" role="switch" id="id_thursday_open" {% if selected_plan.thursday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_thursday_open">{% if selected_plan.thursday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.thursday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.thursday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Friday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="friday_open" type="checkbox" role="switch" id="id_friday_open" {% if selected_plan.friday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_friday_open">{% if selected_plan.friday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.friday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.friday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Saturday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="saturday_open" type="checkbox" role="switch" id="id_saturday_open" {% if selected_plan.saturday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_saturday_open">{% if selected_plan.saturday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.saturday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.saturday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>{% translate "Sunday" %}</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="sunday_open" type="checkbox" role="switch" id="id_sunday_open" {% if selected_plan.sunday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_sunday_open">{% if selected_plan.sunday_open %}{{On}}{% else %}{{Off}}{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.sunday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.sunday_off}}
                </td>
              </tr>
            </tbody>
          </table>

        </article>

        <aside class="col-lg-8 col-xl-4 flex-grow-1">
          <h2 class="mt-4"><strong>{% translate "Exceptions: Closed days and altered opening hours" %}</strong></h2>
          <p>{% translate "Plan and create upcoming closed days and altered opening hours from the recurring week plan" %}</p>

          {# Wake change events #}
          <fieldset id="custom-wake-plans">
            <a class="btn btn-secondary me-3 mb-3" href="{% url 'wake_change_event_new_closed' site.uid %}"><span class="material-icons">door_front</span>{% translate "Create closed days" %}</a>
            <a class="btn btn-secondary me-3 mb-3" href="{% url 'wake_change_event_new_altered_hours' site.uid %}"><span class="material-icons">meeting_room</span>{% translate "Create altered opening hours" %}</a>
            <a class="btn btn-secondary mb-3" href="{% url 'wake_change_events' site.uid %}"><span class="material-icons">edit</span>{% translate "Edit exceptions" %}</a>
          </fieldset>

          <fieldset class="col-12 col-lg-12">

            {{ form.events.errors }}
            <div class="clearfix">
              <span class="badge bg-secondary pick-list-counter-badge" style="float: right;">
                <span class="material-icons px-1">queue</span>
                <span id="total-wake_change_events"></span>
              </span>
            </div>
            {% translate "Add exception to schedule" as ex_add %}
            {% translate "Remove exception from schedule" as ex_remove %}
            {% translate "None chosen" as empty_t %}
            {% include 'widgets/picklist.html' with submit_name='wake_change_events' selected_list=selected_wake_change_events available_list=available_wake_change_events identifier='undtagelse' add_text=ex_add remove_text=ex_remove empty_text=empty_t site_url=site.uid target_section='wake_change_event' save_state='wake_plan' %}

          </fieldset>

          <h2 class="mt-4 mb-0"><strong>{% translate "Groups that follow the schedule" %}</strong></h2>

          {# PCGroup picklist #}
          <fieldset class="col-12 col-lg-12">

            {{ form.groups.errors }}
            <div class="clearfix">
              <span class="badge bg-secondary pick-list-counter-badge" style="float: right;">
                <span class="material-icons px-1">queue</span>
                <span id="total-groups"></span>
              </span>
            </div>
            {% translate "Add group to schedule" as g_add %}
            {% translate "Remove group from schedule" as g_remove %}
            {% include 'widgets/picklist.html' with submit_name='groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text=g_add remove_text=g_remove empty_text=empty_t site_url=site.uid target_section='groups' save_state='wake_plan' %}

          </fieldset>

        </aside>
      </div>
      <fieldset class="mt-3">
        <input id="submit-button" class="btn btn-primary me-3" type="submit" name="submit" value="{% translate 'Save changes' %}">
        <input id="cancel-button" class="btn btn-secondary me-3" type="reset" name="cancel" value="{% translate 'Cancel' %}">
        {# Only show the button to duplicate a plan if you're updating an existing entry - not creating a new one#}
        {% if selected_plan.id %}
          <a class="btn btn-secondary" {% if wake_plan_access %} href="{% url 'wake_plan_duplicate' site.uid selected_plan.id %}" {% endif %}>{% translate "Duplicate schedule" %}</a>
        {% endif %}
      </fieldset>
    </div>
    <hr>

  </form>

</div>

{% endblock %}
