{% extends "system/wake_plan/wake_plan_base.html" %}
{% load crispy_forms_tags %}

{% block specific_content %}

<div class="container-flud main sublevelmain">

  <h1 class="divideheader">{{selected_plan.name}}</h1>
  
  <form method="post">

    {% csrf_token %}

    <h1>Ugeplan</h1>
    <ul>
      <li>Mandag: {{selected_plan.monday_on}} - {{selected_plan.monday_off}}</li>
      <li>Tirsdag: {{selected_plan.tuesday_on}} - {{selected_plan.tuesday_off}}</li>
    </ul>

    <h1>Lukkedage og undtagelser</h1>
    <p>Planlæg kommende lukkedage eller opret undtagelser fra den faste ugeplan</p>

    {# Wake events #}
    {% for event in selected_plan.wake_events.all %}
      {{event}}
      <span class="material-icons delete">trash</span>
    {% endfor %}

    <button>Tilføj periode</button>
    <button>Tilføj dato</button>

    <<h1>Grupper i denne tidsplan</h1>

    <hr>

    {{form|crispy}}

    {# PCGroup picklist #}
    <fieldset class="col-12 col-lg-6">

      {{ form.groups.errors }}
      <div class="clearfix">
        <label class="mb-2">Grupper der er medlem af tidsplanen</label>
        <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
          <span class="material-icons px-1">queue</span>
          <span id="total-pc_groups"></span>
        </span>
      </div>
      {% include 'widgets/picklist.html' with submit_name='pc_groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text='Tilføj computer til tidsplan' remove_text='Fjern computer fra tidsplan' site_url=site.uid target_section='groups' %}

    </fieldset>

    <input class="btn btn-primary me-3" type="submit" name="submit" value="Gem ændringer">
    <input class="btn btn-secondary" type="reset" name="cancel" value="Annuller">
    <input class="btn btn-secondary" type="submit" name="copy" value="Kopiér tidsplan">

  </form>

</div>

{% endblock %}
