{% extends "system/wake_plan/wake_plan_base.html" %}
{% load crispy_forms_tags %}

{% block specific_content %}

<div class="container-fluid main sublevelmain">

  <h1 class="divideheader">{{selected_plan.name|default:"Ny Tænd/Sluk tidsplan"}}</h1>
  {% include 'notification.html' %}

  {# Here we insert templates for the two types of wake change events that javascript can then copy when the buttons to add them are clicked #}
  {# We add them outside the form, because otherwise the webpage tries to validate their contents and it fails #}
  <div id="wake-change-event-altered-hours-form" class="d-none">{{wake_change_event_altered_hours_form}}</div>
  <div id="wake-change-event-closed-form" class="d-none">{{wake_change_event_closed_form}}</div>

  <form method="post" class="gray-box">

    {% csrf_token %}
    <div class="container-fluid">

      <div class="alert alert-info">
        <p><strong>Bemærk</strong></p>
        <ul>
          <li>
            Tidsplaner skal knyttes til <strong>Grupper</strong>, og en <strong>Gruppe</strong> kan kun være tilmeldt én tidsplan.
          </li>
          <li>
            En tidsplan er gældende for alle <strong>Computere</strong> i de <strong>Grupper</strong>, som er tilmeldt tidsplanen.
          </li>
          <li>
            En <strong>Computer</strong> kan kun modtage en ny eller opdateret tidsplan, hvis den er tændt.
          </li>
          <li>
            Tidsplanen anvender tidsindstillingerne på <strong>de individuelle Computere</strong>.
          </li>
          <li>
            Se guiden til brug af tænd/sluk tidsplaner for yderligere information.
          </li>
          <li>
            Om nogle af <strong>Computerne</strong> også skal gå i dvale ved inaktivitet styres ikke herfra, men i stedet ved at køre
            <a href="{% url 'script_redirect_uid' 'suspend_after_time' %}">Dvale-scriptet.</a>
          </li>
        </ul>
      </div>

      <div class="row" style="margin-left: 0;">

        {# TODO: Make it work with the form errors #}
        {{form.errors}}

        <article class="col-lg-4 form-switch" id="week-plan-container">

          <label class="mb-2">Tidsplan status*</label><br/>
          <div class="d-table-cell">
            {{form.enabled}}
            <label id="id_enabled_label" style="vertical-align: middle;">{% if selected_plan.enabled or not selected_plan %}Aktiv{% else %}Inaktiv{% endif %}</label>
          </div>
          <br/>

          {{form.name|as_crispy_field}}

          {{form.sleep_state|as_crispy_field}}

          <button type="button" class="material-icons btn d-table-cell align-middle" data-container="body" title='Nogle dvaletilstande er mere strømbesparende end andre, men noget hardware understøtter ikke de mest strømbesparende tilstande. Vi foreslår at starte med "Off" (den mest strømbesparende), og hvis det ikke virker så prøv dem i rækkefølgen: mem, freeze, standby' data-toggle="popover" data-placement="right">
            help_outline
          </button>

          <h2 class="mt-4"><strong>Ugeplan</strong></h2>
          <p>Konfigurer tænd og sluk for den faste ugeplan</p>
          <table id="week-plan" class="form-switch table">
            <thead>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="before-dash">Tænd</td>
                <td class="dash"></td>
                <td class="after-dash">Sluk</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>Mandag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input  fs-5 checkbox" name="monday_open" type="checkbox" role="switch" id="id_monday_open" {% if selected_plan.monday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_monday_open">{% if selected_plan.monday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.monday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.monday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Tirsdag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="tuesday_open" type="checkbox" role="switch" id="id_tuesday_open" {% if selected_plan.tuesday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_tuesday_open">{% if selected_plan.tuesday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.tuesday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.tuesday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Onsdag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="wednesday_open" type="checkbox" role="switch" id="id_wednesday_open" {% if selected_plan.wednesday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_wednesday_open">{% if selected_plan.wednesday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.wednesday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.wednesday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Torsdag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="thursday_open"  type="checkbox" role="switch" id="id_thursday_open" {% if selected_plan.thursday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_thursday_open">{% if selected_plan.thursday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.thursday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.thursday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Fredag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="friday_open" type="checkbox" role="switch" id="id_friday_open" {% if selected_plan.friday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_friday_open">{% if selected_plan.friday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.friday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.friday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Lørdag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="saturday_open" type="checkbox" role="switch" id="id_saturday_open" {% if selected_plan.saturday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_saturday_open">{% if selected_plan.saturday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.saturday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.saturday_off}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Søndag</strong>
                </td>
                <td class="checkbox-switch">
                  <input style="float:right;" class="form-check-input fs-5 checkbox" name="sunday_open" type="checkbox" role="switch" id="id_sunday_open" {% if selected_plan.sunday_open %}checked{% endif %}>
                </td>
                <td class="checkbox-text">
                  <label style="padding-top:0.5rem;float:left;" class="form-check-label" for="id_sunday_open">{% if selected_plan.sunday_open %}Tændt{% else %}Slukket{% endif %}</label>
                </td>
                <td  class="before-dash">
                  {{form.sunday_on}}
                </td>
                <td class="dash">—</td>
                <td class="after-dash">
                  {{form.sunday_off}}
                </td>
              </tr>
            </tbody>
          </table>

        </article>

        <aside class="col-lg-8 col-xl-4 flex-grow-1">
          <h2 class="mt-4"><strong>Lukkedage og undtagelser</strong></h2>
          <p>Planlæg kommende lukkedage eller opret undtagelser fra den faste ugeplan</p>

          {# Wake change events #}
          <a id="custom_wake_plans" class="btn btn-secondary" href="{% url 'wake_change_events' site.uid %}"><span class="material-icons">today</span>Håndter undtagelser</a>

          <fieldset class="col-12 col-lg-12">

            {{ form.events.errors }}
            <div class="clearfix">
              <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                <span class="material-icons px-1">queue</span>
                <span id="total-wake_change_events"></span>
              </span>
            </div>
            {% include 'widgets/picklist.html' with submit_name='wake_change_events' selected_list=selected_wake_change_events available_list=available_wake_change_events identifier='undtagelse' add_text='Tilføj undtagelse til tidsplan' remove_text='Fjern undtagelse fra tidsplan' site_url=site.uid target_section='wake_change_event' %}

          </fieldset>

          <h2 class="mt-4 mb-0"><strong>Grupper der følger tidsplanen</strong></h2>

          {# PCGroup picklist #}
          <fieldset class="col-12 col-lg-12">

            {{ form.groups.errors }}
            <div class="clearfix">
              <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                <span class="material-icons px-1">queue</span>
                <span id="total-groups"></span>
              </span>
            </div>
            {% include 'widgets/picklist.html' with submit_name='groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text='Tilføj gruppe til tidsplan' remove_text='Fjern gruppe fra tidsplan' site_url=site.uid target_section='groups' %}

          </fieldset>

        </aside>
      </div>
      <fieldset class="mt-3">
        <input class="btn btn-primary me-3" type="submit" name="submit" value="Gem ændringer">
        <input class="btn btn-secondary me-3" type="reset" name="cancel" value="Annuller">
        {# Only show the button to duplicate a plan if you're updating an existing entry - not creating a new one#}
        {% if selected_plan.id %}
          <a class="btn btn-secondary" {% if wake_plan_access %} href="{% url 'wake_plan_duplicate' site.uid selected_plan.id %}" {% endif %}>Duplikér tidsplan</a>
        {% endif %}
      </fieldset>
    </div>
    <hr>

  </form>

</div>

{% endblock %}
