{% extends 'sitebase.html' %}
{% load i18n %}

{% block header_title %}
  403 - {% translate "Permission denied" %}
{% endblock %}

{% block page_type_class %}
actionpage
{% endblock %}

{% block header_class %}
detailpage
{% endblock %}

{% block globalnav %}
<nav id="left-menu" class="nav nav-pills utils-global">
  <h2 class="text-light">403 - {% translate "Permission denied" %}</h2>
  <a href="/" class="nav-link link-light d-flex align-items-center">
    <span class="material-icons" style="margin: 0 .25rem 0 -.25rem; font-size: 1.25rem;">arrow_back</span>
    {% translate "Return to OS2borgerPC-admin" %}
  </a>
</nav>
{% endblock %}

{% block specific_content %}
<div class="p-4">
	<p>{% translate "You do not have permission to access this webpage" %}</p>
  <p>{% translate "Best regards" %}<br/>
  <strong>{% translate "The OS2BorgerPC team" %}</strong></p>
</div>
{% endblock %}
