{% extends 'sitebase.html' %}

{% block header_title %}
  404 - Siden kunne ikke findes
{% endblock %}

{% block page_type_class %}
actionpage
{% endblock %}

{% block header_class %}
detailpage
{% endblock %}

{% block globalnav %}
<nav id="left-menu" class="nav nav-pills utils-global">
  <a href="/" class="nav-link link-light d-flex align-items-center">
    <span class="material-icons" style="margin: 0 .25rem 0 -.25rem; font-size: 1.25rem;">arrow_back</span>
    Gå tilbage til OS2borgerPC-admin
  </a>
</nav>
{% endblock %}

{% block specific_content %}
<div class="p-4">
  <h2>Siden kunne desværre ikke findes.</h2>
  <div class="card">
    <div class="card-body">
      <p><strong class="card-title">Fejlbeskeden er:</strong></p>
      <q class="card-text">
        {{ exception }}
      </q>
    </div>
  </div>
  <br/>
  <p>Hvis i mener, der er tale om en fejl, så kan i skrive til os på <a href="mailto:support@magenta.dk">support@magenta.dk</a>.</p>
  <p>Mvh.<br/>
  <strong>OS2BorgerPC-Teamet</strong></p>
</div>
{% endblock %}
