{% extends 'sitebase.html' %}
{% load i18n %}

{% block header_title %}
  404 - {% translate "The webpage could not be found" %}
{% endblock %}

{% block page_type_class %}
actionpage
{% endblock %}

{% block header_class %}
detailpage
{% endblock %}

{% block globalnav %}
<nav id="left-menu" class="nav nav-pills utils-global">
  <a href="/" class="nav-link link-light d-flex align-items-center">
    <span class="material-icons" style="margin: 0 .25rem 0 -.25rem; font-size: 1.25rem;">arrow_back</span>
    {% translate "Return to OS2borgerPC-admin" %}
  </a>
</nav>
{% endblock %}

{% block specific_content %}
<div class="p-4">
  <h2>{% translate "The webpage could unfortunately not be found." %}</h2>
  <div class="card">
    <div class="card-body bg-warning">
      <p><strong class="card-title">{% translate "The error message is:" %}</strong></p>
      <q class="card-text">
        {{ exception|safe }}
      </q>
    </div>
  </div>
  <br/>
  <p>{% translate "If you believe that this is an error, you may create an issue on " %} <a href="https://github.com/OS2borgerPC/os2borgerpc-admin-site">github</a>.</p>
  <p>{% translate "Best regards" %}<br/>
  <strong>{% translate "The OS2BorgerPC team" %}</strong></p>
</div>
{% endblock %}
