{% load i18n %}

<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="utf-8">
  <title>OS2borgerPC Administration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://os2.eu/sites/all/themes/osto_web/favicon.ico" type="image/vnd.microsoft.icon">
  <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/static/css/custom.css" rel="stylesheet" media="screen">
  {% block stylesheets %}{% endblock %}
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  {% block head_javascripts %}{% endblock %}
</head>

<body class="{% block page_type_class %}{% endblock %}">

  <div id="adm-wrapper">
    <div id="adm-globalnav">
      {% block globalnav %}{% endblock %}
    </div>
    <div id="adm-bodywrapper">
      <div id="adm-header">
        {% block header %}{% endblock %}
      </div>
      <div id="adm-body">
        <div id="adm-subnav">
          {% block subnav %}{% endblock %}
        </div>
        <div id="adm-content">
          {% block specific_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>

  <ie11-browser-warning 
    data-warning-text="Det ser ud som om, at du benytter Internet Explorer. Det vil ikke fungere på dette site."
    data-link-text="Prøv at åbne denne side i Microsoft Edge">
  </ie11-browser-warning>

  <script src="/static/js/bootstrap.bundle.min.js"></script>
  {% block javascripts %}{% endblock %}
</body>
</html>
