{% extends "sitebase.html" %}
{% load crispy_forms_tags %}

{% block header_title %}
    <div class="container">Log <em>ind</em></div>
{% endblock %}

{% block specific_content %}
<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        {% comment %} Ideally one shouldn't have to add this form-text class manually everywhere. {% endcomment %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Log ind">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}
