{% extends "base.html" %}
{% load i18n %}

{% block header %}
  <header class="d-flex justify-content-between {% block header_class %}{% endblock %}">

    <h1 class="siteheader">{% block  header_title %}{% endblock %}</h1>

    {% if user.is_authenticated %}

      <div class="d-flex align-items-center" style="margin-top: -.25rem;">
        <span>{% translate "Welcome" %}</span>
        <div class="dropdown">
          <button class="btn btn-primary text-white dropdown-toggle px-1"
            style="box-shadow: none;"
            type="button"
            id="userActionDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ user }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="userActionDropdown">
            <li>
              <a class="dropdown-item" href="/accounts/logout/">{% translate "Log out" %}</a>
            </li>
          </ul>
        </div>

      </div>
    {% endif %}

  </header>
{% endblock %}
