{% extends "base.html" %}

{% block body %}
  
  <header {% block header_class %}{% endblock %} >

    {% if user.is_authenticated %}
  
      <div class="float-end d-flex align-items-center" style="margin-top: -.25rem;">
        <span>Velkommen</span>

        <div class="dropdown">
          <button class="btn btn-primary text-white dropdown-toggle px-1"
            style="box-shadow: none;"
            type="button" 
            id="userActionDropdown" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            {{ user }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="userActionDropdown">
            <li>
              <a class="dropdown-item" href="/accounts/logout/">Log ud</a>
            </li>
          </ul>
        </div>
        
      </div>
      
    {% endif %}
    <h1 class="siteheader">{% block  header_title %}{% endblock %}</h1>
  </header>

  {% block content %}
  {% endblock %}

{% endblock %}
