{% extends "sitebase.html" %}

{% block header_title %}
<em>{{ site.name }}:</em> {% block specific_title %}{% endblock %}
{% endblock %}

{% block header_class %}
class="detailpage"
{% endblock %}

{% block content %}

  <ul id="left-menu" class="nav utils utils-global">
    {% if user.is_superuser or user.bibos_profile.sites.count > 1 %}
    <li class="nav-item">
      <a href="/sites/" class="nav-link"><i class="icon-arrow-left icon-white"></i> Sites</a>
    </li>
    <hr>
    {% endif %}
    <li class="nav-item">
      <a href="/site/{{ site.url }}" class="nav-link {% block site_active %}{% endblock %}"><i class="icon-eye-open icon-white"></i> Status</a>
    </li>
    <hr>
    <li class="nav-header">Sikkerhed</li>
    <li class="nav-item">
      <a class="nav-link {% block security_active %}{% endblock %}" href="/site/{{ site.url }}/security/">
        <i class="icon-fire icon-white"></i>
        Advarsler {% if sec_events > 0 %}
        <span class="float-end badge badge-important sec-warn-blink">{{ sec_events }}{% endif %}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block security_problems_active %}{% endblock %}" href="/site/{{ site.url }}/security_problems/">
        <i class="icon-exclamation-sign icon-white"></i> Regler</a>
      </li>
    <li class="nav-item">
      <a class="nav-link {% block security_scripts_active %}{% endblock %}" href="/site/{{ site.url }}/security/scripts/">
        <i class="icon-list icon-white"></i> Sikkerhedsscripts
      </a>
    </li>
    <li class="nav-header">Maskiner</li>
    <li>
      <a class="nav-link {% block configuration_active %}{% endblock %}" href="/site/{{ site.url }}/configuration/">
        <i class="icon-cog icon-white"></i> Site-konfiguration
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block computers_active %}{% endblock %}" href="/site/{{ site.url }}/computers/" onclick="spin();">
        <i class="icon-hdd icon-white"></i> Computere</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block groups_active %}{% endblock %}" href="/site/{{ site.url }}/groups/">
        <i class="icon-tags icon-white"></i> Grupper
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block image_versions_active %}{% endblock %}" href="/site/{{ site.url }}/image-versions/">
        <i class="icon-download-alt icon-white"></i> Versioner
      </a>
    </li>
    <hr>
    <li class="nav-header">Scripting</li>
    <li class="nav-item">
      <a class="nav-link {% block jobs_active %}{% endblock %}" href="/site/{{ site.url }}/jobs/">
        <i class="icon-list-alt icon-white"></i> Jobs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block scripts_active %}{% endblock %}" href="/site/{{ site.url }}/scripts/">
        <i class="icon-list icon-white"></i> Scripts
      </a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link {% block users_active %}{% endblock %}" href="/site/{{site.url}}/users/">
        <i class="icon-user icon-white"></i> Brugere
      </a>
    </li>
    <hr>

    <li class="nav-header">Dokumentation</li>
    {% block specific_documentation_links %}
    {% endblock %}

    <li>
      <a class="nav-link" href="{% url 'doc_root' %}">Læs dokumentation ...</a>
    </li>
  </ul>

  {% block specific_content %}
  {% endblock %}

  <div id="jobinfo-popover" class="popover fade bottom in">
    <div class="arrow"></div>
    <h3 id="jobinfo-title" class="popover-title">Job info</h3>
    <div id="jobinfo-content" class="popover-content"></div>
  </div>

{% endblock %}
