{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Gruppredigering: Huvudinformation och datorer</h1>
  <p>
    När du klickar på en grupp visas som standard
    gruppens masterdata och vilka datorer som ingår i gruppen. Här kan du:
    Du kan till exempel ändra gruppnamn, beskrivning och ID samt lägga till eller ta bort datorer
    från gruppen. Ändringar som görs på webbplatsen träder inte i kraft förrän du
    klicka på knappen "Spara ändringar" högst upp på skärmen.
  </p>
  <h2>Lägg till/ta bort datorer</h2>
  <p>
    På höger sida av skärmen ser du en lista över datorer som ingår i
    Grupp. Du kan redigera medlemmarna i gruppen enligt beskrivningen nedan.
  </p>
  <h3>Lägg till dator</h3>
  <p>
    Om du vill lägga till datorer håller du muspekaren över "lägg till ny dator". Om
    det finns datorer som ännu inte är medlemmar i gruppen, de kommer att visas i
    en lista under muspekaren. Klicka på en dator för att länka datorn
    till gruppen.
  </p>
  <h3>Ta bort datorn</h3>
  <p>
    För att ta bort en dator, klicka på den i listan över
    associerade datorer och välj "Ta bort dator".
  </p>
  <p>
    Kom ihåg att ändringar i listan över datorer inte blir permanenta förrän du
    klickade på "Spara ändringar" högst upp på skärmen.
  </p>
  <p>
    Observera att gruppmedlemskap kan påverka medlemsdatorerna i
    konfiguration. 
  </p>
  <h3>Meddelande till användare av schema för på- och avstängning</h3>
  <p>
    En dator kan bara associeras till ett schema åt gången. Om gruppen är länkad till ett schema och du lägger till en eller flera datorer som är länkade till ett annat schema via en annan grupp, kommer de valda datorerna att avvisas vid uppdatering av gruppen när du klickar på "Spara ändringar". Giltiga datorer kommer fortfarande att läggas till. Om en eller flera datorer avvisas kommer sajten att informera om detta och orsaken.
  </p>
{% endblock %}
