{% extends 'documentation/index.html' %}

{% block admin_groups_active %}class="active"{% endblock %}

{% block specific_content %}
  <h1>Grupper</h1>
  <p>
    En Sambruk MedborgarPC-grupp är en samling datorer som delar konfigurationsnycklar.
    En grupp kan också användas för att enkelt köra ett skript på en samling datorer.
  </p>
  <p>
    När du klickar på Grupper i menyn till vänster kommer en lista med grupper för sitet du befinner dig under att visas till höger om vänstermenyn. Du kan klicka på namnet på den enskilda gruppen för att redigera gruppen.
  </p>
  <p>
    Till höger visas redigeringsgränssnittet för den valda gruppen. Om inga grupper har skapats för det site du är på, visas dialogrutan för att skapa grupper.
  </p>
  <p>
    När du klickar på en grupp får du möjlighet att redigera följande::
    {% include 'documentation_sv/groups/__submenu__.html' %}
  </p>
  <p>
    Du kan läsa mer om konfigurationer på sidan <a href="{% url 'doc' 'configuration' %}">Konfigurationer</a>.
  </p>
  <p>
    Om du vill skapa en ny grupp, klicka på "lägg till ny grupp" ovanför listan med grupper. Detta kommer att få upp en dialogruta där du måste fylla i namn, ID och beskrivning för gruppen. När du klickar på "spara" så kommer du vidare till redigeringssidan för den nyskapade gruppen, varifrån det kommer att vara möjligt att lägga till datorer i gruppen.
  </p>
{% endblock %}
