{% extends 'documentation/index.html' %}

{% block doc_subtitle %}Admin-systemet{% endblock %}

{% block specific_content %}
  <h1>Aktivering av datorer</h1>
  <p>
    När du har installerat Sambruk MedborgarPC på en dator, kommer den att visas i listan över nya
    datorer under <a href="{% url 'doc' 'getting_started' %}">site-status</a>.
    Innan du kan börja arbeta med datorn är det nödvändigt att aktivera den.
    För att göra detta, klicka på din dator och markera kryssrutan "Aktiv" och klicka på "Spara ändringar".
    Det kan ta lite tid, och under den tiden <a href="{% url 'doc' 'securityevents' %}">säkerhetssystemet</a> inte fungera.
    Det kan ta upp till 10-15 minuter för datorn att aktiveras.
  </p>
  <p>
    Förutom själva registreringen kommer administratörswebbplatsen alltid att ignorera alla
    Uppmaningar från datorer som inte är aktiverade. Detta är delvis en praktisk
    mäta (det finns ingen anledning att börja uppdatera en dator innan du vet
    att den är klar), delvis en försiktighetsåtgärd.
  <p>
    <b>Obs:</b> En av anledningarna till att alla datorer måste aktiveras manuellt,
    är att förhindra att externa datorer "ansluter" till ditt site utan din eller din organisations kunnig. Därför bör du bara aktivera en dator om du vet att den borde vara där.
  </p>
{% endblock %}
