<ul class="docsubnav">
    <li {% ifequal submenu_active 'edit' %}class="active"{% endifequal %}>
      <a href="{% url 'doc' 'security_scripts/edit' %}"> Redigering av Säkerhetsskript</a>
    </li>
     <li {% ifequal submenu_active 'securityevents' %}class="active"{% endifequal %}>
      <a href="{% url 'doc' 'security_scripts/securityevents' %}"> Säkerhetsincidenter</a>
    </li>
     <li {% ifequal submenu_active 'securityproblems' %}class="active"{% endifequal %}>
      <a href="{% url 'doc' 'security_scripts/securityproblems' %}"> Säkerhetsregler</a>
    </li>
</ul>
