asgiref==3.4.1
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
crispy-bootstrap5==0.6
Django==3.2.9
django-crispy-forms==1.13.0
django-extensions==3.1.5
django-storages==1.12.3
django-xmlrpc==0.1.8
flake8==4.0.1
google-api-core==2.2.2
google-auth==2.3.3
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
gunicorn==20.1.0
idna==3.3
mccabe==0.6.1
protobuf==3.19.1
psycopg2-binary==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
rsa==4.8
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.7
whitenoise==5.2.0
black==21.11b1
