{% extends 'documentation/index.html' %}

{% block doc_subtitle %}Om{% endblock %}

{% block om_bibos_admin_active %}class="active"{% endblock %}

{% block specific_content %}
  <h1>Sambruk MedborgarPC</h1>
  <p>
    Sambruk MedborgarPC Låter dig fjärrhantera datorer via
    Sambruk MedborgarPC administrationsgränssnitt. I menyn till vänster hittar du
    dokumentation av systemets olika delar.
  </p>
  <h3>Om</h3>
  <p>
  Sambruk MedborgarPC-Admin är utvecklat av <a href="http://www.magenta.dk">Magenta</a> i
  samarbete med biblioteken i Århus och Silkeborg.
  </p>
  <p>
  Sambruk MedborgarPC är 100% öppen källkod och kan användas och avslöjas enligt
  Villkor i version 3 af <a
      href="https://www.gnu.org/licenses/gpl.html">Gnu General Public License</a>. 
  Denna dokumentation får användas och lämnas ut i enlighet med en <a
      href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
      Attribution ShareAlike License</a>.
  </p>
  <p>
  Källkoden för den senaste tillgängliga versionen av Sambruk MedborgarPC-Admin/OS2borgerPC kan alltid
  hittas på <a href="https://github.com/SambrukMedborgarPC/admin-site/">github</a> eller <a href="https://github.com/OS2borgerPC/admin-site/">github</a>.
  </p>
{% endblock %}
