{% extends 'documentation/index.html' %}

{% block specific_content %}
<h1 class="title">Uppdatera lösenord på en Sambruk MedborgarPC Kiosk&rsquo;s Wi-Fi</h1>
<p>
Vi börjar på en Sambruk MedborgarPC Kiosk som har startat, där webbläsaren visas och där ett tangentbord är inställt.
</p>


<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/1.png" />

<p>
Härifrån trycker du på Ctrl-Alt-F2.<br/>
Du kommer då till en inloggningsfråga.<br/>
&rsquo;marcus-01-vm&rsquo;, visas här är namnet på min Sambruk MedborgarPC Kiosk som kommer att vara annorlunda för dig.
</p>


<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/2.png" />


<p>
Skriva &rsquo;superuser&rsquo;, tryck <strong>Enter</strong>, Användarens lösenord och tryck på <strong>Enter</strong> igen.<br/>
Tänk på att det inte finns någon indikation på att den tar emot din kod (t.ex. asterisker som tecken), men det gör det.
</p>


<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/3.png" />

<p>
Då kommer du till en &ldquo;prompt&rdquo;:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/4.png" />
</p>

<p>
Skriv följande:
<strong><strong>sudo nmtui</strong></strong>
&#x2026;tryck på <strong>Enter</strong> och ange användarens lösenord igen:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/5.png" />
</p>

<p>
Därefter hälsas du av följande skärm.
</p>

<p>
I det här programmet navigerar du runt med piltangenterna och använder <strong>Enter</strong> för att trycka på en knapp,
och <strong>Escape</strong> kan användas, att gå tillbaka.
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/6.png" />
</p>

<p>
Det är redan i <strong><strong>Redigera en anslutning</strong></strong> Så du trycker bara på <strong>Enter</strong>, och du kommer hit:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/7.png" />
</p>

<p>
På den här sidan varierar det vad du ser, men om du tidigare hade en wifi-anslutning inställd kommer den att listas här.<br/>
Gå ner till ditt wifi-nätverk med piltangenterna och tryck igen <strong>Enter</strong>. Om du är osäker kan du gå in i var och en av dem,
för att se vad namnet på nätverket faktiskt är. (SSID).
</p>

<p>
Då kommer du till följande skärm. Vad som skrivs i rutorna varierar dock från system till system.
</p>

<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/9.png" />

<p>
Använd piltangenterna för att gå ner till lösenordet, ta bort det och skriva in det nya lösenordet.
Gå sedan till botten och tryck OK.
</p>


<p><img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/10.png" />
</p>


<p>
Du kommer tillbaka på den här skärmen - den här gången trycker du på <strong>Escape</strong> för att gå tillbaka en nivå, för att komma till huvudmenyn.
</p>


<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/8.png" />

<p>
Den här gången väljer du istället <strong><strong>Activate a connection</strong></strong>.
</p>

<p>
Och du kommer då hit:
</p>


<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/18.png" />

<p>
Hitta ditt nätverk i listan och om du ser alternativet 
<strong><strong>Deactivate</strong></strong> Gör det först, via piltangenterna och <strong>Enter</strong>.
Välj sedan <strong>Activate</strong>.
</p>

<p>
Därefter aktiveras nätverket om konfigurationen och koden har angetts korrekt.
</p>

<p>
Nu är vi klara med <strong><strong>nmtui</strong></strong>.
Tryck på <strong>Escape</strong> - eller alternativt välj först &ldquo;Back&rdquo; med piltangenterna Följt av <strong>Enter</strong>,
och sedan &ldquo;Quit&rdquo; och <strong>Enter</strong>, tills programmet är stängt.
</p>

<p>
Då kommer du tillbaka i terminalen, som nu ser ut så här:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/15.png" />
</p>

<p>
Då kan du kontrollera att nätverksanslutningen fungerar, t.ex. via följande kommando, som använder <strong>ping</strong>:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/16.png" />
</p>

<p>
När du är ansluten till nätverket bör du se utdata enligt ovan.
</p>

<p>
Skriv &rsquo;exit&rsquo; på kommandolinien och tryck <strong>Enter</strong> för att logga ut - eller tryck <strong>Ctrl-d</strong>:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/17.png" />
</p>

<p>
Du kommer då tillbaka hit:
</p>

<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/2.png" />

<p>
Tryck nu Ctrl-Alt-F1 för att gå tillbaka till webbläsaren - då är vi tillbaka vid start:
<img src="/static/docs/img/os2borgerpc_kiosk_guide_to_update_wifi/1.png" />
</p>

<p>
Klar!
</p>

{% endblock %}
