{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Administration av Scripts</h1>
  <p>
    När du klickar på "Skript" i vänstermenyn kommer du till höger om
    Den vänstra menyn visar en lista med skript och till höger om den här listan
    du kan visa redigeringsgränssnittet för skript.
  </p>
  <p>
    Skript är för fristående åtgärder, medan säkerhetsskript
    håller utkik efter speciella händelser.
  </p>
  <p>
    Listan över skript är uppdelad i två delar, som kan växlas mellan av
    klicka på flikarna "Lokala skript" och "Globala skript" ovan
    Lista.
  </p>
  <p>
    Lokala skript täcker skript som bara kan användas på den webbplats du är
    under Medan globala skript omfattar skript som kan användas på vem som helst
    platser.
  </p>
  <p>
    För varje skript kan du välja följande:
    {% include 'documentation_sv/scripts/__submenu__.html' %}
  </p>
  <p>
    Om du vill skapa ett nytt skript klickar du på "lägg till nytt
    script" ovanför listan över skript. Detta öppnar en dialogruta där du kan
    Fyll i skriptnamn, beskrivning och ladda upp skriptkod. När du klickar på
    Skriptet skapas och du omdirigeras till
    Redigeringssidan för det nyskapade skriptet där du har möjlighet att
    Så här lägger du till indataparametrar i skriptet.
  </p>
{% endblock %}
