{% extends 'documentation/index.html' %}

{% block specific_content %}
  <h1>Utförande av Skript</h1>
  <p>
    Om du vill köra ett skript på en dator eller grupp av datorer måste du:
    klicka på "Skript" i den vänstra menyn och välj det skript du vill köra. Not
    som du kan behöva växla mellan flikar "Lokala skript" och
    "Globala skript" för att hitta det skript du letar efter. När du har
    markerat det skript du vill köra, klicka på
    "Kör script".
  </p>
  <p>
    Det kommer nu att finnas en dialogruta som ber dig välja dessa datorer
    och/eller grupper som du vill köra skriptet på. Klicka på individen
    dator eller grupp för att markera/avmarkera den. Du kan välja så många
    datorer eller grupper som du vill. Att välja en grupp kommer att
    Du kan till exempel göra så att skriptet körs på alla datorer som ingår i gruppen.
    Klik på "Nästa", När du har gjort dina val.
  </p>
  <p>
    Du uppmanas nu att fylla i indataparametrar för skriptet. Fyll i fälten
    och klicka på "Kör" för att börja köra skriptet. Detta kommer att innebära,
    att ett jobb kommer att skapas för varje dator du väljer att utföra
    skriptas på. Du kan klicka på länken på den sista sidan i dialogrutan för att gå
    till <a href="{% url 'doc' 'jobs' %}">joblisten</a> och följ med
    vid avveckling av jobb på enskilda datorer.
  </p>
{% endblock %}
