{% extends "site_with_navigation.html" %}


{% block specific_title %}
Nyheder
{% endblock %}

{% block stylesheets %}
    <link href="/static/css/changelog.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/styles/foundation.min.css">
{% endblock %}

{% block head_javascripts %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js"></script>
    <script type="text/javascript">
        const changelog_search_url = "{% url 'changelogsearch' site.uid %}"
    </script>
    <script type="text/javascript" src="/static/js/changelog_list.js"></script>
{% endblock %}

{% block specific_content %}

<div id="changelog-container">
    <header>
        <strong id="tags-title" class="text-muted">Nyhedskategorier</strong>

       <!-- Here the tag filters are defined. Each is a clickable button that filters the entries to show entries with that tag -->
        <form id="changelogsearch-filterform" name="filterform" action="./" method="post">
            <input type="hidden" name="page" value="1">
            <div id="changelogsearch-tag-selectors">
                <button class="btn btn-md tag-filter-btn bg-primary text-white me-2" id="Alle" type="button" name="" onclick="BibOS.ChangelogList.reset()">Alle</button>
                {% for tag in tag_choices %}
                    <button class="btn btn-md tag-filter-btn bg-primary text-white me-2" id="changelogtag-{{ tag.pk }}" type="button" name="{{ tag.id }}" onclick="BibOS.ChangelogList.search(this)">{{ tag.name }}</button>
                {% endfor %}
            </div>
        </form>
    </header>

    <!-- This template gets populated via the JS file. The variables are declared in the class ChangelogSearch found in views.py  -->
    <div class="template-container">
        <div id="changelogitem-template">
            <div class="changelogitem" id="changelog-#PK#">
                <div>
                    <strong class="timestamp-created text-muted">#CREATED#</strong>
                    <h2 class="card-title">
                        #TITLE#
                    </h2>
                </div>
                <p>#CONTENT#</p>
                <hr class="meta-data-separator">
                <div class="meta-info">
                    <p class="meta-header">
                        <small><strong class="text-muted">
                            Nyhedskategorier
                        </strong></small>
                    </p>
                    <p class="meta-tags">
                            #TAGS#
                    </p>
                    <p class="meta-header">
                        <small>
                            <strong class="text-muted">Relateret til version</strong><br/>
                        </small>
                        <span class="badge bg-primary">#VERSION#</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
        {% include 'notification.html' %}
        <div>
            <div id="changelog-list">
                <div class="muted">
                    <p>Loading data...</p>
                </div>
            </div>
        </div>
        <hr>

        <nav class="pagination-wrapper" aria-label="Changelog list page">
            {% include 'widgets/pagination.html' %}
        </nav>
    </div>
</div>
{% endblock %}
