{% extends "site_with_navigation.html" %}

{% block specific_title %}
Versioner
{% endblock %}

{% block image_versions_active %}
class="active"
{% endblock %}

{% block specific_content %}

<ul class="sublevelnav">
    <li class="listutils">
      <a href="#addNewImageVersion" role="button" data-toggle="modal" title="tilføj ny version"><i class="icon-plus icon-white"></i> Tilføj ny version</a>
    </li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>

<div class="container-fluid main sublevelmain">

  <p>STUFF HERE PLS.</p>

</div>

{% endblock %}