{% extends "site_with_navigation.html" %}

{% block specific_title %}
Versioner
{% endblock %}

{% block image_versions_active %}
class="active"
{% endblock %}

{% block specific_content %}

<ul class="sublevelnav">
  {% if site_allowed %}
    {% for maj_v in major_versions %}
      <li {% ifequal maj_v selected_image_version %}class="active"{% endifequal %}>
        <a class="list-item" href="/site/{{ site.url }}/image-versions/{{ maj_v }}">
          <i class="icon-tag"></i> v{{ maj_v }}
        </a>
      </li>
    {% endfor %}
  {% endif %}
</ul>
 
<div class="container-fluid main sublevelmain">

  {% if site_allowed %}
    {% with minor_versions.all|dictsortreversed:"img_vers"|first as first_obj %}
      <h2 class="divideheader"><em>Nyeste underversion af v{{ first_obj.img_vers|slice:":1" }}</em></h2>
      <ul class="unstyled">
        <li><b>VERSION:</b> {{ first_obj.img_vers }}</li>
        <li><b>RELEASE DATO:</b> {{ first_obj.rel_date }}</li>
        <li><b>OPERATIVSYSTEM:</b> {{ first_obj.os }}</li>
        <li><b>UDGIVELSESNOTER:</b> {{ first_obj.rel_notes }}</li>
        <li>
          <b>DOWNLOAD: </b>
          <a class="btn-small btn-success" href="{{ first_obj.img_path }}" download>v{{ first_obj.img_vers }}.iso</a>
        </li>
      </ul>
    {% endwith %}
      
    {% if minor_versions.all.count > 1 %}
      <a href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <li class="icon-chevron-down"></li>Se underversioner 
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">      
          <ul class="unstyled">
            {% for iv in minor_versions.all|dictsortreversed:"img_vers"|slice:"1:" %}
              <li><b>VERSION:</b> {{iv.img_vers}}</li>
              <li><b>RELEASE DATE:</b> {{ iv.rel_date }}</li>
              <li><b>OPERATING SYSTEM:</b> {{ iv.os }}</li>
              <li><b>RELEASE NOTES:</b> {{ iv.rel_notes }}</li>
              <li>
                <b>DOWNLOAD: </b>
                <a class="btn-small btn-success" href="{{ iv.img_path }}" download>v{{iv.img_vers}}</a>
              </li>
              <br>
            {% endfor %}    
          </ul>
        </div>
      </div>
    {% else %}
      <!-- Do nothing -->
    {% endif %} 
  {% else %}
    <h2 class="text-error"><b>INGEN ADGANG</b></h2>
    <p>
      Din organisation har ikke nogen serviceaftale med en OS2borgerpc leverandør, og
      derfor vises ingen versioner.
    </p>
    <p>Kontakt venligst OS2borgerpc leverandør, for at høre mere.</p>
  {% endif %} 
</div>

{% endblock %}
