{% extends "site_with_navigation.html" %}

{% block specific_title %}
Slet computer: {{pc.name}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>Bemærk</h3>
      <ul>
        <li>Hele computerens jobhistorik vil også blive slettet.</li>
      </ul>
    </div>
    <p>
      Er du sikker på, du ønsker at slette computeren
      <strong style="font-size: 1.25em;">{{ pc.name }}</strong>
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-danger me-3" type="submit" value="Bekræft sletning">
      <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)">Annuller</button>
    </form>
  </div>
{% endblock %}
