{% extends "site_with_navigation.html" %}

{% block specific_title %}
Slet computer: {{pc.uid}}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <p>Ønsker du virkelig at slette maskinen:</p>
    <p><strong>{{ pc.uid }}</strong>?</p>
    <p>Hele computerens jobhistorik vil også blive slettet.</p>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-danger" type="submit" value="Bekræft sletning" />
      <a class="btn btn-primary" href="javascript:history.go(-1)">Annuller</a>
    </form>
  </div>
{% endblock %}
