{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% block specific_title %}
Computere
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/static/js/configlist.js"></script>
{% endblock %}

{% block subnav %}
<ul class="sublevelnav item-list">
  {% if not pc_list.all%}
    <li>Der er ingen computere</li>
  {% endif %}
  {% for pc in pc_list %}
    <li class="{% ifequal pc selected_pc %}active{% endifequal %}">
      {% comment %} Add deletion to every row: <a href="/site/{{ site.url }}/computers/{{ pc.uid }}/delete/" title="Slet computer"></a>{% endcomment %}
      <a class="item-list-link" id="{{pc.uid}}" href="/site/{{ site.url }}/computers/{{ pc.uid }}">
        {{ pc.name }}
      </a>
        {% if not pc.is_activated %}
          <span class="badge bg-danger">Ikke aktiveret</span>
        {% endif %}
      {% ifequal pc selected_pc %}
        <a class="item-list-deletable material-icons" href="/site/{{ site.url }}/computers/{{ pc.uid }}/delete/" title="Slet computer">
          clear
        </a>
      {% endifequal %}
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain">

    <h2 class="divideheader">
      Detaljer om <em>{{ selected_pc.name }}</em>
      {% if selected_pc.security_events.count > 0 %}
      <a href="{% url 'security_event_pc' slug=site.url pc_uid=pc.uid %}" title=" Se hændelser for denne PC">
        <span class="badge badge-important">
          <icon class="{% if has_security_events %}icon-fire{% else %}icon-ok{% endif %} icon-white"></icon>
        </span>
      </a>
      {% endif %}
    </h2>

    {% include 'notification.html' %}

    <form name="pc_update_form" id="pc_update_form" action="{% url 'computer' site.uid selected_pc.uid %}" method="post">
      <div class="basic-info">
        <span class="badge bg-secondary">
          Oprettelsestidspunkt: {{ pc.created }}
        </span>
        <span class="badge bg-secondary ms-3">
          Seneste tjek-ind:
          {% if selected_pc.last_seen %}
            {{ selected_pc.last_seen|timesince }} siden
          {% else %}
            Aldrig
          {% endif %}
        </span>
        <span class="badge bg-secondary ms-3">
          Seneste sikkerhedshændelse modtaget:
          {% if security_event %}
            {{ security_event.reported_time|timesince }} siden
          {% else %}
            Aldrig
          {% endif %}
        </span>
      </div>

      {% csrf_token %}

      <!-- The three tabs on the page: -->
      <ul class="nav nav-tabs" role="tablist" id="pc-tabs">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="details-tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Detaljer</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="jobs-tab" href="#jobs" role="tab" aria-controls="jobs" aria-selected="false">Jobhistorik</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="configs-tabs" href="#configs" role="tab" aria-controls="configs" aria-selected="false">Konfigurationer</a>
        </li>
      </ul>

      <!-- The content for the three tabs you can choose from above, one after one: -->
      <div class="tab-content">

        <div id="details" class="tabcontent tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab">
      
          <div class="row gx-5">

            <fieldset class="col-12 col-lg-6">
                {{ form.uid|as_crispy_field }}
                {{ form.name|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.location|as_crispy_field }}

                <div mb-5>
                    {{ form.is_activated|as_crispy_field }}
                </div>

              </fieldset>

            <fieldset class="col-12 col-lg-6">

              {{ form.pc_groups.errors }}
              <div class="clearfix">
                <label class="mb-2">Grupper computeren er medlem af</label>
                <span class="badge bg-secondary picklist-counter-badge" style="float: right;">
                  <span class="material-icons px-1">queue</span>
                  <span id="total-pc_groups"></span>
                </span>
              </div>
              {% include 'widgets/picklist.html' with submit_name='pc_groups' selected_list=selected_groups available_list=available_groups identifier='gruppe' add_text='Tilføj computer til gruppe' remove_text='Fjern computer fra gruppe' site_url=site.uid target_section='groups' %}

            </fieldset>
          </div>

        <fieldset class="mt-5">
          <button class="btn btn-primary me-3" type="submit">Gem ændringer</button>
          <button class="btn btn-secondary" type="reset">Annuller</button>
        </fieldset>
        </div>

        <div id="configs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="configs-tab">
          <fieldset>
            {% include 'system/configlist/list.html' with entries=selected_pc.configuration.entries.all  cnf_id='pc_config' %}
          </fieldset>
          <fieldset class="mt-5">
            <button class="btn btn-primary me-3" type="submit">Gem ændringer</button>
            <button class="btn btn-secondary" type="reset">Annuller</button>
        </fieldset>
        </div>

        <div id="jobs" class="tabcontent tab-pane fade" role="tabpanel" aria-labelledby="jobs-tab">
          <table id="computer_jobs_table" class="table jobtable">
            <thead>
              <tr>
                {% include 'widgets/orderby_th_reload.html' with key='batch__script__name' label='Script' anchor='#jobs' %}
                {% include 'widgets/orderby_th_reload.html' with key='created' label='Oprettet' anchor='#jobs' %}
                {% include 'widgets/orderby_th_reload.html' with key='started' label='Startet' anchor='#jobs' %}
                {% include 'widgets/orderby_th_reload.html' with key='finished' label='Sluttet' anchor='#jobs' %}
                {% include 'widgets/orderby_th_reload.html' with key='status' label='Status' anchor='#jobs' %}
                {% include 'widgets/orderby_th_reload.html' with key='batch__name' label='Batch' anchor='#jobs' %}
                <th></th> {# Job-info-button #}
              </tr>
            </thead>
            {% for job in joblist %}
            <tr class="muted">
              <td class="{% ifequal orderby_key 'batch__script__name' %}orderby-highligt{% endifequal %}">
                  <a href="{% url 'script' site.uid job.batch.script.pk %}"><strong>{{job.batch.script.name}}</strong></a>
              </td>
              <td class="{% ifequal orderby_key 'created' %}orderby-highligt{% endifequal %}">{{job.created|default:'-'}}</td>
              <td class="{% ifequal orderby_key 'started' %}orderby-highligt{% endifequal %}">{{job.started|default:'-'}}</td>
              <td class="{% ifequal orderby_key 'finished' %}orderby-highligt{% endifequal %}">{{job.finished|default:'-'}}</td>
              <td class="{% ifequal orderby_key 'status' %}orderby-highligt{% endifequal %}"><span class="badge {{job.status_label}}">{{job.status_translated}}</span></td>
              <td class="batch {% ifequal orderby_key 'batch__name' %}orderby-highligt{% endifequal %}">{{job.batch.name}}</td>
              <td>
                {% if job.has_info %}
                  <button type="button" class="btn jobinfobutton p-0" data-pk="{{ job.pk }}" data-bs-toggle="popover" data-bs-content="Loading..." data-bs-html="true" data-bs-placement="left" data-bs-trigger="click" data-bs-animation="true">
                    <span class="material-icons fs-3">info</span>
                  </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>

        </div>

      </div>

      <script>
        // Hack to ensure that when sorting jobs table,
        // the "Jobhistorik" tab opens on window load:
        window.addEventListener('load', function() {
          // Manually initialize javascript for tabs
          var triggerTabList = [].slice.call(document.querySelectorAll('#pc-tabs a'))
          triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)
            triggerEl.addEventListener('click', function (event) {
              tabTrigger.show()
            })
          })
          // Initialize job info buttons on load.
          BibOS.setupJobInfoButtons($(".jobtable"))

          // Open #jobs tab if the url contains this hash
          if (location.hash === '#jobs') {
            var triggerEl = document.getElementById('jobs-tab')
            bootstrap.Tab.getInstance(triggerEl).show()
          }
        })
      </script>
    </form>

    {% include 'system/configlist/templates.html' %}
  </div>
{% endblock %}
