{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% block specific_title %}
Slet gruppe: {{ pcgroup.uid }}
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">
    <p>Ønsker du virkelig at slette denne gruppe?<br>
      <strong style="font-size: 1.25em;">{{ pcgroup.uid }}</strong>
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger me-3" type="submit" value="Bekræft sletning">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">Annuller</a>
    </form>
  </div>
{% endblock %}
