{% extends "sitebase.html" %}
{% load crispy_forms_tags %}

{% block  header_title %}Redigér site{% endblock %}

{% block header_class %}container{% endblock %}

{% block specific_content %}
  <div class="container mt-4">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <fieldset class="my-4">
        <input class="btn btn-primary me-3" type="submit" value="Gem">
        <a class="btn btn-secondary" href="javascript:history.go(-1)">Annuller</a>
      </fieldset>
    </form>
  </div>
{% endblock %}
