{% extends "sitebase.html" %}
{% load i18n %}

{% block header_title %}
  {% translate "Total number of sites" as total_sites %}
  {% translate "Total number of computers" as total_pcs %}
  {% translate "Administrate" %} <em>{% translate "Sites" %}</em>
  <span class="ms-3 badge bg-secondary" title="{{total_sites}}">{% translate "Sites" %}: {{site_list|length}}</span>
  <span class="ms-3 badge bg-secondary" title="{{total_pcs}}">{% translate "Computers" %}: {{pcs_count}}</span>
{% endblock %}

{% block header_class %}container{% endblock %}

{% block specific_content %}
  <div class="container">
    <div>
      {% for site in site_list %}

        <div class="btn-group mt-3">
          <a class="btn btn-light btn-lg me-3" href="{% url 'site' slug=site.url %}" >
            <span class="pe-4">
              <span class='material-icons'>home</span>
              {{site.name}}
            </span>
           <span class="material-icons">computer</span>{{site.pcs.count}}
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
