{% extends "sitebase.html" %}
{% load i18n %}

{% block header_title %}
  {% translate "Total number of sites" as total_sites %}
  {% translate "Total number of computers" as total_pcs %}
  {% translate "Administrate" %} <em>{% translate "Sites" %}</em>
  <span class="ms-3 badge bg-secondary" title="{{total_sites}}">{% translate "Sites" %}: {{site_list|length}}</span>
  <span class="ms-3 badge bg-secondary" title="{{total_pcs}}">{% translate "Computers" %}: {{pcs_count}}</span>
{% endblock %}

{% block header_class %}container{% endblock %}

{% block specific_content %}
  <div class="container">
    <div>
      {% if user.is_superuser %}
        {% for country in countries %}
        <h2 class="mt-3">{{ country.name }}</h2>
        <h3 class="mt-3">Sites</h3>
        {% for site in country.normal_sites %}
          <div class="btn-group mt-3">
            <a class="btn btn-light btn-lg me-3" href="{% url 'site' slug=site.url %}" >
              <span class="pe-4">
                <span class='material-icons'>home</span>
                  {{site.name}}
                </span>
              <span class="material-icons">computer</span>{{site.pcs.count}}
            </a>
          </div>
          {% endfor %}
          <h3 class="mt-3">Test Sites</h3>
          {% for site in country.test_sites %}
            <div class="btn-group mt-3">
              <a class="btn btn-light btn-lg me-3" href="{% url 'site' slug=site.url %}" >
                <span class="pe-4">
                  <span class='material-icons'>home</span>
                    {{site.name}}
                  </span>
                <span class="material-icons">computer</span>{{site.pcs.count}}
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        {% for site in site_list %}         
          <div class="btn-group mt-3">
            <a class="btn btn-light btn-lg me-3" href="{% url 'site' slug=site.url %}" >
              <span class="pe-4">
                <span class='material-icons'>home</span>
                {{site.name}}
              </span>
            <span class="material-icons">computer</span>{{site.pcs.count}}
            </a>
          </div>          
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
