{% extends "site_with_navigation.html" %}
{% block specific_title %}
  Versioner
{% endblock %}
{% block subnav %}
  <ul class="sublevelnav item-list">
    {% if site_allowed %}
      {% for platform_choice, platform_readable in platform_choices.items %}
      <li class="{% ifequal platform_choice|slugify selected_platform.0|slugify %}active{% endifequal %}">
      <a class="item-list-link" href="/site/{{ site.url }}/image-versions/{{ platform_choice|slugify }}">
        <span clas="d-flex align-items-center">
          {{ platform_readable }}
        </span>
      </a>
    </li>
  {% endfor %}
{% endif %}
</ul>
{% endblock %}
{% block specific_content %}
<div class="container-fluid main sublevelmain">
{% if site_allowed %}
  {% if selected_platform_images %}
    <!-- First index of 'minor_versions' is the newest version -->
    {% with selected_platform_images|first as first_obj %}
    <h2 class="divideheader">Nyeste udgave af {{ selected_platform.1 }}</h2>
    <dl>
      <dt>Version</dt>
      <dd>{{ first_obj.image_version }}</dd>
      <dt>Release-dato</dt>
      <dd>{{ first_obj.release_date }}</dd>
      <dt>Operativsystem</dt>
      <dd>{{ first_obj.os }}</dd>
      <dt>Udgivelsesnoter</dt>
      <dd>
    <pre style="font-family: var(--bs-font-sans-serif)">{{ first_obj.release_notes }}</pre>
    </dd>
  </dl>
  <a class="btn btn-md btn-success text-light" href="{{ first_obj.image_upload.url }}" download>
    <span class="material-icons">
      cloud_download
    </span>
    Download
  </a>
{% endwith %}
{% else %}
<h2 class="divideheader">Versioner</h2>
<p>Der blev ikke fundet nogen versioner</p>
{% endif %}
{% if selected_platform_images.count > 1 %}
<!-- Proceed to load remaining versions -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    Tidligere versioner
    </button>
  </div>
  <table class="table table-hover accordion-body accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <thead>
      <tr>
        <th>Version</th>
        <th>Release-dato</th>
        <th>Operativsystem</th>
        <th>Udgivelsesnoter</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for image in selected_platform_images|slice:"1:" %}
          <td>{{ image.image_version }}</td>
          <td>{{ image.release_date }}</td>
          <td>{{ image.os }}

          </td>
          <td>
          <pre style="font-family: var(--bs-font-sans-serif)">{{ image.release_notes }}</pre>
        </td>
        <td>
          <a class="btn btn-sm btn-secondary text-light" href="{{ iv.image_upload.url }}" download>
          <span clas="d-flex align-items-center">
            
            <span class="material-icons">
              cloud_download
            </span>
            Download
          </span>
          </a>
        </td>
      {% endfor %}
    {% endif %}
  </tr>
</tbody>
</table>
</div>
{% else %}
<h2 class="text-error"><strong>INGEN ADGANG</strong></h2>
<p>
Din organisation har ikke nogen serviceaftale med en OS2borgerpc leverandør, og
derfor vises ingen versioner.
</p>
<p>Kontakt venligst OS2borgerpc leverandør, for at høre mere.</p>
{% endif %}
</div>
{% endblock %}
