{% extends "site_with_navigation.html" %}

{% block specific_title %}
Brugere
{% endblock %}

{% block subnav %}
  <div class="sublevelnav">
    <div class="listutils">
      <button class="btn btn-link" type="button" data-toggle="modal" data-bs-target="#addNewUser">
          <span class="material-icons">add</span>
          Tilføj ny bruger
      </button>
    </div>
    <ul class="item-list">
      {% for user in user_list %}
        <li class="{% ifequal user selected_user %}active{% endifequal %}">
          <a class="item-list-link " href="/site/{{ site.url }}/users/{{ user.username }}"> 
            <span class="material-icons">person</span>
            {{ user.username }}
          </a>
          {% ifequal user selected_user %}
            <a class="item-list-deletable material-icons" href="#" title="Slet bruger">
              clear
            </a>
          {% endifequal %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block specific_content %}
  
  <div class="container-fluid main sublevelmain">
    <h2 class="divideheader">Profil: <em>{{ selected_user.username }}</em></h2>
    <div>
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Gem">
        <button class="btn btn-secondary" type="button">Annuller</button>
        
        {% if form.errors %}
          <span class="form-error">
            {{ form.errors }}
          </span>
        {% endif %}
  
        <fieldset>

          {{ form.as_p }}

          <p>
            <label for="id_username" class="form-label">Username:</label> 
            <input id="id_username" maxlength="30" name="username" type="text" value="{{ selected_user.username }}" class="form-control">
          </p>

          <p>
            <label for="id_txtPassword" class="form-label">Password:</label> 
            <input id="id_txtPassword" maxlength="128" name="password" type="password" value="" class="form-control">
            <input type="text" id="txthdnPassword" class="form-control">
          </p>
          
          <div class="form-check" style="margin-bottom: 1rem;">
            <input class="form-check-input" type="checkbox" id="chkShow">
            <label for="id_email" class="form-check-label">Vis Password</label>
          </div>

          <input type="hidden" id="id_last_login" name="last_login" type="text" value="2013-06-10 16:04:27.949558" /><input id="initial-id_last_login" name="initial-last_login" type="hidden" value="2013-06-10 16:04:27.949558">

          <p>
            <label for="id_email" class="form-label">Email address:</label>
            <input id="id_email" maxlength="75" name="email" type="email" value="{{ selected_user.email }}" class="form-control">
          </p>
          
        </fieldset>

        <fieldset>
      
          <label for="rights_group_select" class="form-label">Rettighedsgruppe:</label>
          <select class="form-select" name="type" id="rights_group_select">
            {% for c in choices %}
              <option value="{{ c.id }}" {% ifequal c.id 1 %} selected{% endifequal %}>{{ c.val }}</option>
            {% endfor %}
          </select>
        
        </fieldset>
      </form>
    </div>
  </div>
  
  
  <!-- MODAL WINDOW FOR NEW USER REGISTRATION: -->
  
  <div id="addNewUser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Tilføj ny bruger</h3>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token %}

            {% if form.errors %}
              <span class="form-error">
                {{ form.errors }}
              </span>
            {% endif %}

            <fieldset>

              <p>
                <label for="id_username" class="form-label">Brugernavn:</label>
                <input id="id_username" maxlength="30" name="username" type="text" value="Brugernavn" class="form-control">
              </p>

              <p>
                <label for="id_txtPassword" class="form-label">Password:</label>
                <input id="id_txtPassword" maxlength="128" name="password" type="password" value="" class="form-control">
                <input type="text" id="txthdnPassword" class="form-control">
              </p>

              <div class="form-check" stye="margin-bottom: 1rem;">
                <input class="form-check-input" type="checkbox" id="chkShow">
                <label class="form-check-label" for="chkShow">Vis Password</label>
              </div>

              <p>
                <label for="id_email" class="form-label">Email-addresse:</label>
                <input id="id_email" maxlength="75" name="email" type="email" value="ex: email@email.dk" class="form-control">
              </p>

            </fieldset>
            
            <fieldset>

              <label for="modal_rights_select" class="form-label">Rettighedsgruppe:</label>
              <select class="form-select" id="modal_rights_select" name="type">
                {% for c in choices %}
                  <option value="{{ c.id }}" {% ifequal c.id 1 %} selected{% endifequal %}>{{ c.val }}</option>
                {% endfor %}
              </select>

            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Gem">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuller</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function() {
      $('#txthdnPassword').hide();
      $('#txthdnPassword').attr('readonly','readonly');
      $('#id_txtPassword').blur(function() {
          $('#txthdnPassword').val($(this).val());
      });
  
      $('#chkShow').on("change", function() {
        var isChecked = $(this).prop('checked');
        if (isChecked) {
          $('#id_txtPassword').hide();
          $('#txthdnPassword').show();
        }
        else {
          $('#id_txtPassword').show();
          $('#txthdnPassword').hide();
        };
      });
    })
  </script>

{% endblock %}
