{% extends "site_with_navigation.html" %}

{% block specific_title %}
Site-konfiguration
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/configlist.js"></script>
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main">

    <form action="{% url 'configuration' site.uid %}" 
      method="post"
      name="site_configuration_form" 
      id="site_configuration_form">

      {% include 'notification.html' %}

      <p>
        <button class="btn btn-primary" type="submit">Gem ændringer</button>
        <button class="btn btn-secondary" type="button" onclick="return ((location.href=location.href) && false)">Annuller</button>
      </p>
      {% csrf_token %}
      
      {% if site %}
        <p class="well" style="font-size: 14px; line-height: 20px;">
          <span class="muted">Dette sites ID er</span> <strong>{{ site.uid }}</strong>
        </p>
      {% endif %}

      {% include 'system/configlist/list.html' with entries=site_configs cnf_id='site_configs' %}
      
      <!-- TODO: This include will put a form within a form. Not great.-->
      {% include 'system/configlist/templates.html' %}
      
    </form>
  </div>
{% endblock %}
