{% extends "site_with_navigation.html" %}

{% block specific_title %}
  Status
{% endblock %}

{% block specific_content %}
  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    <h2 class="divideheader">
      Computere 
      <span class="ms-3 badge bg-secondary">Aktiverede: {{ activated_pcs }} / {{ total_pcs }}</span>
      {# Originally this was online / activated, but it turns out a computer that isn't activated can still be online #}
      <span class="ms-3 badge bg-secondary">Online: {{ online_pcs }} / {{ total_pcs }}</span>
    </h2>
    <table class="table table-hover warn-table caption-top" data-toggle="table" id="site-status-table">
      <thead>
        <tr>
          <th data-sortable="true">Navn</th>
          <th data-sortable="true">Aktiveret</th>
          <th data-sortable="true">Beskrivelse</th>
          <th data-sortable="true">Placering</th>
          <th data-sortable="true">Status</th>
          <th data-sortable="true">Seneste tjek-ind</th>
          <th data-sortable="true">Seneste sikkerhedshændelse modtaget</th>
        </tr>
      </thead>
      <tbody>
          {% for pc in ls_pcs %}
        <tr class="click-list--item">
            <td><strong><a href="{% url 'computer' site_uid=site.uid pc_uid=pc.uid %}">{{ pc.name }}</a></strong></td>
            {% if pc.is_activated %}
              <td><span class="badge bg-success">Aktiveret</span></td>
            {% else %}
              <td><span class="badge bg-danger">Ikke aktiveret</span></td>
            {% endif %}
            <td>{{ pc.description }}</td>
            <td>{{ pc.location }}</td>
            <td>
              {% if pc.online %}
              <span class="badge bg-success">Online</span>
              {% elif pc.is_activated %}
              <span class="badge bg-danger">Offline</span>
              {% endif %}
            </td>
            <td>{% if pc.last_seen %}{{ pc.last_seen|timesince }} siden ({{ pc.last_seen }}) {% else %}Aldrig{% endif %}</td>
            <td>
            {% if pc.security_events.latest_event %}
	            {{ pc.security_events.latest_event.reported_time }}
            {% else %}
              Aldrig
            {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
  </div>
{% endblock %}
