{% extends "site_with_navigation.html" %}

{% block specific_title %}
Jobs
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
    var bibos_job_search_url = "{% url 'jobsearch' site.uid %}"
  </script>
  <script type="text/javascript" src="/static/js/jobs_list.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('[data-bs-toggle="collapse"]').on("click", function() {
        $(this).find('i').toggleClass('icon-chevron-up icon-chevron-down');
      });
    });
  </script>
{% endblock %}

{% block specific_content %}
  <div class="template-container">
   <table class="table">
    <tbody id="jobitem-template">
      <tr>
        <td><strong>#SCRIPT_NAME#</strong></td>
        <td>#STARTED#</td>
        <td>#FINISHED#</td>
        <td><span class="badge #LABEL#">#STATUS#</span></td>
        <td>#PC_NAME#</td>
        <td>#BATCH_NAME#</td>
        <td>#JOBINFOBUTTON#</td>
      </tr>
    </tbody>
   </table>
  </div>
  <div id="jobsearchnav" class="sublevelnav">

    <h3 class="nav-header">Filtrer</h3>
    <button class="btn btn-link float-end" type="button" onclick="BibOS.JobList.reset()">Nulstil filtre</button>
    <hr>

    <form id="jobsearch-filterform" name="filterform" action="./" method="post">
      <input type="hidden" name="batch" value="{{ selected_batch }}">
      <input type="hidden" name="pc" value="{{ selected_pc }}">
      <input type="hidden" name="group" value="{{ selected_group }}">
      <input type="hidden" name="orderby" value="-pk">
      <input type="hidden" name="page" value="1">
      <input class="btn btn-primary float-end" type="button" onclick="BibOS.JobList.reset()" value="Nulstil filtre">
      <h3 class="nav-header">Filtrér:</h3>
      <hr>
      <div id="jobsearch-status-selectors">
        <h3>Status</h3>
        {% for s in status_choices%}
      <label>
        <input type="checkbox" value="{{ s.value }}" name="status" {{ s.checked }}>
        <span class="badge {{ s.label }}">{{ s.name }}</span>
      </label>
      {% endfor %}
  </div>
      <hr>
      <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#batches"><i class="icon-chevron-down"></i> Batches</button>
      <div id="batches" class="collapse {% if selected_batch %} in{% endif %}">
        <ul class="unstyled">
          {% for batch in batches %}
          <li onclick="BibOS.JobList.selectBatch(this, '{{ batch.pk }}')" {% ifequal batch.pk selected_batch %}class="selected"{% endifequal %}>
            <i class="icon-list-alt icon-white"></i> {{ batch.name }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#computers"><i class="icon-chevron-down"></i> Computere</button>
      <div id="computers" class="collapse {% if selected_pc %} in{% endif %}">
        <ul class="unstyled">
          {% for pc in pcs %}
          <li onclick="BibOS.JobList.selectPC(this, '{{ pc.pk }}')" {% ifequal pc.pk selected_pc %}class="selected"{% endifequal %}>
            <i class="icon-hdd icon-white"></i> {{ pc.name }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#groups"><i class="icon-chevron-down"></i> Grupper</button>
      <div id="groups" class="collapse {% if selected_group %} in{% endif %}">
        <ul class="unstyled">
          {% for group in groups %}
          <li onclick="BibOS.JobList.selectGroup(this, '{{ group.pk }}')" {% ifequal group.pk selected_group %}class="selected"{% endifequal %}>
            <i class="icon-tags icon-white"></i> {{ group.name }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </form>
  </div>
  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    {% include 'notification.html' %}
    <table class="table jobtable">
      <thead>
        <tr>
          <th class="orderby order-batch__script__name desc" onclick="BibOS.JobList.orderby('batch__script__name')">Script <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-started desc" onclick="BibOS.JobList.orderby('started')">Startet <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-finished desc" onclick="BibOS.JobList.orderby('finished')">Sluttet <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-status desc" onclick="BibOS.JobList.orderby('status')">Status <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-pc__name desc" onclick="BibOS.JobList.orderby('pc__name')">Computer <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-batch__name desc" onclick="BibOS.JobList.orderby('batch__name')">Batch <i class="icon icon-chevron-down"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="job-list">
        <tr class="muted">
          <td colspan="8">Loading data...</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Job list page">
      <div id="pagination-count" class="muted"></div>
      <ul class="pagination">
      </ul>
    </nav>
  </div>
  
{% endblock %}
