{% extends "site_with_navigation.html" %}

{% block specific_title %}
Jobs
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
    var bibos_job_search_url = "{% url 'jobsearch' site.uid %}"
  </script>
  <script type="text/javascript" src="/static/js/jobs_list.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('[data-bs-toggle="collapse"]').on("click", function() {
        $(this).find('i').toggleClass('icon-chevron-up icon-chevron-down');
      });
    });
  </script>
{% endblock %}

{% block specific_content %}
  <div class="template-container">
   <table class="table">
    <tbody id="jobitem-template">
      <tr>
        <td><strong>#SCRIPT_NAME#</strong></td>
        <td>#STARTED#</td>
        <td>#FINISHED#</td>
        <td><span class="badge #LABEL#">#STATUS#</span></td>
        <td>#PC_NAME#</td>
        <td>#BATCH_NAME#</td>
        <td>#JOBINFOBUTTON#</td>
      </tr>
    </tbody>
   </table>
  </div>

  <div id="jobsearchnav" class="sublevelnav">

    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <h3 class="nav-header">Filtre</h3>
      <button class="btn btn-link" type="button" onclick="BibOS.JobList.reset()">Nulstil filtre</button>
    </div>

    <hr class="mt-0">

    <form id="jobsearch-filterform" name="filterform" action="./" method="post">

      <input type="hidden" name="batch" value="{{ selected_batch }}">
      <input type="hidden" name="pc" value="{{ selected_pc }}">
      <input type="hidden" name="group" value="{{ selected_group }}">
      <input type="hidden" name="orderby" value="-pk">
      <input type="hidden" name="page" value="1">

      <div id="jobsearch-status-selectors" class="px-3 pt-2">
        <h3 class="mb-3">Status</h3>
        {% for s in status_choices%}
          <div class="form-check mb-3">
            <input class="form-check-input" 
              id="id_{{ s.value }}_chkbx"
              type="checkbox" 
              value="{{ s.value }}" 
              name="status" 
              {{ s.checked }}>
            <label for="id_{{ s.value }}_chkbx" class="form-check-label">
              <span class="badge {{ s.label }}">{{ s.name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>

      <hr class="mb-0">

      <div class="list-collapsible">

        <a data-bs-toggle="collapse" href="#batches" role="button" aria-expanded="false" aria-controls="batches">
          <span class="material-icons">folder</span>
          <span class="collapse-label">
            Batches
          </span>
          <span class="material-icons collapse-arrow">arrow_drop_down</span>
        </a>

        <div id="batches" class="collapse collapse-content {% if selected_batch %}show{% endif %}">
          <ul class="item-list">
            {% for batch in batches %}
            <li>
              <button 
                type="button" 
                class="btn btn-link item-list-link {% ifequal batch.pk selected_batch %}active{% endifequal %}" 
                onclick="BibOS.JobList.selectBatch(this, '{{ batch.pk }}')">
                {{ batch.name }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>

        <a data-bs-toggle="collapse" href="#computers" role="button" aria-expanded="false" aria-controls="computers">
          <span class="material-icons">folder</span>
          <span class="collapse-label">
            Computere
          </span>
          <span class="material-icons collapse-arrow">arrow_drop_down</span>
        </a>

        <div id="computers" class="collapse collapse-content {% if selected_pc %}show{% endif %}">
          <ul class="item-list">
            {% for pc in pcs %}
              <li>
                <button 
                  type="button" 
                  class="btn btn-link item-list-link {% ifequal pc.pk selected_pc %}active{% endifequal %}" 
                  onclick="BibOS.JobList.selectPC(this, '{{ pc.pk }}')">
                  {{ pc.name }}
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>

        <a data-bs-toggle="collapse" href="#groups" role="button" aria-expanded="false" aria-controls="groups">
          <span class="material-icons">folder</span>
          <span class="collapse-label">
            Grupper
          </span>
          <span class="material-icons collapse-arrow">arrow_drop_down</span>
        </a>

        <div id="groups" class="collapse collapse-content {% if selected_group %}show{% endif %}">
          <ul class="item-list">
            {% for group in groups %}
              <li>
                <button 
                  type="button" 
                  class="btn btn-link item-list-link {% ifequal group.pk selected_group %}active{% endifequal %}" 
                  onclick="BibOS.JobList.selectGroup(this, '{{ group.pk }}')">
                  {{ group.name }}
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>

    </form>
  </div>
  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    {% include 'notification.html' %}
    <table class="table jobtable">
      <thead>
        <tr>
          <th class="orderby order-batch__script__name desc" onclick="BibOS.JobList.orderby('batch__script__name')">Script <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-started desc" onclick="BibOS.JobList.orderby('started')">Startet <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-finished desc" onclick="BibOS.JobList.orderby('finished')">Sluttet <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-status desc" onclick="BibOS.JobList.orderby('status')">Status <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-pc__name desc" onclick="BibOS.JobList.orderby('pc__name')">Computer <i class="icon icon-chevron-down"></i></th>
          <th class="orderby order-batch__name desc" onclick="BibOS.JobList.orderby('batch__name')">Batch <i class="icon icon-chevron-down"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="job-list">
        <tr class="muted">
          <td colspan="8">Loading data...</td>
        </tr>
      </tbody>
    </table>
    <nav class="pagination-wrapper" aria-label="Job list page">
      {% include 'widgets/pagination.html' %}
    </nav>
  </div>
  
{% endblock %}
