{% extends "site_with_navigation.html" %}

{% block specific_title %}
Sikkerhedsregler
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/userlist.js"></script>
{% endblock %}

{% block subnav %}
    <div id="security-problems-nav" class="sublevelnav">
        <div class="listutils">
            <button class="btn btn-link" data-bs-target="#addNewSecProblem" type="button" data-bs-toggle="modal">
                <span class="material-icons">add</span>
                Definér nyt sikkerhedsproblem
            </button>
        </div>
        <ul class="item-list">
            {% for sp in site.security_problems.all %}
                <li {% ifequal sp selected_security_problem %}class="active"{% endifequal %}>                
                    <a class="item-list-link" href="/site/{{ site.url }}/security_problems/{{ sp.uid }}/">
                        {{ sp.name }}
                    </a>
                    {% ifequal sp selected_security_problem %}
                        {% if selected_security_problem.is_delete_allowed %}
                            <a class="item-list-deletable material-icons" href="/site/{{ site.url }}/security_problems/{{ selected_security_problem.uid }}/delete/" title="Slet sikkerhedsproblem">
                                clear
                            </a>
                        {% endif %}
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block specific_content %}
<div class="container-fluid main sublevelmain">

    {% if selected_security_problem %}
    <h2 class="divideheader">
        Detaljer om <em>{{ selected_security_problem.name }}</em>
        {% comment %}
        TODO later?
        <a class="float-end" href="{% url 'security_problem' site_uid=site.url uid=selected_security_problem.id %}" title="Se alle hændelser for dette sikkerhedsproblem"><span class="badge badge-important"><icon class="icon-fire icon-white"></icon></span></a>
        {% endcomment %}
    </h2>
    {% include 'notification.html' %}

    <form name="updategroupform" 
        id="updategroupform"
        method="post" 
        class="gray-box">
        {% csrf_token %} 
        
        <div class="row gx-5">
            <fieldset class="col-12 col-lg-6">
                
                <!-- Site field -->
                <input type="hidden" id="id_site" name="site" value="{{ site.id }}">

                <p>
                    {{ form.name.errors }}
                    <label class="form-label" for="{{ form.name.id_for_label }}">Navn</label>
                    {{ form.name }}
                </p>

                <p>
                    {{ form.uid.errors }}
                    <label class="form-label" for="{{ form.uid.id_for_label }}">ID</label>
                    {{ form.uid }}
                </p>

                <p>
                    {{ form.description.errors }}
                    <label class="form-label" for="{{ form.description.id_for_label }}">Problemmeddelelse</label>
                    {{ form.description }}
                </p>

                <p>
                    {{ form.level.errors }}
                    <label class="form-label" for="{{ form.level.id_for_label }}">Alvorsgrad</label>
                    {{ form.level }}
                </p>

            </fieldset>

            <fieldset class="col-12 col-lg-6">

                <p>
                    {{ form.script.errors }}
                    <label class="form-label" for="{{ form.script.id_for_label }}">Script</label>
                    {{ form.script }}
                </p>

                <p>
                    {{ form.alert_groups.errors }}
                    <label class="form-label" for="{{ form.alert_groups.id_for_label }}">Overvågede grupper</label>
                    {{ form.alert_groups }}
                </p>

                <p>
                    {{ form.alert_users.errors }}
                    <label class="form-label" for="{{ form.alert_users.id_for_label }}">Modtager(e) af email-advarsel</label>
                    {{ form.alert_users }}
                </p>

            </fieldset>

        </div>

        <fieldset class="mt-3">
            <button class="btn btn-primary me-3" type="submit">Gem ændringer</button>
            <button class="btn btn-secondary" type="button" onclick="return BibOS.SecurityProblemList.cancelEditing()">Annuller</button>
        </fieldset>

    </form>
    {% endif %}

    <div id="addNewSecProblem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'security_problem_new' site.uid %}" 
                        name="new_security_problem_form"
                        id="new_security_problem_form" 
                        method="post">
                    <div class="modal-header">
                        <h3 class="modal-title">Definér nyt sikkerhedsproblem</h3>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        <fieldset>

                            <!-- Site field -->
                            <input type="hidden" id="id_site" name="site" value="{{ site.id }}">

                            <!-- And now the rest -->
                            <p>
                                {{ newform.name.errors }}
                                <label for="{{ newform.name.id_for_label }}" class="form-label">Navn</label>
                                {{ newform.name }}
                            </p>

                            <p>
                                {{ newform.uid.errors }}
                                <label for="{{ newform.uid.id_for_label }}" class="form-label">Id</label>
                                {{ newform.uid }}
                            </p>

                            <p>
                                {{ newform.description.errors }}
                                <label for="{{ newform.description.id_for_label }}" class="form-label">Problemmeddelelse</label>
                                {{ newform.description }}
                            </p>

                            <p>
                                {{ newform.level.errors }}
                                <label for="{{ newform.level.id_for_label }}" class="form-label">Alvorsgrad</label>
                                {{ newform.level }}
                            </p>

                            <p>
                                {{ newform.script.errors }}
                                <label for="{{ newform.script.id_for_label }}" class="form-label">Script</label>
                                {{ newform.script }}
                            </p>

                            <p>
                                {{ newform.alert_groups.errors }}
                                <label for="{{ newform.alert_groups.id_for_label }}" class="form-label">Overvåg følgende grupper</label>
                                {{ newform.alert_groups }}
                            </p>

                            <p>
                                {{ newform.alert_users.errors }}
                                <label for="{{ newform.alert_users.id_for_label }}" class="form-label">Modtager(e) af email-advarsel</label>
                                {{ newform.alert_users }}
                            </p>

                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Gem">
                        <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Annuller">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
