{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% block specific_title %}
Sikkerhedshændelser
{% endblock %}

{% block head_javascripts %}
  <script type="text/javascript">
       var security_event_search_url = "{% url 'security_event_search' site.uid %}"
       var security_events_update_url = "{% url 'security_events_update' site.uid %}"
  </script>
  <script type="text/javascript" src="/static/js/security_events_list.js"></script>
{% endblock %}

{% block subnav %}
  <div id="securityeventsearchnav" class="sublevelnav">

    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <h3 class="nav-header">Filtre</h3>
      <button class="btn btn-link" type="button" onclick="BibOS.SecurityEventList.reset()">
        Nulstil filtre
      </button>
    </div>

    <hr class="mt-0">

    <form id="securityeventsearch-filterform" name="filterform" action="./" method="post">

      <input type="hidden" name="orderby" value="-pk">
      <input type="hidden" name="page" value="1">

      <div id="securityeventsearch-level-selectors" class="px-3 pt-2">
        <h4 class="mb-3">Alvorlighedsgrad</h4>
        {% for l in level_choices %}
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="chkbx-{{ l.value }}" value="{{ l.value }}" name="level" {{ l.checked }}>
            <label class="form-check-label" for="chkbx-{{ l.value }}">
              <span class="badge badge-{{ l.label }}">{{ l.name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>

      <hr>

      <div id="securityeventsearch-status-selectors" class="px-3 pt-2">
        <h4 class="mb-3">Status</h4>
          {% for s in status_choices %}
          <div class="form-check mb-3">
            <input class="form-check-input" id="chkbx-{{ s.value }}" type="checkbox" value="{{ s.value }}" name="status" {{ s.checked }}>
            <label class="form-check-label" for="chkbx-{{ s.value }}">
              <span class="badge {{ s.label }}">{{ s.name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>

      <hr>

    </form>
  </div>
{% endblock %}

{% block specific_content %}
<!-- Security Event Template -->
  <div class="template-container">
   <table class="table">
    <tbody id="securityeventitem-template">
      <tr class="click-list--item">
        <td><input type="checkbox"/></td>
        <td><span class="badge badge-#LEVEL_LABEL#">#LEVEL#</span></td> 
        <td><strong>#PROBLEM_NAME#</strong></td>
        <td>#PC_NAME#</td>
        <td>#OCCURRED#</td>
        <td>#REPORTED#</td>
        <td><span class="badge #STATUS_LABEL#">#STATUS#</span></td>
        <td>#ASSIGNED_USER#</td>
        <td>#LOG_OUTPUT_BUTTON#</td>
      </tr>
    </tbody>
   </table>
  </div>

<!-- Handle Events Modal -->
<div class="modal fade" id="handle_events_modal" tabindex="-1" aria-labelledby="handle_events_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="handle_events_modal_label">Rediger Sikkerhedsadvarsler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button id="handle_events_save_button" type="button" class="btn btn-primary">Gem</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid main sublevelmain" style="overflow-x: auto;">
    {% include 'notification.html' %}
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#handle_events_modal">Håndter advarsler</button>
    <table class="table table-hover table-extendable" id="site_securityevents_table">
      <thead>
        <tr>
          <th><input type="checkbox" value="" id="all_events_toggle"/></th>
          <th>Alvorlighedsgrad</th>
          {% include 'widgets/orderby_th_ajax.html' with label='Regel' action="BibOS.SecurityEventList.orderby('problem__name')" slug='warning' %}
          <th>Maskine</th>
          <th>Hændelsestidspunkt</th>
          <th>Modtagelsestidspunkt</th>
          <th>Status</th>
          {% include 'widgets/orderby_th_ajax.html' with label='Håndteres af' action="BibOS.SecurityEventList.orderby('assigned_user__username')" slug='handleby' %}
          <th>Log-output</th>
        </tr>
      </thead>
      <tbody id="securityevent-list">
        <tr class="muted">
          <td colspan="5">Loading data...</td>
        </tr>
      </tbody>
    </table>
    <nav class="pagination-wrapper" aria-label="Security event list page">
      {% include 'widgets/pagination.html' %}
    </nav>
  </div>
{% endblock %}
